html, body {
    padding: 0px;
    margin: 0px;
    font-family: "Microsoft YaHei", "SimSun", Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}
input, select, textarea,button {
    font-family: "Microsoft YaHei", "SimSun", Arial, Helvetica, sans-serif;
}
button:hover,
input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover,
button:focus{
    color: #333;
    text-decoration: none;
}
input[type=button]:active, input[type=reset]:active, input[type=submit]:active,
button:active {
    outline: 0;
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.5) inset;
}
button.disabled,
button[disabled]{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
a{ text-decoration:none; color:#000;}
a:hover{color:#e4403f; text-decoration: blink;}
header, footer, section, aside, article, nav, hgroup, figure, figcaption, body, h1, h2, h3, h4, h5, h6, ul, ol, li, form, p, dl, dt, dd, blockquote, legend, table, th, td, fieldset, menu, pre {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}

#head{
    background-color: #ededed;
    padding: 5px;
    font-size: 12px;
    background: url("/resources/act/image/user_head_bg.jpg") no-repeat;
    background-size: cover;
    color:white;
    border-bottom: 1px solid #b0b0b0;
}
#head table{
    font-size: 12px;
    color:white;
}


 #Dialog{
     position: fixed;
     top: 0px;
     left: 0px;
     right: 0px;
     bottom: 0px;
     background-color: rgba(0, 0, 0, 0.75);
 }
#Dialog .content{
    width: 70%;
    border-radius: 5px;
    background-color:white;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    top: 25%;
    left: 15%;
    right: 15%;
}
#Dialog .content .text,#Dialog .content .btn{
    margin: 10px;
    text-align: center;
}
#Dialog .content .text h3{
    color: #181818;
}
#Dialog .content .text h5{
    color: #676767;
}
#Dialog .content .btn table td button{
    width: 100%;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 0px;
    font-weight:bold;
    box-shadow: 0px -3px 0px rgba(0,0,0,0.2) inset;
}
#Dialog .content .btn table td.red button{
    background-color: #e4403f;
    color: white;
}
#Dialog .content .btn table td.grey button{
    background-color: #cccccc;
    color: #5c5c5c;
}



#linkMeICON{
    background: url("/resources/act/image/linkme.png") no-repeat;
    background-size: contain;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
}
#linkMeBox{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background: url("/resources/act/image/linkme_bg.jpg") no-repeat center;
    background-size: cover;
}

#linkMeBox .ltitle{
    color: white;
    font-size: 13px;
    margin: 10px;
    line-height: 24px;
    margin-top: 50px;
}
#linkMeBox .lclose{
    width: 30px;
    height: 30px;
    background: url("/resources/act/img/mix-icon.png") no-repeat;
    background-size: 300px 300px;
    background-position: -130px -50px;
    display:inline-block;
    margin-top: 10px;
}

#linkMeBox .lbox .lqrcode{
    width: 80%;
    margin: 0px auto;


}