/*create by zm main css*/
*{
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0); /*去掉文本点击高亮颜色*/
    -moz-tap-highlight-color: rgba(255,255,255,0);
}

body,html
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #f5f5f5;
    font:normal 15px/20px "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
}

/*一级标题*/
.first-title
{
    display: block;
    font-size: 20px;
    padding: 10px 0;
}

/*二级标题*/
.second-title {
    display: block;
    font-size: 16px;
    padding: 10px 0;
}

/*左对齐*/
.position-left{
    position: relative;
    float: left;
    display: block;
    margin-left: 10px;
}

/*右对齐*/
.position-right{
    position: relative;
    float: right;
    display: block;
    margin-right: 10px;
}

/*红色提示样式*/
.warm-prompt{
    display: block;
    color: #FF5511;
}

/*普通提示*/
.normal-prompt{
    display: block;
    font-size: 12px;
    color:#FF5511  ;
}

/*超链接提示*/
.link-prompt{
    color: #ED5736 !important;
    position: relative;
    text-decoration: underline;
    margin-left: 10px;
    line-height: 1.5em;
    height: 1.5em;
}


/*普通文本*/
.normal-text{
    font-size: 13px;
    color: #636363;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.green-text{
    color: #07C014 !important;
}

.red-text {
    color: #FF5511!important;
}

/*边框线*/
.t-border{
    border-top: 1px solid #d3d3d3;
    cursor: pointer;
}
.b-border{
    border-bottom: 1px solid #d3d3d3;
}

.tb-border{
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.a-border{
    border: 1px solid #d3d3d3;
}

.border-radius{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

/*文本框样式*/
textarea,select,input{
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0); /*去掉文本点击高亮颜色*/
    -moz-tap-highlight-color: rgba(255,255,255,0);
}

select,textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    line-height: 20px;
    margin: 5px 0;
}
input[type='tel'],input[type='text'],input[type='password'] {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    line-height: 20px;
}


input[type='text']:disabled{
    background: rgba(255,255,255,0);
}

input[type='submit'],input[type='button']
{
    box-sizing: border-box;
    margin: 15px 0;
    width: 100%;
    border-radius: 5px;
    line-height: 50px;
    background: #ed5736;
    font-size: 20px;
    color: #fff;
}

input[type='submit']:active,input[type='button']:active
{
    font-size: 24px;
    outline: none;
}



/*订单样式*/
.item-list{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    list-style: none;
    background: #fff;
    overflow: hidden;
}

.item-list>li{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
}

.item-list>li>label{
    position: absolute;
    width: 70px;
    vertical-align: middle;
    padding-left:10px;
}

.item-list>li>input{
    padding-left: 80px;
    padding-right: 10px;
    font-size: 15px;
}

.item-list>li>select{
    padding-left: 80px;
    padding-right: 10px;
    font-size: 15px;
    color: #636363;
}


.item-list>li>textarea{
    padding-left: 80px;
    padding-right: 10px;
    font-size: 15px;
    height: 60px;
}


/*无查询数据提示*/
.no-data
{
    text-align: center;
    background: #f5f5f5;
}

/*网格样式*/
.form-rows {
    display: block;
    overflow: hidden
}
.form-cols {
    float: left;
    box-sizing: border-box;
    width: 100%
}
.form-col-10 {
    width: 10%;
}
.form-col-20 {
    width: 20%
}

.form-col-25 {
    width: 25%
}

.form-col-30 {
    width: 30%
}

.form-col-33 {
    width: 33.3333%
}
.form-col-45 {
    width: 45%
}
.form-col-50 {
    width: 50%
}
.form-col-65{
    width: 65%;
}
.form-col-67 {
    width: 66.6666%
}

.form-col-70 {
    width: 70%
}

.form-col-75 {
    width: 75%
}
.form-col-80 {
    width: 80%
}
.form-col-90 {
    width: 89%
}
.red{
    color:#ed5736!important;
}
.pay:before{
    content:"Z";
    color: #ED5736;
}
.payNo:before{
    content:"V";
}

/*文本placeholder样式*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
{
    color: #636363;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #636363;
}


/*寄、收标识样式*/
.square-ji,.square-shou{
    display: block;
    color:#fff;
    width:35px;
    height:35px;
    border-radius:4px;
    line-height:35px;
    text-align: center;
    font-size:16px;
    font-weight: 600;
    overflow:hidden;
}
.square-ji{
    border:1px solid #ed5736;
    background-color:#ed5736;
}
.square-shou{
    border:1px solid #07C014;
    background-color:#07C014;
}
.square-sm{
    width:20px;
    height:20px;
    line-height:18px;
    font-size:12px;
}

.square-ji-l,.square-shou-l{
    width:20px;
    height:20px;
    line-height:20px;
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
}


/*公共区域样式*/
.common-area{
    display: block;
    width: 100%;
    background: #fff;
    margin-top: 10px;
}
/*寄收件区域样式*/
.order-user{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #D3D3D3;
    cursor: pointer;
}

.order-user>div>span{
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.order-user>div>label{
    margin-left: 10px;
    font-size: 14px;
    float: left;
    line-height: 35px;
}
.order-user>div>p{
    font-size: 16px;
    color: #636363;
    line-height: 4.5em;
}


/*并排显示*/
.display-inline{
    display: inline-block;
}

/*文本间隔*/
.text-pl{
    padding-left:15px;
}

.text-pr{
    padding-right: 15px;
}

.text-area {
    padding-left: 5px;
    font-size: 14px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

/*绝对定位*/
.position-ab{
    position: absolute;
    right: 15px;
    /*font-size: 20px; */
    top: 10px;
}

/*文本内外边距*/
.text-padding{
    padding: 10px 0 5px;
}

.text-margin{
    margin: 10px 0 5px;
}



/*遮罩样式*/
.layer-sec{
    position:fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.1);
}

/*底部弹出区域样式及动画效果*/
.bottom-jump{
    position: fixed;
    display: none;
    z-index: 110;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    background:  #fff;
}

.bottom-jump>div{
    margin: 10px;
}

.bottom-animation{
    display: block;
    animation:bottomtotop .5s ease;
    -webkit-animation: bottomtotop .5s ease;
    -moz-animation: bottomtotop .5s ease;
}

@keyframes bottomtotop{
    0%{bottom: -1000px;}
    100%{bottom: 0;}
}

@-webkit-keyframes bottomtotop{
    0%{bottom: -1000px;}
    100%{bottom: 0;}
}

@-moz-keyframes bottomtotop{
    0%{bottom: -500px;}
    100%{bottom: 0;}
}


/*信息遮罩区域*/
.layer-info{
    position:absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
    overflow-y: auto;
    background: #F5F5F5;
}
address-component{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
    overflow-y: auto;
    background: #F5F5F5;
}
image-uploader{
    padding-left: 80px;
    padding-right: 10px;
    font-size: 15px;
}
.righttoleft-animation{
    display: block;
    animation:righttoleft .5s ease;
    -webkit-animation: righttoleft .5s ease;
    -moz-animation: righttoleft .5s ease;
}
@keyframes righttoleft{
    0%{transform:translateX(1000px)}
    100%{transform:translateX(0px)}
}

@-webkit-keyframes righttoleft{
    0%{-webkit-transform:translateX(1000px)}
    100%{-webkit-transform:translateX(0px)}
}

@-moz-keyframes righttoleft{
    0%{-moz-transform:translateX(1000px)}
    100%{-moz-transform:translateX(0px)}
}


.layer-info .top-bar{
    display: block;
    width: 100%;
    line-height: 50px;
    height: 50px;
}


.explain-list{
    position: absolute;
    top:50px;
    background: #fff;
    width: 100%;
}
.explain-list>ul{
    padding: 10px;
    counter-reset:sectioncounter;
}

.explain-list>ul>li{
    line-height: 16px;
    margin: 10px 0;
}

.explain-list>ul>li:before{
    content:counter(sectioncounter) "、";
    counter-increment:sectioncounter;
}

/*关闭按钮样式*/
.btn-close{
    color: #07C014 !important;
    line-height: 40px;
    margin-bottom: 10px;
}

.btn-warm
{
    font-size: 1.5em !important;
    color: #ED5736 !important;
}


/*显示或隐藏样式*/
.show{
    display: block;
}

.hide{
    display: none;
}


/*信息列表*/
.info-list
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    list-style: none;
    background: #fff;
    overflow: hidden;
}


.info-list>li{
    padding: 10px 0 15px;
    height: 90px;
}

.info-list>li>div>span{
    margin-left: 5px;
    line-height: 90px;
}

.div-padding{
    padding: 5px;
}


/*普通备注信息样式*/
.remark-item{
    display: block;
    margin: 10px;
}

.remark-item .items{
    line-height: 25px;
}


/*验证码按钮*/
.btn-smssend
{
    display: block;
    width: 85px;
    height: 37px;
    font-size: 13px;
    text-align: center;
    line-height: 37px;
    background: #ED5736;
    color: #fff;
    border-radius: 3px;
}

/*图片验证样式*/
.img-valid{
    height: 40px;
    width: 85px;
}

/*member*/
.member-area{
    width: 100%;
    background: -webkit-linear-gradient( #97A3AA , #798891); /* Safari 5.1 - 6.0 */
    background: linear-gradient( #97A3AA ,#798891);
    height: 120px;
    color: #fff;
}

.head-img{
    border-radius: 50%;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    width: 60px;
    height: 60px;
    margin: 30px 0 30px 10px;
}

.head-img img{
    border: 0 none;
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

img{
    vertical-align: middle;
}

.member-login{
    width: 100%;
    margin:0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.member-login a{
    line-height: 20px;
    background: #BDBDCA;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
}

.member-tips{
    display: block;
    text-align: center;
}

.member-tips label{
    font-size: 12px;
}

.member-menu
{
    display: block;
    margin: 2%;
}
.member-menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.member-menu ul li
{
    width: 27%;
    height: 80px;
    float: left;
    margin: 5% 3%;
    text-align: center;
    -webkit-tap-highlight-color: transparent;  /*去掉点击时的阴影*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.member-menu ul li span
{
    font-family: 'ytoicon';
    font-size: 40px;
    line-height: 50px;
    height: 50px;
    color: #ed5736;
    vertical-align: middle;
}


.member-menu ul li label
{
    font-size: 12px;
    display: block;
}


/*选项卡样式*/
.tab-selected {;
    background:#636363;
    color: #fff;
}

/*居中显示*/
.align-center {
    text-align: center;
}

/*省市区样式*/
.dqld_div { height: 100%; width: 100%; color: #999; }
.dqld_div ul { list-style-type: none; background-color: #fff; }
.dqld_div ul li { height: 45px; line-height: 45px; border-bottom: 1px solid #cccccc; }


#AddressinfoDiv{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    z-index: 8888;
}

#OrderArea .common-area ul li .image{
    list-style: none;
    padding: 0px;
    margin: 0px 0px 0px 10px;

}
#OrderArea .common-area ul li .image li{
    float: left;
    width: 64px;
    height: 64px;
    border: 1px solid #696969;
    line-height: 64px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
#OrderArea .common-area ul li .image li img{
    vertical-align: middle;
}


.sub-button
{
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    line-height: 45px !important;
    background: #ed5736;
    font-size: 18px !important;
    color: #fff;
}


/*选项卡样式列头*/
.tab-head{
    display: block;
    width: 100%;
    height: 40px;
    background: #fff;

}

.tab-head ul{
    list-style: none;
}

.tab-head ul li{
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 38px;
    width: 33.3333%;
}

.tab-select{
    color: #ED5736;
    border-bottom: 2px solid #ED5736;
}

/*抵用券显示样式*/
.voucher-list{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    list-style: none;
    background: #fff;
    overflow: hidden;

}
.voucher-list li{
    height: 55px;
    display: block;
    padding: 15px 0;
}

.voucher-list li .voucher-num {
    position: relative;
    margin:0 auto;
    width: 55px;
    height: 55px;
    background: url(../images/voucher-yellow.png);
    background-size: contain;
}

.voucher-list li .voucher-num div{
    position: absolute;
    line-height: 55px;
    width: 55px;
    text-align: center;
    color: #fff;
}

.voucher-list li div label{
    display: block;
    line-height: 20px;
    vertical-align: middle;
}

.voucher-pad{
    padding: 7.5px 0;
}
.voucher-list li div label:last-child{
    color: #999999;
}

.voucher-list li .voucher-used {
    position: relative;
    margin:0 auto;
    width: 55px;
    height: 55px;
    background: url(../images/voucher-gray.png);
    background-position: center;
    background-size: 55px 55px;
}

.voucher-number{
    font-size: 24px;
    font-weight: 700;
    margin-right: 3px;
}

.voucher-list li .voucher-used div{
    position: absolute;
    line-height: 55px;
    width: 55px;
    text-align: center;
    color: #fff;
}

.voucher-list li .voucher-exprite {
    position: absolute;
    right: 5%;
    width: 55px;
    height: 55px;
    background: url(../images/exprite.png);
    background-position: center;
    background-size: 55px 55px;
}


/*选中样式*/
.voucher-li-select {
    border: none;
    background: #ccccff;
}


/*抵用券兑换*/
.available_integrals
{
    text-align:center;
    padding:10px 0;
}
.available_integrals p
{
    font-size:medium;
}

.available_integrals span
{
    color:#EC5736;
    font-size:large;
    line-height:32px;
}
.square-coupon-yellow
{
    background-image:url(../images/voucher-yellow.png);
    background-size:cover;
    width:40%;
    height:60px;
    text-align:center;
    float:left;
}
.square-coupon-yellow .number
{
    margin-left:15%;
    font-size:32px;
    font-weight:900;
    color:White;
    line-height:60px;
    float:left;
}
.square-coupon-yellow .yuan
{
    font-size:20px;
    margin-left:2px;
    color:White;
    float:left;
    line-height:62px;
}
.square-coupon-remark
{
    font-size:10px;
    color:White;
    color:White;
    background-image:url(../images/coupon-remark.png);
    background-size:cover;
    width:60%;
    height:60px;
    float:left;
}

.square-coupon-remark p {
    line-height: 17px;
}

.img-minus
{
    height:40px;
    margin-top:10px;
    float:right;
}

.img-plus
{
    height:40px;
    margin-top:10px;
    margin-right: 15px;
    float:right;
}

.span_number
{
    position:relative;
    display:block;
    font-size:24px;
    height:40px;
    width: 45px;
    margin-top:10px;
    line-height:36px;
    float:right;
    text-align:center;

}

.bottom-border
{
    border-bottom:2px solid #F6F5FA;
}

.change-list>li
{
    height:75px;
}

.change-list
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    list-style: none;
    background: #fff;
    overflow: hidden;
}

.change-list>li{
    padding: 10px 0 15px;
    height: 90px;
}

.change-list>li>div>span{
    margin-left: 5px;
    line-height: 90px;
}

.change-list>li {
    height: 70px !important;
    border-bottom:1px solid #F5F5F5;

}



.modal
{
    /*弹出窗口定位在页面中间的样式*/
    position: fixed;
    top:50%;
    left:50%;
    width:86%;
    height:355px;
    margin-left: -43%;
    margin-top: -175px;
    background:rgba(0,0,0,0.5);
    text-align: center;
    z-index:10;
    outline:9999px solid rgba(0,0,0,0.5);


}
.container
{
    width:100%;
    height:100%;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:#fff;
}

.modal_box>img
{
    width:100%;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.span_0
{
    margin-top:-20px;
    font-size:18px;
}
.p_red
{
    margin-top:10px;
    color:Red;
}

.modal_box
{
    height:300px;
}
.modal_foot
{
    height:20px;
    border-top:1px solid #C7C7C7;
}

.modal_submit
{
    border-radius:0px !important;
    background:#fff !important;
    margin:0 0 !important;
    color:#000 !important;

}

.span-voucher
{
    margin-top:16px;
    color:#999999;
    text-align:center;

}

/*二维码*/
.qrcode-div
{
    position: absolute;
    display:block;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -100px;
}


/*催件提示显示*/
.call-overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 200; /* 此处的图层要大于页面 */
    background: rgba(12,12,12,0.2);
}

.call-content
{
    display: block;
    position: relative;
    width:90%;
    height: 250px;
    margin: 0 5%;
    background: #fff;
    border-radius: 5px;
    top: 50%;
    margin-top: -150px;
}

.call-btndiv
{
    display: block;
    text-align: right;
    width: 100%;
    margin-right: 5%;
    height: 54px;
    line-height: 54px;
}

.a-btn
{
    display: inline-block;
    font-size: 1em;
    background: #ed5736;
    color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 5%;
    padding:4px 15px;
    border-radius: 5px;
}


.call-content textarea
{
    height: 120px;
    font-size: 14px;
    width: 90%;
    margin: 15px 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.call-title {
    line-height: 40px;
    margin-left: 5%;
    color: #ec5736;
}

.headBar{
    width: 100%;
    line-height: 35px;
    background-color: #ec5736;
    color:whitesmoke;
    text-indent: 10px;

}
.headBar .my{
    float: right;
    margin-right: 10px;
}
.headBar a{
    color: white;
}
@media screen and (min-width:641px)
{
    body
    {
        margin:auto;
        max-width: 640px;

    }

}

/*默认图标样式*/
@font-face {
    font-family: 'ytoicon';
    src: url('/resources/act/css/fonts/YtoIcons.eot'); /* IE9*/
    src: url('/resources/act/css/fonts/YtoIcons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/resources/act/css/fonts/YtoIcons.woff') format('woff'), /* chrome、firefox */
    url('/resources/act/css/fonts/YtoIcons.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/resources/act/css/fonts/YtoIcons.svg#svgFontName') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:'ytoicon' !important;
    font-size:2em;
    color: #D3D3D3;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


/*图标样式*/
.icon-simple-close:before{content:"&#x4d;";}
.icon-close:before{	content: "&#x51;";}
.icon-simple-add:before{	content:"&#x4c;" ;}
.icon-add:before{	content: "&#x50;";}
.icon-check:before{	content: "&#x4e;";}
.icon-success:before{	content: "&#x52;";}
.icon-location:before{ content: "&#xe01d;";}
.icon-map:before{content: "&#xe01f;";}
.icon-scan:before{content: "&#xe094;";}
.icon-up:before{content: "&#x32;";}
.icon-down:before{content: "&#x33;";}
.icon-left:before{content: "&#x34;";}
.icon-right:before{content:"&#x35;";}
.icon-menu:before{content: "&#x64;";}
.icon-warm:before{content: "&#x72;";}
.icon-remind:before{content: "&#x70;";}
.icon-problem:before{content: "&#x74;";}
.icon-message:before{content: "&#x76;";}
.icon-count:before{content: "&#xe0ee;";}
.icon-edit:before{content: "&#x6c;";}
.icon-text:before{content: "&#x68;";}
.icon-history:before{content: "&#x7d;";}
.icon-home:before{content: "&#xe009;";}
.icon-gift:before{content: "&#xe008;";}
.icon-phone:before{content: "&#xe00b;";}
.icon-card:before{content: "&#xe014;";}
.icon-delete:before{content: "&#xe019;";}
.icon-date:before{content: "&#xe023;";}
.icon-peoples:before{content: "&#xe026;";}
.icon-attention:before{content: "&#xe030;";}
.icon-save:before{content: "&#xe0e8;";}
.icon-money:before{content: "&#xe0ed;";}
.icon-set:before{content: "&#xe037;";}
.icon-camera:before{content: "&#xe00f;";}
.icon-fee:before{content: "&#xe096;";}