body {
    background: #eee;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;

}

.swiper-container{
    width: 100%;
    height: 240px;
    margin: 0px auto;
}
.swiper-pagination{
    z-index: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-wrapper,.swiper-container{
    z-index: auto!important;
}
.content{
    max-width: 640px;
    margin: 0px auto;
    background-color: white;
}
.content .info,.content .head_bar{
    margin: 10px;
}
.content .head_bar .subleft .information{
    margin: 5px 0px;
}
.content .head_bar .subleft .title{
   color: #333;
}
.content .head_bar .subleft .soldcount{
    color: #888;
}
.content .head_bar .subleft .information .price{
    font-size: 18px;
    color: red;
}
.content .info .title{
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 3px 0px;
    color: #888;
}
.content .description{
    margin-top: 5px;
    margin-bottom: 10px;
}
.content .order{
    margin: 0px 10px;
}
.content .order .btn{
    width: 100%;
    background-color: #c10000;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    line-height: 28px;
}
#select_order{
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    max-width: 640px;
    margin: 0px auto;
}
#select_order .box{
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #eee;

}
#select_order .box .bo{
    margin: 10px;
}
#select_order .box .bo input{
    width: 100%;
}