#order .content{

}
#order .content #user-bar{

}
#order section .request_top_border {
    width: 100%;
    height: 5px;
    position: absolute;
    background-image: url("/resources/act/img/top_border.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: 10px;
}
#order section{
    margin-top: 10px;
    line-height: 40px;
    position: relative;
    background: white;
    color: #333;
}
#order section label{
   font-size: 14px;padding-left: 10px;

}
#order section label.name{
    font-weight: bold;
}
#order section a.next{
    position: absolute;
    right: 0px;
    padding: 0 15px;
    overflow: hidden;
    top: 0px;
}
#order section a.select{
    position: absolute;
    right: 0px;
    padding: 0 15px;
    overflow: hidden;
    top: 0px;
}
#order section ul.plist{
    border-top: 1px solid #cfcfcf;
    margin: 0px 10px;
}
#order section ul.plist li.p{
    border-bottom: 1px solid #cfcfcf;
}