


.m-user-summary {
    height: 100px;
    overflow: hidden;
    background-color: #D83652;
    position: relative;
    font-size: 12px;
}
.m-user-summary .bg {
    min-width: 320px;
}
.m-user-summary .info {
    position: absolute;
    left: 15px;
    top: 23px;
    line-height: normal;
    color: #fff;
}
.m-user-avatar img {
    border: 2px solid #FFF;
    border-radius: 2px;
}

.w-button-s {
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.w-button {
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background: #3399FE;
    border-width: 0;
    border-style: solid;
    border-color: #1B7DE0;
    padding: 0 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none!important;
    outline: none;
}
.m-user-summary .aside {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    height: 100px;
    padding-right: 15px;
    padding-left: 40px;
    line-height: 100px;
}
.m-user-summary .txt {
    position: absolute;
    left: 66px;
    top: 5px;
    white-space: nowrap;
}
.m-user-summary .txt .name {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin-top: 0px;
}
.m-user-summary .txt .money {
    padding-top: 10px;
}
.m-user-summary-btn-normal {
    background-color: #fff;
    border-width: 0;
    color: #D9304D;
    box-shadow: 1px 1px 1px RGBA(0,0,0,0);
    margin-left: 20px;
    vertical-align: top;
    position: relative;
    top: -4px;
}
.ico-next {
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.m-user-index .m-user-bar {
    margin-bottom: 10px;
}
.m-user-bar {
    margin-top: 10px;
}
.m-user-bar .m-user-bar-border {
    border-width: 1px 0;
}
.m-user-bar .w-bar {
    color: #656565;
    font-size: 14px;
    border-color: #DCDCDC;
    border-width: 0 0 1px 0;
    margin-bottom: 0;
}
.w-bar {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0 14px;
    line-height: 45px;
    color: #525252;
    margin-bottom: -1px;
    border: solid #d5d5d5;
    border-width: 1px 0;
    background: #fff;
}
.m-user-bar .w-bar-ext {
    color: #A9A9A9;
}
.w-bar-ext {
    float: right;
    color: #a9a9a9;
}
.m-user-bar .w-bar {
    color: #656565;
    font-size: 14px;
    border-color: #DCDCDC;
    border-width: 0 0 1px 0;
    margin-bottom: 0;
}
.w-bar {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0 14px;
    line-height: 45px;
    color: #525252;
    margin-bottom: -1px;
    border: solid #d5d5d5;
    border-width: 1px 0;
    background: #fff;
}
.m-user-bar-margin {
    margin-top: 10px;
}
.express_order .box{
    border: 1px solid #DCDCDC;
    padding: 10px;
    margin-top: 10px;
}
#alert_pay{
    max-width: 640px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0px;

    bottom: 0px;
    z-index: 99;
    margin: 0px auto;
}
#alert_pay .box{
    background-color: white;
    border-radius: 3px;
    margin: 75px 10px;
    padding: 10px;
}
#alert_pay .box p{
    margin-top: 10px;
}
#alert_pay .box -input{
    width: 100%;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 18px;
    line-height: 18px;
    height: 28px;
    text-indent: 5px;
}