<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>   
    <link rel="stylesheet" href="/resources/mall/css/default.css"/>
</head>
<body>
<div id="header">
   <div class="bar">dfd</div>
   <div class="slider">
        <ul>
            <li>sdfsd</li>
        </ul>
   </div>
</div>
<div id="content">

    <div class="aboutus">
        <h1>aboutus</h1>
        <p>我们是最好的 因为我们是TUPO</p> 
        <ul>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
        </ul>   
    </div>
    <div class="product">
        <h1>精选 产品</h1>
        <p>我们是最好的 因为我们是TUPO</p> 
        <ul>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
        </ul>   
    </div>

    <div class="partner">
        <h1>合作伙伴</h1>
        <p>我们是最好的 因为我们是TUPO</p> 
        <ul>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
            <li>sdfds</li>
        </ul>   
    </div>
    
</div>

</body>
</html>