<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        window.URL = window.URL || window.webkitURL;
        window.MediaSource = window.MediaSource || window.WebKitMediaSource;

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
        navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia;


        alert(navigator.getUserMedia)


        if(!!! window.MediaSource)
        {
            alert('MediaSource API is not available!');

        }




        var SRecorder = function(stream) {
            config = {};

            config.sampleBits = config.smapleBits || 8;
            config.sampleRate = config.sampleRate || (44100 / 6);

            var context = new AudioContext();
            var audioInput = context.createMediaStreamSource(stream);
            var recorder = context.createScriptProcessor(4096, 1, 1);

            var audioData = {
                size: 0          //录音文件长度
                , buffer: []    //录音缓存
                , inputSampleRate: context.sampleRate    //输入采样率
                , inputSampleBits: 16      //输入采样数位 8, 16
                , outputSampleRate: config.sampleRate    //输出采样率
                , oututSampleBits: config.sampleBits      //输出采样数位 8, 16
                , clear: function() {
                    this.buffer = [];
                    this.size = 0;
                }
                , input: function (data) {
                    this.buffer.push(new Float32Array(data));
                    this.size += data.length;
                }
                , compress: function () { //合并压缩
                    //合并
                    var data = new Float32Array(this.size);
                    var offset = 0;
                    for (var i = 0; i < this.buffer.length; i++) {
                        data.set(this.buffer[i], offset);
                        offset += this.buffer[i].length;
                    }
                    //压缩
                    var compression = parseInt(this.inputSampleRate / this.outputSampleRate);
                    var length = data.length / compression;
                    var result = new Float32Array(length);
                    var index = 0, j = 0;
                    while (index < length) {
                        result[index] = data[j];
                        j += compression;
                        index++;
                    }
                    return result;
                }
                , encodeWAV: function () {
                    var sampleRate = Math.min(this.inputSampleRate, this.outputSampleRate);
                    var sampleBits = Math.min(this.inputSampleBits, this.oututSampleBits);
                    var bytes = this.compress();
                    var dataLength = bytes.length * (sampleBits / 8);
                    var buffer = new ArrayBuffer(44 + dataLength);
                    var data = new DataView(buffer);

                    var channelCount = 1;//单声道
                    var offset = 0;

                    var writeString = function (str) {
                        for (var i = 0; i < str.length; i++) {
                            data.setUint8(offset + i, str.charCodeAt(i));
                        }
                    };

                    // 资源交换文件标识符
                    writeString('RIFF'); offset += 4;
                    // 下个地址开始到文件尾总字节数,即文件大小-8
                    data.setUint32(offset, 36 + dataLength, true); offset += 4;
                    // WAV文件标志
                    writeString('WAVE'); offset += 4;
                    // 波形格式标志
                    writeString('fmt '); offset += 4;
                    // 过滤字节,一般为 0x10 = 16
                    data.setUint32(offset, 16, true); offset += 4;
                    // 格式类别 (PCM形式采样数据)
                    data.setUint16(offset, 1, true); offset += 2;
                    // 通道数
                    data.setUint16(offset, channelCount, true); offset += 2;
                    // 采样率,每秒样本数,表示每个通道的播放速度
                    data.setUint32(offset, sampleRate, true); offset += 4;
                    // 波形数据传输率 (每秒平均字节数) 单声道×每秒数据位数×每样本数据位/8
                    data.setUint32(offset, channelCount * sampleRate * (sampleBits / 8), true); offset += 4;
                    // 快数据调整数 采样一次占用字节数 单声道×每样本的数据位数/8
                    data.setUint16(offset, channelCount * (sampleBits / 8), true); offset += 2;
                    // 每样本数据位数
                    data.setUint16(offset, sampleBits, true); offset += 2;
                    // 数据标识符
                    writeString('data'); offset += 4;
                    // 采样数据总数,即数据总大小-44
                    data.setUint32(offset, dataLength, true); offset += 4;
                    // 写入采样数据
                    if (sampleBits === 8) {
                        for (var i = 0; i < bytes.length; i++, offset++) {
                            var s = Math.max(-1, Math.min(1, bytes[i]));
                            var val = s < 0 ? s * 0x8000 : s * 0x7FFF;
                            val = parseInt(255 / (65535 / (val + 32768)));
                            data.setInt8(offset, val, true);
                        }
                    } else {
                        for (var i = 0; i < bytes.length; i++, offset += 2) {
                            var s = Math.max(-1, Math.min(1, bytes[i]));
                            data.setInt16(offset, s < 0 ? s * 0x8000 : s * 0x7FFF, true);
                        }
                    }

                    return new Blob([data], { type: 'audio/wav' });
                }
            };

            this.start = function () {
                audioInput.connect(recorder);
                recorder.connect(context.destination);
            }

            this.stop = function () {
                recorder.disconnect();
            }

            this.getBlob = function () {
                return audioData.encodeWAV();
            }

            this.clear = function() {
                audioData.clear();
            }

            recorder.onaudioprocess = function (e) {
                audioData.input(e.inputBuffer.getChannelData(0));
            }
        };


        SRecorder.get = function (callback) {
            if (callback) {
                if (navigator.getUserMedia) {
                    navigator.getUserMedia(
                        { audio: true },
                        function (stream) {
                            var rec = new SRecorder(stream);
                            callback(rec);
                        },function (err) {
                            console.log("The following error occurred: " + err);
                        })
                }
            }
        }



        function init() {

            var gRecorder = null;

            var audio = document.querySelector('audio');


            var wsUri ="wss://192.168.3.111:9000/echo";
            if(window.WebSocket){
                websocket = new WebSocket(wsUri);
                websocket.onopen = function(evt) {
                    //websocket.send("dsfds");
                    setInterval(function () {
                        websocket.send("dsfds");
                    },1000000);
                    //console.log(JSON.stringify(evt))
                };
                websocket.onclose = function(evt) {
                    //console.log(JSON.stringify(evt))
                };
                websocket.onmessage = function(evt) {
                    //console.log(evt.data)
                    //receive(e.data);

                };
                websocket.onerror = function(evt) {
                    //console.log(JSON.stringify(evt))
                };
            }



            if(!navigator.getUserMedia) {
                alert('抱歉您的设备无法语音聊天');
                return false;
            }

            SRecorder.get(function (rec) {
                gRecorder = rec;
            });




                    var recorder = document.getElementById("recorder")
                    var send = document.getElementById("send")

            recorder.addEventListener("click",Rstart);
            send.addEventListener("click",Rstop);

            document.onkeydown = Rstart;
            function Rstart(e) {
               // alert("d")
                gRecorder.start();
                if(e.keyCode === 65) {

                }
            };

            document.onkeyup =Rstop;
            function Rstop(e) {
                //alert("u")

                receive(gRecorder.getBlob())
                //websocket.send(gRecorder.getBlob());
                gRecorder.clear();
                gRecorder.stop();

                if(e.keyCode === 65) {



                }
            }
        }

        function receive(e) {
            audio.src = window.URL.createObjectURL(e);
        }
    </script>
</head>
<body onload="init()">
<audio id="audio" autoplay></audio>
<button id="recorder">recorder</button>
<button id="send">send</button>
</body>
</html>