\upload/
\temp/
\/dandelion
\/debug
/.idea/
*.out
/third_software/etcd/s1.etcd/
/third_software/etcd/s2.etcd/
/third_software/etcd/s3.etcd/
/third_software/etcd/s1.out
/third_software/etcd/s2.out
/third_software/etcd/s3.out
/third_software/redis/redis.out
/third_software/redis/dump.rdb
/third_software/windows/etcd/*.etcd/
/third_software/windows/redis/dump.rdb
test.go
