<style>

</style>
<div class="ui container">
    <div></div>
    <div class="ui pointing menu">

        <div class="right menu">
            <a class="active item">Home </a>
            <a class="item">Messages </a>
            <a class="item">好友 </a>
        </div>
    </div>

    <div class="ui segments">

        <div class="ui segment">
            <div class="ui grid container">
                <div class="four wide column">
                    <a href="#!/seckillPage" class="link">
                        <span style="color: #c17c00;" class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <span class="glyphicon-class">发布秒杀</span>
                    </a>

                </div>
                <div class="four wide column">
                    <a href="#!/ktv/index" class="link">
                        <span style="color: #c10000;" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span class="glyphicon-class">KTV预约系统</span>
                    </a>
                </div>
                <div class="four wide column">

                    <a href="#!/appointment" class="link">
                        <span style="color: #c10000;" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span class="glyphicon-class">发布报名/预约</span>
                    </a>

                </div>
                <div class="four wide column">
                    <a href="#!/lotteryPage" class="link">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        <span class="glyphicon-class">幸运大转盘</span>
                    </a>

                </div>
                <div class="four wide column">
                    <a href="#!/articlePage" class="link">
                        <span style="color: #c10000;" class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                        <span class="glyphicon-class">微信热文营销</span>
                    </a>

                </div>
                <div class="four wide column">
                    <a href="#!/expressPage" class="link">
                        <span style="color: #2c9c04;" class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                        <span class="glyphicon-class">快递预约<small></small></span>
                    </a>

                </div>
                <div class="four wide column">
                    <a href="#!/oneBuy" class="link" disabled="disabled">
                        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                        <span class="glyphicon-class">一元购<small></small></span>
                    </a>

                </div>
                <div class="four wide column">
                    <a href="#!/myShop" class="link">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span class="glyphicon-class">我的商铺</span>
                    </a>

                </div>
                <div class="four wide column">
                    <a href="#!/brokeragePage" class="link">
                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                        <span class="glyphicon-class">我的推广</span>
                    </a>

                </div>
                <div class="four wide column">
                    <a href="#!/popularize_image?url=${popularize_url}" class="link">
                        <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
                        <span class="glyphicon-class">推广二维码</span>
                    </a>

                </div>
            </div>
        </div>
        <div class="ui secondary segment">

        </div>
    </div>
</div>