{{define "footer"}}
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-3 col-md-6 footer-grid">
                    <div class="footer-logo">
                        <h3 class="text-uppercase mb-3">about us</h3>
                        <p>Lorem ipsum dolor sit elit Nam consectetur. eget egestas erat. Inear hachabierit tasse platea dictumst. hachabi tasse platea dictumst inir pleasure blame belongs elit.</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid mt-md-0 mt-sm-3 mt-3">
                    <h3 class="text-uppercase mb-3">Solutions</h3>
                    <ul>
                        <li> <a href="#">Industrial Chemicals</a> </li>
                        <li> <a href="#">Machinery and Tools</a> </li>
                        <li> <a href="#">Coal and Solid Fuels</a> </li>
                        <li> <a href="#">Oil & Gas Revolution</a> </li>
                        <li> <a href="#">High Quality Materials</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-md-4 mt-sm-3 mt-3 footer-grid">
                    <h3 class="text-uppercase mb-3">Contact us</h3>
                    <address>
                        <p class="pb-2"><span class="fa fa-home" aria-hidden="true"></span> 2891KH Block, Aichi Central, <span class="addr">Island, Tokyo.</span></p>
                        <p class="pb-2"><span class="fa fa-phone" aria-hidden="true"></span> +015 289 4577 3441</p>
                        <p class="pb-2"><span class="fa fa-envelope" aria-hidden="true"></span><a href="mailto:contact@mail.com">contact@mail.com</a></p>
                        <p class="pb-2"><span class="fa fa-globe" aria-hidden="true"></span><a href="#">website@example.com</a></p>
                    </address>
                </div>
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-md-4 mt-sm-3 mt-3 agile-footer-grid footer-grid">
                    <h3 class="text-uppercase mb-3">Instagram Posts</h3>
                    <div class="row insta">
                        <div class="col-4 w3_agileits_footer_grid_left">
                            <a href="#"><img src="../../img/i1.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-4 w3_agileits_footer_grid_left">
                            <a href="#"><img src="../../img/i2.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-4 w3_agileits_footer_grid_left">
                            <a href="#"><img src="../../img/i3.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-4 w3_agileits_footer_grid_left">
                            <a href="#"><img src="../../img/i4.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-4 w3_agileits_footer_grid_left">
                            <a href="#"><img src="../../img/i1.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="col-4 w3_agileits_footer_grid_left">
                            <a href="#"><img src="../../img/i2.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wthree_copy_right p-3">
                <p class="text-capitalize">Copyright &copy; 2018.Company name All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<a href="" id="toTop" style="display: none;"><span id="toTopHover"></span>To Top</a>
{{end}}