{{- define "header" -}}
    <header>
        <div id="topbar" class="d-none d-lg-flex align-items-center  bg-faded">
            <div class="container d-flex">
                <div class="contact-info mr-auto">
                   <a href="mailto:contact@example.com"> <i class="fas fa-envelope"></i>contact@example.com</a>
                   <a href="tel:+155895548855"><i class="fas fa-phone-alt"></i>+1 5589 55488 55</a>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-skype"></i></a>
                </div>
            </div>
        </div>

        <div id="menus">

            <div class="container">
                {{template "menus" .}}
            </div>

            {{/*
            <div  class="container d-flex align-items-center">

                <div class="logo mr-auto"><a href="index.html">BizLand<span>.</span></a></div>



            </div>*/}}


        </div>

    </header>
<!-- Navigation -->

<!-- //Navigation -->
{{- end -}}