html, body {
    padding: 0px;
    margin: 0px;
    font-family: "Microsoft YaHei", "SimSun", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

table, td {

    border-spacing: 0;
}
input[type="checkbox"]{
    width: 24px;
}
input, select, textarea {

}

#head {

}

#foot {

}

#plist {
    margin: 10px 2.5%;
    border: #333 solid 1px;
}

#plist .li {

    border-bottom-color: #333;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 5px;

}

#plist .li:hover {
    background-color: #fcf0c7;
}

textarea {
    border: 1px solid #888;
    margin: 0px;
    padding: 0px;
}

.ng-pristine {

}

.ng-dirty {

}

.ng-valid {

}
input.ng-invalid,select.ng-invalid {
    border: 1px solid #a94442;
}
#content{
    display:flex;
    flex-flow: wrap;
    align-content: space-between;
    height: 100%;
}
#content .footer{

}



body{

}
.panel-body{
    padding: 0px;
}
.icons {
    list-style: none;
    margin-top: 200px;
}
.icons {
    padding: 0px;
    margin: 0px;
}
.icons li {
    width: 50%;
    float: left;
    padding: 0px;
    margin: 0px
}
#header{

}
ul,li{
    padding: 0px;
    margin: 0px;
    list-style:none;
}
ul.group li{
    width: 50%;
}
ul.group{
    clear: both;
}
ul.group{
    border-left: 1px solid #ddd;
}
ul.group li.group-item{
    float: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    position: relative;
}
ul.group li.group-item:hover{
    background-color: rgba(101, 9, 19, 0.03);
}
ul.group li.group-item .hot{
    position: absolute;
    background-image: url("/resources/act/img/mix-icon.png");
    background-position:  -260px -480px;
    zoom: 0.6;
    width: 83px;
    height: 83px;
    left: -6px;
    top: -6px;
}
ul.group li.group-item .link{
    text-align: center;
    display: block;
    padding: 10px;
}
ul.group li.group-item .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    color: #333;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.group li.group-item .glyphicon{
    font-size: 24px;
}
.back_head{
    margin: 0px;
    background-color: #4a4a4a;
    padding: 20px 10px;
}
.alert{
    margin-bottom: 0px;
    border-radius: 0px;
}

.modal-backdrop.in {
    display: none;
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.75);
}

.menus {
    margin: 0px 5%;
    border: 1px solid #333;
    height: 35px;
    text-align: center;
    padding-top: 15px;
}

#passwordlist {
    margin: 10px 5%;
    width: 90%;
    border: solid 1px #333;
}

#passwordlist .item {
    width: 150px;
    background-color: #eeeeee;
    height: 70px;
    float: left;
    border: 1px solid #eeeeee;
    padding: 5px;
    margin: 5px;
}

#passwordlist .item:hover {
    border: 1px solid #2467e0;
    background-color: #dbe7ff;
}

.select_tab_true {
    background-color: #3d77ff;
    color: #FFFFFF;
}
html,body{
    height: 100%;
}
body {
    
}
#ngView{
    min-width:320px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
}
#ngView .body{
    display: flex;
    justify-content: space-between;
}
#ngView .body .navs{
    width: 180px;
    background: #333;
    color: white;
}
#ngView .body .navs .text{
    background: #414141;
    text-align: center;
    height: 28px;
    line-height: 28px;
}
#ngView .body .navs ul li{
    height: 38px;
    text-align: center;
    line-height: 38px;
}
#ngView .body .view{
    width: 100%;
}


.images_view{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.images_view li{
    float: left;
    width: 64px;
    height: 64px;
    border: 1px solid #8d8d8d;
    line-height: 64px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}