<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Shop Classic | Front - Responsive Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="resources/css/fontawesome-all.css">
    <link rel="stylesheet" href="resources/css/animate.min.css">
    <link rel="stylesheet" href="resources/hs-megamenu/hs.megamenu.css">
    <link rel="stylesheet" href="resources/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="resources/slick/slick.css">

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="resources/css/theme.css">
</head>
<body>
<!-- ========== HEADER ========== -->
{{IncludeHTML "sites/default/shop/header.tp.html" .}}
<!-- ========== END HEADER ========== -->

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Hero Section -->
    <div class="position-relative">
        <!-- Main Slider -->
        <div id="heroSlider" class="js-slick-carousel u-slick u-slick--equal-height bg-light"
             data-fade="true"
             data-infinite="true"
             data-autoplay-speed="7000"
             data-arrows-classes="d-none d-lg-inline-block u-slick__arrow u-slick__arrow--flat-white u-slick__arrow-centered--y shadow-soft rounded-circle"
             data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-5"
             data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-5"
             data-nav-for="#heroSliderNav">
            <!-- Slide -->
            <div class="js-slide">
                <div class="container space-top-2 space-bottom-3">
                    <div class="row align-items-lg-center">
                        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                            <div class="mb-6">
                                <h1 class="display-4 font-size-md-down-5 font-weight-semi-bold mb-4">Front original design cap</h1>
                                <p>As well as being game-changers when it comes to technical innovation, Front has some of the bestselling cap in its locker.</p>
                            </div>
                            <a class="btn btn-primary btn-pill transition-3d-hover px-5 mr-2" href="#">$59 - Add to Cart</a>
                            <a class="btn btn-icon btn-outline-primary rounded-circle" href="#" data-toggle="tooltip" data-placement="top" title="Save for later">
                                <span class="fas fa-heart btn-icon__inner"></span>
                            </a>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="w-85 mx-auto">
                                <img class="img-fluid" src="../../assets/img/mockups/img5.png" alt="Image Description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slide -->

            <!-- Slide -->
            <div class="js-slide">
                <div class="container space-top-2 space-bottom-3">
                    <div class="row align-items-lg-center">
                        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                            <div class="mb-6">
                                <h2 class="display-4 font-size-md-down-5 font-weight-semi-bold mb-4">Apple iPad Pro</h2>
                                <p>It's all new, all screen, and all powerful. Completely redesigned and packed with our most advanced technology, it will make you rethink what iPad is capable of.</p>
                            </div>
                            <a class="btn btn-primary btn-pill transition-3d-hover px-5 mr-2" href="#">$799 - Add to Cart</a>
                            <a class="btn btn-icon btn-outline-primary rounded-circle" href="#" data-toggle="tooltip" data-placement="top" title="Save for later">
                                <span class="fas fa-heart btn-icon__inner"></span>
                            </a>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="w-85 mx-auto">
                                <img class="img-fluid" src="../../assets/img/mockups/img6.png" alt="Image Description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slide -->

            <!-- Slide -->
            <div class="js-slide">
                <div class="container space-top-2 space-bottom-3">
                    <div class="row align-items-lg-center">
                        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                            <div class="mb-6">
                                <h3 class="display-4 font-size-md-down-5 font-weight-semi-bold mb-4">Celio hoodie</h3>
                                <p>Founded in 1985, French label Celio channels 30 years of expertise into its contemporary menswear range. Expect fly style for a city or beach with its denim shorts, chinos and printed jersey.</p>
                            </div>
                            <a class="btn btn-primary btn-pill transition-3d-hover px-5 mr-2" href="#">$15 - Add to Cart</a>
                            <a class="btn btn-icon btn-outline-primary rounded-circle" href="#" data-toggle="tooltip" data-placement="top" title="Save for later">
                                <span class="fas fa-heart btn-icon__inner"></span>
                            </a>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="w-85 mx-auto">
                                <img class="img-fluid" src="../../assets/img/mockups/img1.png" alt="Image Description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slide -->
        </div>
        <!-- End Main Slider -->

        <!-- Slider Nav -->
        <div class="position-absolute bottom-0 w-100">
            <div class="container space-bottom-1">
                <div id="heroSliderNav" class="js-slick-carousel u-slick u-slick--transform-off max-width-27 mx-auto"
                     data-slides-show="3"
                     data-autoplay-speed="7000"
                     data-infinite="true"
                     data-is-thumbs="true"
                     data-is-thumbs-progress="true"
                     data-thumbs-progress-options='{
                 "color": "#377dff",
                 "width": 8
               }'
                     data-thumbs-progress-container=".js-slick-thumb-progress"
                     data-nav-for="#heroSlider">
                    <div class="js-slide p-1">
                        <a class="js-slick-thumb-progress position-relative d-block u-avatar border rounded-circle p-1" href="javascript:;">
                            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img13.jpg" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide p-1">
                        <a class="js-slick-thumb-progress position-relative d-block u-avatar border rounded-circle p-1" href="javascript:;">
                            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img14.jpg" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide p-1">
                        <a class="js-slick-thumb-progress position-relative d-block u-avatar border rounded-circle p-1" href="javascript:;">
                            <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img15.jpg" alt="Image Description">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Nav -->
    </div>
    <!-- End Hero Section -->

    <!-- Features Section -->
    <div class="border-bottom">
        <div id="featuresSVG" class="container space-2">
            <div class="row">
                <div class="col-md-4 mb-7 mb-md-0">
                    <!-- Contacts -->
                    <div class="media">
                        <figure class="ie-height-56 w-100 max-width-8 mr-4">
                            <img class="js-svg-injector" src="resources/img/svg/icons/icon-4.svg" alt="SVG"
                                 data-parent="#featuresSVG">
                        </figure>
                        <div class="media-body">
                            <h4 class="h6 mb-1">24/7 Support</h4>
                            <p class="font-size-1 mb-0">Contact us 24 hours a day, 7 days a week.</p>
                        </div>
                    </div>
                    <!-- End Contacts -->
                </div>

                <div class="col-md-4 mb-7 mb-md-0">
                    <!-- Contacts -->
                    <div class="media">
                        <figure class="ie-height-56 w-100 max-width-8 mr-4">
                            <img class="js-svg-injector" src="resources/img/svg/icons/icon-64.svg" alt="SVG"
                                 data-parent="#featuresSVG">
                        </figure>
                        <div class="media-body">
                            <h4 class="h6 mb-1">30 Days return</h4>
                            <p class="font-size-1 mb-0">We offer you a full refund within 30 days of purchase.</p>
                        </div>
                    </div>
                    <!-- End Contacts -->
                </div>

                <div class="col-md-4">
                    <!-- Contacts -->
                    <div class="media">
                        <figure class="ie-height-56 w-100 max-width-8 mr-4">
                            <img class="js-svg-injector" src="resources/img/svg/icons/icon-65.svg" alt="SVG"
                                 data-parent="#featuresSVG">
                        </figure>
                        <div class="media-body">
                            <h4 class="h6 mb-1">Free shipping</h4>
                            <p class="font-size-1 mb-0">Automatically receive free standard shipping on every order.</p>
                        </div>
                    </div>
                    <!-- End Contacts -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Features Section -->

    <!-- Categories Section -->
    <div class="container space-2 space-lg-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
            <h2 class="h3 font-weight-medium">The better way to shop with Front top-products</h2>
        </div>
        <!-- End Title -->

        <div class="row mb-5">

            {{range $k, $v := .params.TopGoodsTypeChildList}}

                <div class="col-md-4 mb-5 mb-md-0">
                    <!-- Card -->
                    <div class="card d-block">
                        <div class="card-body d-flex align-items-center p-0">
                            <div class="w-100 border-right">
                                <img class="img-fluid"  style="height: 280px;object-fit:cover;width: 100%;" src="{{$v.Image}}" alt="Image Description">
                            </div>
                        </div>
                        <div class="card-footer text-center py-4">
                            <h3 class="h5 mb-1">{{$v.Name}}</h3>
                            <span class="d-block text-muted font-size-1 mb-3">Starting from ${{DigitDiv $v.Price 100 2}}</span>
                            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All {{$v.Name}}</a>
                        </div>
                    </div>
                    <!-- End Card -->
                </div>

            {{end}}

        </div>

        <div class="text-center">
            <p class="small">Limited time only, while stocks last.</p>
        </div>
    </div>
    <!-- End Categories Section -->

    <!-- Promo Section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <!-- Promo -->
                <div class="bg-img-hero rounded min-height-450 p-4 p-sm-8" style="background-image: url('resources/img/home_b_g_1.jpg');">
                    <small class="d-block text-danger text-uppercase font-weight-semi-bold">Limited time only</small>
                    <h2 class="display-4 font-weight-semi-bold mb-3">70% OFF</h2>

                    <!-- Countdown -->
                    <div class="w-sm-60">
                        <div class="js-countdown row mx-gutters-2 mb-3"
                             data-end-date="2020/11/30"
                             data-month-format="%m"
                             data-days-format="%D"
                             data-hours-format="%H"
                             data-minutes-format="%M">
                            <div class="col-4 text-center">
                                <div class="border border-dark rounded p-2 mb-1">
                                    <strong class="js-cd-days d-block font-size-2"></strong>
                                </div>
                                <h5 class="h6 font-weight-normal">Days</h5>
                            </div>
                            <div class="col-4 text-center">
                                <div class="border border-dark rounded p-2 mb-1">
                                    <strong class="js-cd-hours d-block font-size-2"></strong>
                                </div>
                                <h5 class="h6 font-weight-normal">Hours</h5>
                            </div>
                            <div class="col-4 text-center">
                                <div class="border border-dark rounded p-2 mb-1">
                                    <strong class="js-cd-minutes d-block font-size-2"></strong>
                                </div>
                                <h5 class="h6 font-weight-normal">Mins</h5>
                            </div>
                        </div>
                    </div>
                    <!-- End Countdown -->

                    <a class="btn btn-sm btn-white btn-pill transition-3d-hover px-5" href="#">Shop</a>
                </div>
                <!-- End Promo -->
            </div>

            <div class="col-lg-6">
                <!-- Promo -->
                <div class="bg-img-hero rounded min-height-450 text-white p-4 p-sm-8" style="background-image: url('resources/img/home_b_g_2.jpg');">
                    <div class="max-width-35">
                        <div class="mb-4">
                            <span class="d-block font-size-2">$109.99</span>
                            <h3 class="font-weight-semi-bold mb-1">Nakto 26 Bicycle</h3>
                            <p class="text-white">NAKTO bicycles to save the environment and bring fun to our friends!</p>
                        </div>
                        <div class="d-block">
                            <button type="button" class="btn btn-sm btn-white btn-pill transition-3d-hover px-5">Shop</button>
                        </div>
                    </div>
                </div>
                <!-- End Promo -->
            </div>
        </div>
    </div>
    <!-- End Promo Section -->

    <!-- Products Section -->
    <div class="container space-2 space-lg-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
            <h2 class="h3 font-weight-medium">What's trending</h2>
        </div>
        <!-- End Title -->

        <!-- Products -->
        <div class="row mx-n2 mx-sm-n3 mb-7">
            {{range $k, $v := .params.Goods}}
                <div class="col-6 col-lg-3 px-2 px-sm-3 mb-3 mb-sm-5">
                    <!-- Product -->
                    <div class="card text-center h-100">
                        <div class="position-relative">
                            {{with $images:=(FromJSONToArray $v.Images)}}
                                {{if gt (len $images) 0}}
                                    <img class="card-img-top" src="{{index $images 0}}" alt="Image Description">
                                {{end}}
                            {{else}}
                                <img class="card-img-top" src="" alt="Image Description">
                            {{end}}


                            <div class="position-absolute top-0 left-0 pt-3 pl-3">
                                <span class="badge badge-success badge-pill">New arrival</span>
                            </div>
                            <div class="position-absolute top-0 right-0 pt-3 pr-3">
                                <button type="button" class="btn btn-sm btn-icon btn-outline-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="Save for later">
                                    <span class="fas fa-heart btn-icon__inner"></span>
                                </button>
                            </div>
                        </div>

                        <div class="card-body pt-4 px-4 pb-0">
                            <div class="mb-2">
                                <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Accessories</a>
                                <h3 class="font-size-1 font-weight-normal">
                                    <a class="text-secondary" href="product?ID={{$v.ID}}">{{$v.Title}}</a>
                                </h3>
                                <div class="d-block font-size-1">
                                    <span class="font-weight-medium">$56.99</span>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer border-0 pt-0 pb-4 px-4">
                            <div class="mb-3">
                                <a class="d-inline-flex align-items-center small" href="#">
                                    <div class="text-warning mr-2">
                                        <small class="far fa-star text-muted"></small>
                                        <small class="far fa-star text-muted"></small>
                                        <small class="far fa-star text-muted"></small>
                                        <small class="far fa-star text-muted"></small>
                                        <small class="far fa-star text-muted"></small>
                                    </div>
                                    <span class="text-secondary">0</span>
                                </a>
                            </div>
                            <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Add to Cart</button>
                        </div>
                    </div>
                    <!-- End Product -->
                </div>
            {{end}}




        </div>
        <!-- End Products -->

        <div class="text-center">
            <a class="btn btn-primary btn-pill transition-3d-hover px-5" href="categories">View Products</a>
        </div>
    </div>
    <!-- End Products Section -->

    <!-- Subscribe Section -->
    <div class="bg-light">
        <div class="container space-2">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6">
                    <!-- Title -->
                    <div class="text-center mb-4">
                        <h2 class="h1 font-weight-medium">Stay in the know</h2>
                        <p>Get special offers on the latest developments from Front.</p>
                    </div>
                    <!-- End Title -->

                    <!-- Subscribe Form -->
                    <form class="js-validate js-form-message w-lg-85 mx-lg-auto">
                        <label class="sr-only" for="subscribeSrEmail">Email address</label>
                        <div class="input-group input-group-pill">
                            <input type="email" class="form-control" name="email" id="subscribeSrEmail" placeholder="Email address" aria-label="Email address" aria-describedby="subscribeButton" required
                                   data-msg="Please enter a valid email address.">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary btn-sm-wide" id="subscribeButton">Join</button>
                            </div>
                        </div>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Subscribe Section -->

    <!-- Clients Section -->
    <div class="container space-2">
        <div class="row justify-content-between text-center">
            <div class="col-4 col-lg-2 mb-5 mb-lg-0">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/hollister.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2 mb-5 mb-lg-0">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/levis.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2 mb-5 mb-lg-0">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/new-balance.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/puma.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/nike.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/tnf.svg" alt="Image Description">
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== FOOTER ========== -->
{{IncludeHTML "sites/default/shop/footer.tp.html" .}}
<!-- ========== END FOOTER ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Account Sidebar Navigation -->

<!-- End Account Sidebar Navigation -->
<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#"
   data-position='{"bottom": 15, "right": 15 }'
   data-type="fixed"
   data-offset-top="400"
   data-compensation="#header"
   data-show-effect="slideInUp"
   data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->

<!-- JS Global Compulsory -->
<script src="resources/jquery/jquery.min.js"></script>
<script src="resources/jquery/jquery-migrate.min.js"></script>
<script src="resources/popper/popper.min.js"></script>
<script src="resources/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="../../assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
<script src="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="resources/slick/slick.js"></script>
<script src="../../assets/vendor/jquery.countdown.min.js"></script>

<!-- JS Front -->
<script src="../../assets/js/hs.core.js"></script>
<script src="../../assets/js/components/hs.header.js"></script>
<script src="../../assets/js/components/hs.unfold.js"></script>
<script src="../../assets/js/components/hs.focus-state.js"></script>
<script src="../../assets/js/components/hs.malihu-scrollbar.js"></script>
<script src="../../assets/js/components/hs.validation.js"></script>
<script src="../../assets/js/components/hs.show-animation.js"></script>
<script src="../../assets/js/components/hs.slick-carousel.js"></script>
<script src="../../assets/js/components/hs.countdown.js"></script>
<script src="../../assets/js/components/hs.svg-injector.js"></script>
<script src="../../assets/js/components/hs.go-to.js"></script>

<!-- JS Plugins Init. -->
<script>
    $(window).on('load', function () {
        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 767.98,
            hideTimeOut: 0
        });

        // initialization of svg injector module
        $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
    });

    $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));

        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
            afterOpen: function () {
                $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of malihu scrollbar
        $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

        // initialization of forms
        $.HSCore.components.HSFocusState.init();

        // initialization of form validation
        $.HSCore.components.HSValidation.init('.js-validate', {
            rules: {
                confirmPassword: {
                    equalTo: '#signupPassword'
                }
            }
        });

        // initialization of show animations
        $.HSCore.components.HSShowAnimation.init('.js-animation-link');

        // initialization of slick carousel
        $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

        // initialization of countdowns
        var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
            yearsElSelector: '.js-cd-years',
            daysElSelector: '.js-cd-days',
            hoursElSelector: '.js-cd-hours',
            minutesElSelector: '.js-cd-minutes',
            secondsElSelector: '.js-cd-seconds'
        });

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
    });
</script>
</body>
</html>