<style>
    body > #standalone-container {
        margin: 50px auto;
        max-width: 720px;
    }

    #editor-container {
        height: 350px;
        border: 1px solid #c4c4c4;
    }
</style>

<div id="articlePage">
    <p>
        <a class="ui large red ribbon label">添加内容</a>
    </p>

    <div ng-if="AutoSaveInfo.Show">
        <p>
        <div class="ui green message">自动保存成功，@{AutoSaveInfo.Time}@</div>
        </p>
    </div>


    <form class="ui form" ng-submit="saveArticle()">


        <div class="field">
            <label>标题</label>
            <div class="ui input fluid focus">
                <input required style="width: 90%" ng-model="Article.Title" maxlength="120" placeholder="标题"
                       type="text">
            </div>
        </div>
        <div class="field">
            <label>内容</label>
            <div id="editor-toolbar-container"></div>
            <div id="editor-container"></div>
        </div>

        <div class="fields">
            <div class="inline field">
                <label>作者</label>
                <input ng-model="Article.Author" maxlength="12" placeholder="作者" type="text">
            </div>
            <div class="inline field">
                <label>来源</label>
                <input ng-model="Article.FromUrl" maxlength="255" placeholder="来源" type="text">
            </div>

            <div class="inline field">
                <label>分类</label>
                <select ng-model="Article.ContentSubTypeID" ng-change="changeContentSubTypes()"
                        ng-options="key as value.SubType.Name for (key , value) in ContentSubTypes" required>

                </select>
            </div>
            <div class="inline field">
                <label>子类</label>
                <select ng-model="Article.ContentSubTypeChildID" ng-change="changeContentSubTypeChilds()"
                        ng-options="key as value.Name for (key , value) in ContentSubTypes[Article.ContentSubTypeID].SubTypeChildren">

                </select>
            </div>
        </div>


        <div class="field">

            <label>缩略图预览</label>

            <div class="ui inline card">
                <div style="max-width: 128px;max-height: 128px;" class="image">
                    <img ng-if="Article.Picture" ng-src="/file/load?path=@{Article.Picture}@">
                </div>
                <button type="file" class="ui green bottom attached button"
                        ngf-select="UploadPictureImage($file,$invalidFiles)" accept="image/*" ngf-max-size="1MB"><i
                            class="add icon"></i>上传图片
                </button>
            </div>


        </div>


        <div class="field">
            <label></label>
            <input class="ui fluid red button" type="submit">
        </div>


        <div style="display: none" class="field">
            <label>简介</label>
            <textarea ng-model="Article.Introduce" maxlength="255" placeholder="简介" type="text"></textarea>
        </div>


    </form>

</div>

<div id="SelectImageModal" class="ui fullscreen modal">
    <div class="header">添加图片</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <button type="file" class="ui fluid button"
                        ngf-select="UploadImages('#upload_edit_images_progress',$files,$invalidFiles)"
                        multiple="multiple"
                        accept="image/*" ngf-max-size="1MB"><i class="add icon"></i> 添加图片
                </button>
                <div class="ui tiny bottom attached  progress" data-value="0" data-total="100"
                     id="upload_edit_images_progress">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">Waiting for you to press button</div>
                </div>
            </div>
            <div class="field">
                <div class="ui tiny images">
                    <img class="ui fluid image" ng-repeat="m in EditImages" ng-src="@{m}@"
                         style="height: 120px;width:120px;object-fit:cover;object-position: center center;">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui approve blue button">确定</div>
        <div class="ui cancel button">取消</div>
    </div>
</div>
