<div id="menus">

    <p>
        <a class="ui large red ribbon label">菜单管理</a>
    </p>
    <div class="">
        <form ng-submit="saveCreateMenu()" class="ui form">
            <div class="inline fields">
                <div class="field">
                    <label>菜单名称</label>
                    <input type="text" ng-model="CreateMenus.Name" required placeholder="菜单名称">
                </div>

                <div class="field">
                    <label>类型</label>
                    <select required ng-model="CreateMenus.ContentTypeID" ng-options="m.ID as m.Label for m in MenuTypes">
                        <option></option>
                    </select>
                </div>

                <div class="field">
                    <label>模板名</label>
                    <select required ng-model="CreateMenus.TemplateName"
                            ng-options="m.Key as m.Label for m in templateNameObjFunc(CreateMenus.ContentTypeID)">
                        <option></option>
                    </select>
                </div>
                <div class="field">
                    <button class="ui blue button" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>

    <table class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>名称</th>
            <th>排序</th>
            <th>类型</th>
            <th>模板名</th>
            <th>显示</th>
            <th class="center aligned">操作</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="m in MenusList">
            <td>@{m.ID}@</td>
            <td>@{m.Name}@</td>
            <td>@{m.Sort}@</td>
            <td>@{m.Type}@</td>
            <td>@{getTemplateNameObj(m.Type,m.TemplateName).Label}@</td>
            <td>
                <div class="ui checkbox">
                    <input ng-model="m.Hide" ng-change="changeHide(m)" type="checkbox">
                    <label>隐藏</label>
                </div>
            </td>
            <td class="right aligned">
                <a ng-click="editMenus(m)" class="ui blue button"><i class="edit icon"></i>编辑</a>
                <a ng-if="m.Type=='content' && getTemplateNameObj(m.Type,m.TemplateName).Content" href="" ng-click="showContentContentSubTypeDialog(m.ID)" class="ui green button"> <i class="edit icon"></i>内容管理</a>
                <a ng-if="m.Type!='content' && getTemplateNameObj(m.Type,m.TemplateName).Content" href="#!/@{m.Type}@?ContentItemID=@{m.ID}@&Type=@{m.Type}@" class="ui green button"> <i class="edit icon"></i>内容管理</a>
                <a ng-click="upIndex($index)" class="ui button"><i class="angle up icon"></i>上移</a>
                <a ng-click="downIndex($index)" class="ui button"><i class="angle down icon"></i>下移</a>
                <a ng-click="deleteMenus(m.ID)" class="ui red button"><i class="delete icon"></i>删除</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div id="contentContentSubTypeDialog" class="ui fullscreen modal">
    <div class="header">请选择要添加的类别</div>
    <div class="scrolling content">

        <form class="ui form">
            <div class="fields">
                <div class="four wide field">
                    <label>分类</label>
                    <select ng-model="ContentContentSubType.ContentSubTypeID" ng-change="changeContentSubTypes()" ng-options="key as value.SubType.Name for (key , value) in ContentSubTypes" required >
                        <option value="">请选择</option>
                    </select>
                </div>
                <div class="four wide field">
                    <label>子类</label>
                    <select ng-model="ContentContentSubType.ContentSubTypeChildID" ng-change="changeContentSubTypeChilds()" ng-options="key as value.Name for (key , value) in ContentSubTypes[ContentContentSubType.ContentSubTypeID].SubTypeChildren">
                        <option value="">不选</option>
                    </select>
                </div>
                <div class="four wide field">
                    <label>Action</label>
                    <div ng-click="loadContent()" class="ui primary button">刷新</div>
                </div>
            </div>
        </form>

        <div ng-if="Article.ID>0" class="ui placeholder segment align-center">
            <div class="ui icon header">
                <img style="width: 128px;height: 128px;" class="ui small icon image" ng-src="/file/load?path=@{Article.Picture}@">
                @{Article.Title}@
            </div>
            <div class="inline align-center">
                <div ng-click="gotoContent()" class="ui primary button">编辑</div>
                <div ng-click="deleteArticle(Article)" class="ui orange button">删除</div>
            </div>
        </div>

        <div ng-if="Article.ID==0" class="ui placeholder segment align-center">
            <div class="ui icon header">
                没有内容
            </div>
            <div class="inline align-center">
                <div ng-click="gotoContent()" class="ui primary button">添加</div>
            </div>
        </div>

    </div>
    <div class="actions">
        <button class="ui cancel button">取消</button>
        <button style="display: none;" class="ui blue approve button">确定</button>
    </div>
</div>
<div id="editMenus" class="ui fullscreen modal">
    <div class="header">子类管理</div>
    <div class="scrolling content">
        <p><a target="_blank" href="/articles/content/@{EditMenus.ID}@/index">/articles/content/@{EditMenus.ID}@/index</a></p>
        <div>
            <form ng-submit="saveEditMenu()" class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <label>修改菜单名称</label>
                        <input type="text" ng-model="EditMenus.Name" required placeholder="菜单名称">
                    </div>
                    <div class="field">
                        <button class="ui blue button" type="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>

        <div ng-if="EditMenus.Template.SubMenu">
            <h3>分类管理</h3>
            <div class="ui grid">
                <div class="eight wide column">

                    <form ng-submit="saveClassify()" class="ui form">
                        <div class="inline fields">

                            <div class="field">
                                <label>&nbsp;</label>
                                <input type="text" ng-model="classify.Name" required placeholder="分类名称">
                            </div>
                            <div class="field">
                                <button class="ui blue button" type="submit">@{ActionClassifyTarget.title}@</button>
                            </div>
                        </div>
                    </form>

                    <table class="ui mini teal table">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>名称</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="m in ClassifyList" ng-class="{true:'active',false:''}[selectClassify.ID==m.ID]">
                            <td>@{m.ID}@</td>
                            <td>@{m.Name}@</td>
                            <td class="right aligned">
                                <a ng-click="deleteClassify(m)" class="ui mini red button"><i
                                            class="delete icon"></i></a>
                                <a ng-click="editClassify(m)" class="ui mini blue button"><i class="edit icon"></i></a>
                                <a ng-click="selectClassifyFunc(m)" class="ui mini green button"><i
                                            class="edit icon"></i>选择</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
                <div ng-show="selectClassify!=null&&selectClassify.ID!=null" class="eight wide column">

                    <form ng-submit="saveClassifyChild()" class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <label>&nbsp;</label>
                                <input type="text" ng-model="selectClassify.Name" readonly placeholder="父类">
                            </div>
                            <div class="field">
                                <label>&nbsp;</label>
                                <input type="text" ng-model="classifyChild.Name" required placeholder="子分类名称">
                            </div>
                            <div class="field">
                                <button class="ui blue button" type="submit">@{ActionClassifyChildTarget.title}@
                                </button>
                            </div>
                        </div>
                    </form>

                    <table class="ui mini teal table">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>名称</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="m in ClassifyChildList">
                            <td>@{m.ID}@</td>
                            <td>@{m.Name}@</td>
                            <td class="right aligned">
                                <a ng-click="deleteClassifyChild(m)" class="ui mini red button"><i
                                            class="delete icon"></i></a>
                                <a ng-click="editClassifyChild(m)" class="ui mini blue button"><i
                                            class="edit icon"></i>编辑</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
    <div class="actions">
        <button class="ui blue approve button">确定</button>
    </div>
</div>