<style type="text/css">
    /*#panel {
        position: absolute;
        background-color: white;
        max-height: 90%;
        overflow-y: auto;
        top: 10px;
        right: 10px;
        width: 280px;
    }*/
    #container{
        border: 1px solid red;
        height: 600px;
    }
    .map {
        height: 100%;
        width: 80%;
        float: left;
    }
    #right {
        color: #444;
        background-color: #f8f8f8;
        width: 20%;
        float: left;
        height: 100%;
    }

    #start,
    #stop,
    #right input {
        margin: 4px;
        margin-left: 15px;
    }

    .title {
        width: 100%;
        background-color: #dadada
    }

    .c {
        font-weight: 600;
        padding-left: 15px;
        padding-top: 4px;
    }

    #lnglat,
    #address,
    #nearestJunction,
    #nearestRoad,
    #nearestPOI,
    .title {
        padding-left: 15px;
    }
</style>
<div id="add_goods" class="ui container">
    <p>
        <a class="ui red ribbon label">@{TargetAction.title}@</a>
    </p>

    <form class="ui form" ng-submit="save()">
        <h4 class="ui dividing header">门店信息</h4>
        <div class="field">
            <label>门店名称</label>
            <div class="two fields">
                <div class="field">
                    <input ng-model="Store.Name" placeholder="门店名称" required type="text">
                </div>
            </div>
        </div>


        <div class="one fields">
            <div class="field">
                <label>手机号</label>
                <input ng-model="Store.Phone" maxlength="11" minlength="11" placeholder="手机号" required type="text">
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>服务电话</label>
                <input ng-model="Store.ServicePhone" placeholder="服务电话" required type="text">
            </div>
            <div class="field">
                <label>预约电话</label>
                <input ng-model="Store.OrderPhone" placeholder="预约电话" required type="text">
            </div>
        </div>

        <div class="one fields">
            <div class="field">
                <label>联系人</label>
                <input ng-model="Store.ContactName" placeholder="联系人" required type="text">
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>介绍</label>
                <textarea ng-model="Store.Introduce" placeholder="介绍" required></textarea>
            </div>
        </div>



        <div class="three fields">
            <div class="field">
                <label>门店地址</label>
                <input placeholder="地区" disabled readonly ng-value="address.ProvinceName+address.CityName+address.CountyName" required type="text" >
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <input ng-model="address.Detail" placeholder="地址" required type="text" >
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <input class="ui blue button" ng-click="showMapModal()" value="获取地址/坐标" type="button">
            </div>
        </div>
        <div class="field">
            <div class="three fields">
                <div class="field">
                    <label>纬度</label>
                    <input ng-model="Store.Latitude" readonly required placeholder="纬度" type="text" >
                </div>
                <div class="field">
                    <label>经度</label>
                    <input ng-model="Store.Longitude" readonly required placeholder="经度" type="text"  >
                </div>
            </div>
        </div>

        <div class="field">
            <label>图片</label>

            <div class="ui fluid card">

                <div class="ui images" >
                    <div class="ui grid container">
                        <div class="four wide center aligned column" ng-repeat="m in Images">
                            <img style="object-fit:cover;max-width: 100%;max-height:160px;width: 100%;height: 100%;"  ng-src="/file/load?path=@{m}@">
                            <div ng-click="deleteArr(Images,$index)" class="ui mini red fluid button">删除</div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="header"></div>
                    <div class="description">128*128  最大1M</div>
                </div>

                <div class="ui bottom attached button" type="file" ngf-select="uploadImages('progress-bar',$file,$invalidFiles)" accept="image/*" ngf-max-size="1MB"><i class="image icon"></i>上传图片</div>

            </div>
        </div>

        <div class="field">
            <label>相关介绍图片</label>
            <div class="ui fluid card">
                <div class="ui images" >
                    <div class="ui grid container">
                        <div class="four wide center aligned column" ng-repeat="m in Pictures">
                            <img style="object-fit:cover;max-width: 100%;max-height:160px;width: 100%;height: 100%;"  ng-src="/file/load?path=@{m}@">
                            <div ng-click="deleteArr(Pictures,$index)" class="ui mini red fluid button">删除</div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="header"></div>
                    <div class="description">128*128  最大1M</div>
                </div>

                <div class="ui bottom attached button" type="file" ngf-select="uploadPictures('progress-bar',$file,$invalidFiles)" accept="image/*" ngf-max-size="1MB"><i class="image icon"></i>上传图片</div>

            </div>
        </div>

        <button type="submit" class="ui red fluid button" tabindex="0">提交</button>
    </form>


</div>


<div id="selectMap" class="ui fullscreen modal">
    <div class="header">添加属性</div>
    <div class="content">
        <div id="container" class="map"></div>
        <div id='right'>
            <div>
                <button class="ui blue button" id='start'>返回定位点</button>
            </div>
            <div>
                <span><input id='serachValue' placeholder="请输入地点名称" value=""><button id="serachBtn">搜索</button></span>
            </div>
            <div>
                <div class='title'>选址结果</div>
                <div class='c'>经纬度:</div>
                <div id='lnglat'></div>
                <div class='c'>地址:</div>
                <div id='address'></div>
                <div class='c'>最近的路口:</div>
                <div id='nearestJunction'></div>
                <div class='c'>最近的路:</div>
                <div id='nearestRoad'></div>
                <div class='c'>最近的POI:</div>
                <div id='nearestPOI'></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="actions">
        <div class="ui approve red button">确定</div>
        <div class="ui cancel button">取消</div>
    </div>
</div>


