<html ng-app="addModule">
<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/resources/angular/angular.min.js"></script>
    <script type="text/javascript" src="/resources/angular/i18n/angular-locale_zh.js"></script>
    <script type="text/javascript" src="/resources/angular/plugins/ng-file-upload/ng-file-upload.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/admin/css/style.css">
    <link rel="stylesheet" href="/resources/quill/quill.snow.css" />
    <script type="text/javascript" src="/resources/jquery/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/resources/angular/angular-route.js"></script>

    <link href="/resources/quill/quill.core.css" rel="stylesheet">
    <script type="text/javascript" src="/resources/quill/quill.core.js"></script>
    <script type="text/javascript" src="/resources/quill/quill.min.js"></script>
    <link href="/resources/quill/quill.snow.css" rel="stylesheet">
    <script>
        var ID ="{{.query.id}}";
    </script>

    <script type="text/javascript" src="/resources/manager/js/add_article.js"></script>

    <style>
        #busy {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(55, 55, 55, 0.2);
            z-index: 9999;
        }

        #busy .busytxt {
            position: absolute;
            top: 30%;
            left: 30%;
            right: 30%;
            bottom: 30%;
            width: 40%;
            color: #003373;
            font-weight: bold;
            vertical-align: middle;
            line-height: 50px;
            background-color: #8ab5e0;
            text-align: center;
            border: 1px solid steelblue;
        }
        #editor-container{
            height: 600px;
        }
        #standalone-container{
            width: 800px;
        }
    </style>
</head>
<body ng-controller="addCtrl">
<div id="busy" style="display:none;">
    <table class="busytxt">
        <tbody>
        <tr>
            <td>现在交换数据。。。</td>
        </tr>
        </tbody>
    </table>
</div>
<table style="width: 100%">
    <tbody>
    <tr>
        <td>标题：</td>
        <td><input type="text" ng-model="article.Title"></td>
    </tr>
    <tr>
        <td>缩略图：</td>
        <td>
            <input type="file" ngf-select="uploadThumbnailFile('thumbnail_progress',$file,$invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
            <span id="thumbnail_progress"></span>
            <img width="64" height="64" ng-src="/file/load?path=@{Thumbnail}@">
        </td>
    </tr>
    <tr>
        <td>所属类型：</td>
        <td>
            <select ng-model="article.CategoryID" ng-select="selectArticleCategory();"
                    ng-options="o.ID as o.Label for o in articleCategorys">
            </select>
        </td>
    </tr>
    <tr>
        <td>内容：</td>
        <td>
            <div id="standalone-container">
                <div id="toolbar-container">
    <span class="ql-formats">
      <select class="ql-font"></select>
      <select class="ql-size"></select>
    </span>
                    <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
    </span>
                    <span class="ql-formats">
      <select class="ql-color"></select>
      <select class="ql-background"></select>
    </span>
                    <span class="ql-formats">
      <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
    </span>
                    <span class="ql-formats">
      <button class="ql-header" value="1"></button>
      <button class="ql-header" value="2"></button>
      <button class="ql-blockquote"></button>
      <button class="ql-code-block"></button>
    </span>
                    <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>
      <button class="ql-indent" value="-1"></button>
      <button class="ql-indent" value="+1"></button>
    </span>
                    <span class="ql-formats">
      <button class="ql-direction" value="rtl"></button>
      <select class="ql-align"></select>
    </span>
                    <span class="ql-formats">
      <button class="ql-link"></button>
      <button class="ql-image"></button>
      <button class="ql-video"></button>
      <button class="ql-formula"></button>
    </span>
                    <span class="ql-formats">
      <button class="ql-clean"></button>
    </span>

                </div>
                <div id="editor-container"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="button" ng-click="save();" value="提交"></td>
    </tr>
    </tbody>
</table>
<script>
    var quill = new Quill('#editor-container', {
        debug: 'info',
        modules: {
            //formula: true,
            //syntax: true,
            //readOnly: true,
            toolbar: '#toolbar-container'
            //'image-tooltip': true
        },
        placeholder: '请输入内容',
        theme: 'snow'
    });
    var toolbar = quill.getModule('toolbar');
    toolbar.addHandler('image', showImageUI);
    function showImageUI(a){
        var fileInput = quill.container.querySelector('input.ql-image[type=file]');
        if (fileInput == null) {
            fileInput = document.createElement('input');
            fileInput.setAttribute('type', 'file');
            fileInput.setAttribute('accept', 'image/png, image/gif, image/jpeg, image/bmp, image/x-icon');
            fileInput.classList.add('ql-image');
            fileInput.addEventListener('change', function () {
                if (fileInput.files != null && fileInput.files[0] != null) {
                    /*var reader = new FileReader();
                    reader.onload = function (e) {
                        var range = quill.getSelection(true);
                        //quill.default
                        //quill.insertEmbed(10, 'image', 'https://www.baidu.com/img/baidu_jgylogo3.gif');
                        quill.insertEmbed(range.index, 'image', e.target.result,Quill.sources.USER);
                        //quill.updateContents(new Delta().retain(range.index).delete(range.length).insert({ image: e.target.result }));
                        fileInput.value = "";
                    };
                    reader.readAsDataURL(fileInput.files[0]);*/


                    var fd = new FormData();
                    fd.append('file',fileInput.files[0]);

                    $.ajax({
                        url:'/file/up',
                        type:'POST',
                        data:fd,
                        cache:false,
                        contentType:false,
                        processData:false,
                        success:function(response){
                            var range = quill.getSelection(true);
                            var obj = eval("("+response+")");
                            quill.insertEmbed(range.index, 'image',"/file/load?path="+obj.Data,Quill.sources.USER);
                            fileInput.value = "";
                        }});
                }
            });
            this.container.appendChild(fileInput);
        }
        fileInput.click();
    }
</script>
</body>
</html>