<form ng-submit="addAdminUser()">
    <div class="form-group">
        <label>账号</label>
        <input type="text" required minlength="2" ng-model="admin.Account" class="form-control" placeholder="账号">
    </div>
    <div class="form-group">
        <label>三级域名</label>
        <input type="text" required minlength="2" ng-model="admin.Domain" class="form-control" placeholder="三级域名">
    </div>
    <div class="form-group">
        <label>密码</label>
        <input type="text" required maxlength="16" minlength="6" class="form-control" placeholder="密码" ng-model="admin.PassWord">
    </div>
    <div  class="form-group">
        <label>确认密码</label>
        <input type="text" required maxlength="16" minlength="6" class="form-control" placeholder="确认密码" ng-model="admin.rePassword">
    </div>
    <input type="submit" class="btn btn-default"  value="添加">
</form>