<table class="table table-hover">
    <thead>
    <tr>
        <th>姓名</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>过期时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in userList">
        <td>@{m.Name}@</td>
        <td>@{m.Email}@</td>
        <td>@{m.Tel}@</td>
        <td>@{m.expire|date:'yyyy-MM-dd HH:mm:ss'}@</td>
        <td><input class="btn btn-primary" type="button" value="删除" ng-click="del(m.ID);">
            <a href="#!/add_admin?id=@{m.ID}@"><input class="btn btn-primary" type="button" value="修改"></a></td>
    </tr>
    </tbody>
</table>