<table width="100%" class="ui table">
    <thead>
    <tr>
        <th>OID</th>
        <th>账号</th>
        <th>最后登陆时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in userList">
        <td>@{m.OID}@</td>
        <td>@{m.Account}@</td>
        <td>@{m.LastLoginAt|date:'yyyy-MM-dd HH:mm:ss'}@</td>
        <td>
            <input class="btn btn-primary" type="button" value="删除" ng-click="del(m.ID);">
            <a href="#!/add_admin?id=@{m.ID}@"><input class="btn btn-primary" type="button" value="修改"></a>
        </td>
    </tr>
    </tbody>
</table>