<div id="score_goods_list" class="ui container">
    <p>
        <a class="ui red ribbon label">所有会员</a>
    </p>
    <table width="100%" id="table_local" class="ui red table">
        <thead>
        <tr>
            <th>#上级ID</th>
            <th>#ID</th>
            <th>用户名</th>
            <th>手机</th>
            <th>金额</th>
            <th>成长值</th>
            <th>头像</th>
            <th>性别</th>
            <th>最后登陆时间</th>
            <th>积分</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>

    <p><a class="ui blue ribbon label">一级会员</a></p>
    <table width="100%" id="table_locala" class="ui blue table">
        <thead>
        <tr>
            <th>#上级ID</th>
            <th>#ID</th>
            <th>用户名</th>
            <th>手机</th>
            <th>金额</th>
            <th>成长值</th>
            <th>头像</th>
            <th>性别</th>
            <th>最后登陆时间</th>
            <th>积分</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>



    <p><a class="ui green ribbon label">二级会员</a></p>
    <table width="100%" id="table_localb" class="ui green table">
        <thead>
        <tr>
            <th>#上级ID</th>
            <th>#ID</th>
            <th>用户名</th>
            <th>手机</th>
            <th>金额</th>
            <th>成长值</th>
            <th>头像</th>
            <th>性别</th>
            <th>最后登陆时间</th>
            <th>积分</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>


    <p><a class="ui grey ribbon label">三级会员</a></p>
    <table width="100%" id="table_localc" class="ui grey table">
        <thead>
        <tr>
            <th>#上级ID</th>
            <th>#ID</th>
            <th>用户名</th>
            <th>手机</th>
            <th>金额</th>
            <th>成长值</th>
            <th>头像</th>
            <th>性别</th>
            <th>最后登陆时间</th>
            <th>积分</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>



</div>