<!-- Navigation -->
<div class="container">
    <!-- header top -->
    <div class="head-wl d-md-flex py-3">
        <div class="headder-w3 text-uppercase p-1 text-center">
            <h1><a href="index.html">Indus Fact</a></h1>
        </div>

        <div class="w3-header-top-right-text text-center">
            <h6 class="caption p-1"> Contact Us</h6>
            <p>(111)+245 245 66</p>
        </div>

        <div class="email-right text-center">
            <h6 class="caption p-1">Email Us</h6>
            <p><a href="mailto:mail@example.com" class="info"> info@example.com</a></p>

        </div>

        <div class="agileinfo-social-grids text-center">
            <h6 class="caption p-1">Follow Us</h6>
            <ul class="d-flex justify-content-center">
                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fas fa-rss"></span></a></li>
                <li><a href="#"><span class="fab fa-vk"></span></a></li>
            </ul>
        </div>
    </div>
    <!-- //header top -->

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded">
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery">Gallery</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="typography.html">Typography</a>
                        <a class="dropdown-item" href="error.html">404 page</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop">Shop</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Nav bar -->
</div>
<!-- //Navigation -->