
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta name="keywords" content="" />

    {{IncludeHTML "sites/default/asset.tp.html" .}}

</head>
<body>

{{IncludeHTML "sites/default/header.tp.html" .}}

<!-- banner slider-->
<div class="banner-silder">
    <div id="JiSlider" class="jislider">
        <ul>
            <li>
                <div class="w3layouts-banner-top">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <!-- Slide Text Layer -->
                            <div class="w3l-slide-text text-center">
                                <p>We provide High quality materials in all solutions</p>
                                <h3 class="text-uppercase pt-4 pb-3">High Quality Materials</h3>
                                <p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
                                <a href="services.html" class="button-style">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <!-- Slide Text Layer -->
                            <div class="w3l-slide-text text-center">
                                <p>We provide High quality materials in all solutions</p>
                                <h3 class="text-uppercase pt-4 pb-3">Manufactory Solutions</h3>
                                <p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
                                <a href="services.html" class="button-style">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <!-- Slide Text Layer -->
                            <div class="w3l-slide-text text-center">
                                <p>We provide High quality materials in all solutions</p>
                                <h3 class="text-uppercase pt-4 pb-3">Innovative Solutions</h3>
                                <p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
                                <a href="services.html" class="button-style">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top3">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <!-- Slide Text Layer -->
                            <div class="w3l-slide-text text-center">
                                <p>We provide High quality materials in all solutions</p>
                                <h3 class="text-uppercase pt-4 pb-3">Industrial Business</h3>
                                <p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
                                <a href="services.html" class="button-style">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top4">
                    <div class="bs-slider-overlay">
                        <div class="container">
                            <!-- Slide Text Layer -->
                            <div class="w3l-slide-text text-center">
                                <p>We provide High quality materials in all solutions</p>
                                <h3 class="text-uppercase pt-4 pb-3">Finest Quality Service</h3>
                                <p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>
                                <a href="services.html" class="button-style">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- //banner slider -->

<!-- Welcome section -->
<section class="welcome py-5 my-lg-5" id="welcome">
    <h3 class="heading text-center text-uppercase">Welcome to industry</h3>
    <p class="heading-bottom text-center font-italic mb-5">Industrial Revolution Business</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 welcome_left">
                <img src="img/welcome.jpg" alt="welcome image">
            </div>
            <div class="col-lg-6 welcome_right mt-5 py-5 px-4">
                <p>Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>

                <div class="row grid1 my-4">
                    <div class="col-md-2 col-sm-2 col-3 icon color1 text-center">
                        <span class="fas fa-info-circle" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-9 grid_info">
                        <h3 class="text-uppercase mb-2">Industrial Business</h3>
                        <p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam males</p>
                    </div>
                </div>
                <div class="row grid2 my-4">
                    <div class="col-md-2 col-sm-2 col-3 icon color1 text-center">
                        <span class="fas fa-headphones" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-9 grid_info">
                        <h3 class="text-uppercase mb-2">24/7 support</h3>
                        <p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam males</p>
                    </div>
                </div>
                <div class="row grid3">
                    <div class="col-md-2 col-sm-2 col-3 icon color1 text-center">
                        <span class="fas fa-users" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-9 grid_info">
                        <h3 class="text-uppercase mb-2">Professional Team</h3>
                        <p>Lorem ipsum dolor sit amet aueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus. Etiam males</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Welcome section -->

<!-- services -->
<section class="services py-5 my-lg-5">
    <h3 class="heading text-center text-uppercase">Our Services</h3>
    <p class="heading-bottom text-center font-italic mb-5">Industrial Revolution Business</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 agileits_banner_bottom_left">
                <div class="agileinfo_banner_bottom_pos">
                    <div class="row w3_agileits_banner_bottom_pos_grid">
                        <div class="col-3 wthree_banner_bottom_grid_left">
                            <div class="agile_banner_bottom_grid_left_grid hvr-radial-out text-center">
                                <i class="fab fa-steam" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9 wthree_banner_bottom_grid_right">
                            <h4 class="sub_service_agileits text-uppercase mb-2">Machinery Tools</h4>
                            <p class="mb-2">Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat egestas erat.</p>
                            <div class="agileits-button two service">
                                <a class="btn btn-primary btn-lg hvr-underline-from-left text-uppercase" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read More »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 agileits_banner_bottom_left mt-md-0 mt-4">
                <div class="agileinfo_banner_bottom_pos">
                    <div class="row w3_agileits_banner_bottom_pos_grid">
                        <div class="col-3 wthree_banner_bottom_grid_left">
                            <div class="agile_banner_bottom_grid_left_grid hvr-radial-out text-center">
                                <i class="fa fa-rocket" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9 wthree_banner_bottom_grid_right">
                            <h4 class="sub_service_agileits text-uppercase mb-2">Coal & Solid Fuels</h4>
                            <p class="mb-2">Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat egestas erat.</p>
                            <div class="agileits-button two service">
                                <a class="btn btn-primary btn-lg hvr-underline-from-left text-uppercase" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read More »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 agileits_banner_bottom_left mt-lg-0 mt-md-5 mt-4">
                <div class="agileinfo_banner_bottom_pos">
                    <div class="row w3_agileits_banner_bottom_pos_grid">
                        <div class="col-3 wthree_banner_bottom_grid_left">
                            <div class="agile_banner_bottom_grid_left_grid hvr-radial-out text-center">
                                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9 wthree_banner_bottom_grid_right">
                            <h4 class="sub_service_agileits text-uppercase mb-2">Oil Revolution</h4>
                            <p class="mb-2">Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat egestas erat.</p>
                            <div class="agileits-button two service">
                                <a class="btn btn-primary btn-lg hvr-underline-from-left text-uppercase" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read More »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 agileits_banner_bottom_left mt-md-5 mt-4">
                <div class="agileinfo_banner_bottom_pos">
                    <div class="row w3_agileits_banner_bottom_pos_grid">
                        <div class="col-3 wthree_banner_bottom_grid_left">
                            <div class="agile_banner_bottom_grid_left_grid hvr-radial-out text-center">
                                <i class="fas fa-industry" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9 wthree_banner_bottom_grid_right">
                            <h4 class="sub_service_agileits text-uppercase mb-2">Industry chemicals</h4>
                            <p class="mb-2">Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat egestas erat.</p>
                            <div class="agileits-button two service">
                                <a class="btn btn-primary btn-lg hvr-underline-from-left text-uppercase" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read More »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 agileits_banner_bottom_left mt-md-5 mt-4">
                <div class="agileinfo_banner_bottom_pos">
                    <div class="row w3_agileits_banner_bottom_pos_grid">
                        <div class="col-3 wthree_banner_bottom_grid_left">
                            <div class="agile_banner_bottom_grid_left_grid hvr-radial-out text-center">
                                <i class="fa fa-fire" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9 wthree_banner_bottom_grid_right">
                            <h4 class="sub_service_agileits text-uppercase mb-2">Gas Revolution</h4>
                            <p class="mb-2">Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat egestas erat.</p>
                            <div class="agileits-button two service">
                                <a class="btn btn-primary btn-lg hvr-underline-from-left text-uppercase" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read More »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 agileits_banner_bottom_left mt-md-5 mt-4">
                <div class="agileinfo_banner_bottom_pos">
                    <div class="row w3_agileits_banner_bottom_pos_grid">
                        <div class="col-3 wthree_banner_bottom_grid_left">
                            <div class="agile_banner_bottom_grid_left_grid hvr-radial-out text-center">
                                <i class="fas fa-cogs" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9 wthree_banner_bottom_grid_right">
                            <h4 class="sub_service_agileits text-uppercase mb-2">Quality Material</h4>
                            <p class="mb-2">Morbi viverra lacus commodo felis semper, eu iaculis lectus feugiat egestas erat.</p>
                            <div class="agileits-button two service">
                                <a class="btn btn-primary btn-lg hvr-underline-from-left text-uppercase" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">Read More »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->
<div class="tlinks">Collect from <a href="" >网站建设</a></div>
<!--Gallery -->
<section class="gallery indexgallery py-5 my-lg-5" id="gallery">
    <div class="container">
        <h3 class="heading text-center text-uppercase">Indus Fact Gallery</h3>
        <p class="heading-bottom text-center font-italic mb-5">Industrial Revolution Business</p>
        <div class="agileinfo_work_grids">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 w3_agile_work_grid gallery1">
                    <div class="wthree_work_grid1">
                        <a href="img/g1.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g1.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="wthree_work_grid1">
                        <a href="img/g2.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g2.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="wthree_work_grid1">
                        <a href="img/g3.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g3.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 w3_agile_work_grid">
                    <div class="wthree_work_grid1">
                        <a href="img/g4.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g4.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="wthree_work_grid1">
                        <a href="img/g5.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g5.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="wthree_work_grid1">
                        <a href="img/g6.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g6.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 w3_agile_work_grid">
                    <div class="wthree_work_grid1">
                        <a href="img/g7.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g7.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="wthree_work_grid1">
                        <a href="img/g8.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g8.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="wthree_work_grid1">
                        <a href="img/g9.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g9.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-6 w3_agile_work_grid">
                    <div class="wthree_work_grid1">
                        <a href="img/g4.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g4.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="wthree_work_grid1">
                        <a href="img/g3.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g3.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="wthree_work_grid1">
                        <a href="img/g2.jpg" class="b-link-stripe b-animate-go  swipebox" title="Indus Fact">
                            <div class="agile_work_grid w3_agileits_sub_work">
                                <img src="img/g2.jpg" alt=" " class="img-responsive" />
                                <div class="agileits_w3layouts_work text-center">
                                    Indus Fact
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Gallery -->

<!-- Clients -->
<section class="clients-main py-5" id="testimonials">
    <h3 class="heading text-center text-uppercase">Clients Reviews</h3>
    <p class="heading-bottom text-center font-italic mb-5">Industrial Revolution Business</p>
    <div class="container">
        <!-- Owl-Carousel -->
        <div class="cli-ent">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="item g1">
                                <div class="agile-dish-caption">
                                    <img class="lazyOwl" src="img/s1.jpg" alt="" />
                                    <h5 class="text-capitalize font-italic">Michael</h5>
                                    <h4 class="text-capitalize">Great Industrial work</h4>
                                </div>

                                <div class="clearfix"></div>
                                <p class="para-w3-agile text-center"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sedminc sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum consectetur adipisthn</p>
                            </div>
                        </li>
                        <li>
                            <div class="item g1">
                                <div class="agile-dish-caption">
                                    <img class="lazyOwl" src="img/s2.jpg" alt="" />
                                    <h5 class="text-capitalize font-italic">libero</h5>
                                    <h4 class="text-capitalize">High quality materials</h4>
                                </div>

                                <div class="clearfix"></div>
                                <p class="para-w3-agile text-center"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sedminc sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum consectetur adipisthn</p>
                            </div>
                        </li>
                        <li>
                            <div class="item g1">
                                <div class="agile-dish-caption">
                                    <img class="lazyOwl" src="img/s3.jpg" alt="" />
                                    <h5 class="text-capitalize font-italic">Alex</h5>
                                    <h4 class="text-capitalize">Innovative Industrial Solutions</h4>
                                </div>

                                <div class="clearfix"></div>
                                <p class="para-w3-agile text-center"><span class="fa fa-quote-left" aria-hidden="true"></span> Phasellus iaculis sapien in tellus gravida, a placerat lacus elementum. Nulla vitae lacus nec elit mollis pretium. Sedminc sed nunc lectus. Integer vehicula elit eget dignissim congue. Aliquam sed ultricies tortor. Curabitur ut odio vestibulum consectetur adipisthn</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!--// Owl-Carousel -->
    </div>
</section>
<!--// Clients -->

<!-- Indus Fact Workers -->
<section class="team py-5 mb-md-5" id="team">
    <h3 class="heading text-center text-uppercase">Indus Fact Workers</h3>
    <p class="heading-bottom text-center font-italic mb-5">Industrial Revolution Business</p>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-6 team-grids">
                <div class="thumbnail team-agileits text-center">
                    <img src="img/t2.jpg" class="img-responsive" alt=""/>
                    <div class="w3agile-caption ">
                        <h4>Alexander</h4>
                        <p>Chief Engineer</p>
                        <div class="social-icon social-w3lsicon">
                            <a href="#" class="social-button twit"><span class="fab fa-twitter"></span></a>
                            <a href="#" class="social-button fb"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social-button in"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-5 mb-5 col-6 team-grids">
                <div class="thumbnail team-agileits text-center">
                    <img src="img/t1.jpg" class="img-responsive" alt=""/>
                    <div class="w3agile-caption">
                        <h4>Elisa Liden</h4>
                        <p>Site Engineer</p>
                        <div class="social-icon social-w3lsicon">
                            <a href="#" class="social-button twit"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="social-button fb"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social-button in"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 team-grids">
                <div class="thumbnail team-agileits text-center">
                    <img src="img/t3.jpg" class="img-responsive" alt=""/>
                    <div class="w3agile-caption">
                        <h4>Mary Paul</h4>
                        <p>Site Worker</p>
                        <div class="social-icon social-w3lsicon">
                            <a href="#" class="social-button twit"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="social-button fb"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social-button in"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 team-grids">
                <div class="thumbnail team-agileits text-center">
                    <img src="img/t4.jpg" class="img-responsive" alt=""/>
                    <div class="w3agile-caption">
                        <h4>Johnson</h4>
                        <p>Chief Engineer</p>
                        <div class="social-icon social-w3lsicon">
                            <a href="#" class="social-button twit"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="social-button fb"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social-button in"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Indus Fact Workers -->

<!-- Newsletter  -->
<section class="newsletter py-5 my-lg-5" id="newsletter">
    <h3 class="heading text-center text-uppercase">Subscribe Newsletter</h3>
    <p class="heading-bottom text-center font-italic mb-5">Industrial Revolution Business</p>
    <div class="container">
        <form action="#" method="post">
            <input type="email" name="Email" placeholder="Enter Your Email..." required="">
            <input type="submit" class="text-uppercase" value="Send">
        </form>
    </div>
</section>
<!-- //Newsletter  -->

{{IncludeHTML "sites/default/footer.tp.html" .}}

<!-- Vertically centered Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">Indus Fact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="img/1.jpg" class="img-fluid mb-3" alt="Modal Image" />
                Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum, ut auctor turpis cursus. Sed sed odio pharetra, aliquet velit cursus, vehicula enim. Mauris porta aliquet magna, eget laoreet ligula.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- //Vertically centered Modal -->


<!-- js-scripts -->



<!-- Banner Slider js script file-->
<script src="js/JiSlider.js"></script>
<script>
    $(window).load(function () {
        $('#JiSlider').JiSlider({
            color: '#fff',
            start: 3,
            reverse: true
        }).addClass('ff')
    })
</script>
<!-- //Banner Slider js script file-->

<!-- script-for-swipebox -->
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function($) {
        $(".swipebox").swipebox();
    });
</script>
<!-- //script-for-swipebox -->

<!-- flexSlider --><!-- for testimonials -->
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!-- //flexSlider --><!-- for testimonials -->

<!-- start-smoth-scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- start-smoth-scrolling -->

<!-- //js-scripts -->

</body>
</html>