<html ng-app="appModule">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <script type="text/javascript" src="/resources/jquery/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/resources/messenger/js/messenger.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/messenger/js/messenger-theme-flat.js" charset="UTF-8"></script>
    <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/resources/messenger/css/messenger.css">
    <link rel="stylesheet" href="/resources/admin/css/style.css">
    <link rel="stylesheet" href="/resources/messenger/css/messenger-theme-flat.css">

    <title>忘记密码</title>
    <script type="text/javascript" src="/resources/angular/angular.min.js"></script>
    <script type="text/javascript" src="/resources/angular/angular-messages.min.js"></script>
    <script type="text/javascript">
        <td align="center" valign="middle" style="padding:1px;border:1px solid #DFE6F6;" param="https://rescdn.qqmail.com/zh_CN/images/mo/DEFAULT2/0.gif"><div param="https://rescdn.qqmail.com/zh_CN/images/mo/DEFAULT2/0.gif" style="padding:1px;" title="微笑"><div class="moBGPicDiv" param="https://rescdn.qqmail.com/zh_CN/images/mo/DEFAULT2/0.gif" offset="-7.5" title="微笑" style="width: 24px; height: 24px; background: url(&quot;https://rescdn.qqmail.com/zh_CN/images/mo/DEFAULT2/default2.gif&quot;) 0px 0px;"></div></div></td>
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom',
            theme: 'flat',
            messageDefaults: {hideAfter: 3}
        }
        var addModule = angular.module("appModule", ["ngMessages"]);
        var redirect = "${redirect}";
        addModule.controller("formController", function ($http, $scope) {

            $scope.user = {account: "", password: ""};
            var canSendSmsCode = true;
            var timer;
            var po;

            $scope.actionStatus={};
            $scope.login = function (valid) {

                if(valid==false){
                    Messenger().post("请完善内容在提交");
                    return;
                }

                if($scope.user.tel==undefined || $scope.user.tel==""){
                    Messenger().post("手机号不能为空！");
                    return
                }
                if($scope.user.password==undefined || $scope.user.password==""){
                    Messenger().post("密码不能为空！");
                    return
                }
                if($scope.repassword==undefined || $scope.repassword==""){
                    Messenger().post("输入确认密码不能为空！");
                    return
                }
                if($scope.user.gcode==undefined || $scope.user.gcode==""){
                    Messenger().post("请输入图形验证码！");
                    return
                }
                if($scope.user.tcode==undefined || $scope.user.tcode==""){
                    Messenger().post("请输入短信验证码！");
                    return
                }


                if($scope.user.tel.length!=11){
                    Messenger().post("请输入11位手机号！");
                    return
                }
                if($scope.user.tel.length<6){
                    Messenger().post("请输入6位以上的密码！");
                    return
                }

                if($scope.user.password!=$scope.repassword){
                    Messenger().post("请输入正确的确认密码！");
                    return
                }

                if($scope.user.gcode.length!=4){
                    Messenger().post("请输入4位以上的密码！");
                    return
                }
                if($scope.user.tcode.length!=6){
                    Messenger().post("请输入6位以上的密码！");
                    return
                }

                var form = new FormData();
                form.append("action","rest_password");
                form.append("json",angular.toJson($scope.user));
                $http.post("user",form,{transformRequest: angular.identity,headers: {'Content-Type':undefined}}).success(function (response) {

                    $scope.actionStatus =response;
                    po = 60;
                    $("#sendcode").attr("value","获取验证码");
                    $("#captcha").attr("src","/images/captcha");
                    $scope.user.gcode = "";
                    $scope.user.tcode = "";
                    clearInterval(timer);

                });
            };

            $scope.onSendTCode = function () {
                if(canSendSmsCode==false){

                    return;
                }
                if($scope.user.tel == undefined || $scope.user.gcode == undefined){
                    Messenger().post("手机或图形验证码不能为空");
                    return;
                }
                if($scope.user.tel.length<11){
                    Messenger().post("手机必须是11位");
                    return;
                }
                $http.get("/datas/sms_code",{params:{phone:$scope.user.tel,captcha:$scope.user.gcode}}).success(function (response) {


                    if(response.type==1){
                        Messenger().post(response.message);
                    }
                    if(response.success){

                        $("#sendcode").attr("value","发送成功");
                        canSendSmsCode = false;
                        po = 60;
                        timer = setInterval(function () {
                            if(po<=0){

                                canSendSmsCode = true;
                                $("#sendcode").attr("value","获取验证码");
                                clearInterval(timer);
                                return;
                            }
                            $("#sendcode").attr("value",po+"秒可重新发送");
                            po--;
                        },1000);

                    }

                });

            }


        })

    </script>
    <style>
        html, body {
            padding: 0px;
            margin: 0px;
        }

        * {
            font-family: "微软雅黑", "Helvetica Neue", Arial, Verdana, sans-serif;
        }

        table {
            width: 100%;

        }

        #content {

            padding: 20px;
        }

        #foot {
            text-align: center;
            margin-top: 100px;

            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    </style>
</head>
<body ng-controller="formController">
<div style="border-radius: 0px;" class="panel panel-primary">
    <div class="panel-heading" style="text-align: center;">重置密码</div>

    <div class="panel-body">

        <div ng-show="actionStatus.success==false" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{actionStatus.message}}
        </div>
        <div ng-show="actionStatus.success==true" class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            密码修改成功<a href="/admin" class="alert-link">返回登陆</a>
        </div>

        <form style="border: none;" name="mainForm" novalidate ng-submit="login(mainForm.$valid)">
            <div class="form-group">
                <label>帐号</label>
                <small>请输入你需要找回登录密码的账户名</small>
                <input type="text"  required class="form-control" name="user_tel" maxlength="11" minlength="11" placeholder="手机号" ng-model="user.tel">
                <div ng-messages="mainForm.user_tel.$error" style="color:maroon" role="alert">
                    <div ng-message="required">必填字段</div>
                    <div ng-message="minlength">最小长度必须11位</div>
                    <div ng-message="maxlength">最大长度必须11位</div>
                </div>
            </div>
            <div class="form-group">
                <label>密码</label>
                <small></small>
                <input type="password"  required name="user_password" class="form-control" maxlength="32" minlength="6" placeholder="请输入6位或以上密码" ng-model="user.password">
                <div ng-messages="mainForm.user_password.$error" style="color:maroon" role="alert">
                    <div ng-message="required">必填字段</div>
                    <div ng-message="minlength">最小长度必须6位</div>
                    <div ng-message="maxlength">最大长度必须32位</div>
                </div>
            </div>
            <div class="form-group" ng-class="{true:'has-error'}[user.password!=repassword]">
                <label>确认您的密码</label>
                <small></small>
                <input type="password"  required class="form-control" maxlength="32" minlength="6" ng-model="repassword" placeholder="确认您的密码">
                <div style="color:maroon" role="alert">
                    <div ng-show="user.password!=undefined && user.password!='' && user.password!=repassword">两次输入的密码不一样</div>
                </div>
            </div>
            <div class="form-group">
                <label>图形验证</label>
                <small></small>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="tel" class="form-control" name="user_gcode" maxlength="4" minlength="4" required ng-model="user.gcode" placeholder="输入图形验证码">
                    </div>
                    <div class="col-xs-6">
                        <img src="/images/captcha" onclick="javascript:document.getElementById('captcha').src='/images/captcha'" id="captcha" alt="..." height="34" class="img-rounded">
                    </div>
                </div>
                <div ng-messages="mainForm.user_gcode.$error" style="color:maroon" role="alert">
                    <div ng-message="required">必填字段</div>
                    <div ng-message="minlength">最小长度必须4位</div>
                    <div ng-message="maxlength">最大长度必须4位</div>
                </div>
            </div>
            <div class="form-group">
                <label>短信验证</label>
                <small></small>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="tel" name="user_tcode" class="form-control" minlength="6" maxlength="6" required ng-model="user.tcode" placeholder="输入验证码">
                    </div>
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-success btn-block" id="sendcode" ng-click="onSendTCode();" value="获取验证码">
                    </div>
                </div>
                <div ng-messages="mainForm.user_tcode.$error" style="color:maroon" role="alert">
                    <div ng-message="required">必填字段</div>
                    <div ng-message="minlength">最小长度必须4位</div>
                    <div ng-message="maxlength">最大长度必须4位</div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="重置密码">
            </div>
            <div class="form-group">
                <small><a href="/admin">返回登陆</a></small>
            </div>
            <div class="form-group">
                <small><a href="/">返回首页</a></small>
            </div>
        </form>

    </div>
</div>
</body>
</html>