<!DOCTYPE html>
<html ng-app="appModule">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width,user-scalable=no" name="viewport">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <title>确认手机号</title>
    <link rel="stylesheet" type="text/css" href="/resources/semantic-ui/semantic.min.css">
    <script type="text/javascript" src="/resources/jquery/3/jquery-3.2.1.min.js"></script>
    {{/*<script type="text/javascript" src="/resources/semantic-ui/semantic.min.js"></script>*/}}
    <script type="text/javascript" src="/resources/angular/angular.min.js"></script>
    <script type="text/javascript">


        var addModule = angular.module("appModule", []).config(['$interpolateProvider', function ($interpolateProvider) {
            $interpolateProvider.startSymbol("@{").endSymbol("}@");
        }]);

        var redirect = "{{.query.redirect}}";



        addModule.controller("formController", function ($http, $scope,$interval) {



            $scope.Tel = "13809549424";
            $scope.Code = "12345";

            $scope.timeWait = 60;
            $scope.timer=0;
            $scope.SendCode = function () {

                if($scope.Tel==undefined||$scope.Tel==""){
                    alert("手机号不能为空！");
                    return
                }
                if($scope.timeWait!=60){
                    return
                }

               // $('#progressBar').modal({keyboard:false,show:true,backdrop:"static"});

                //var form = new FormData();
                //form.append("Tel",$scope.Tel);
                //form.append("password",$scope.admin.password);

                $http.post("SMSCode",{Tel:$scope.Tel},{headers: {'Content-Type':undefined}}).then(function (response) {

                    //$('#progressBar').modal('hide');

                    var status = response.data;
                    if (status.Success==true) {

                        $scope.timer = $interval(function () {

                            $scope.timeWait--;

                            if($scope.timeWait<=0){
                                $interval.cancel($scope.timer);
                                $scope.timeWait=60;
                            }

                        },1000)


                    } else {
                        $interval.cancel($scope.timer);
                        $scope.timeWait=60;

                        alert(status.Message);
                        //$scope.admin.password ="";
                    }

                });
            };
            $scope.login = function () {

                if($scope.Tel==undefined||$scope.Tel==""){
                    alert("手机号不能为空！");
                    return
                }

                //$('#progressBar').modal({keyboard:false,show:true,backdrop:"static"});

                //var form = new FormData();
                //form.append("Tel",$scope.Tel);
                //form.append("password",$scope.admin.password);

                $http.post("loginUser",{Tel:$scope.Tel,Code:$scope.Code},{headers: {'Content-Type':undefined}}).then(function (response) {

                    //$('#progressBar').modal('hide');

                    var status = response.data;

                    if (status.Success==true) {

                        if(status.Data.Doctor==null){
                            alert("您未注册成医生或护士");
                            return
                        }else{
                            if(status.Data.Doctor.Pass!=1){
                                alert("你的资料还在审核中。。。");
                                return
                            }
                        }

                        if(redirect==""){
                           window.location.replace("/doctor/Doctor");
                            return;
                        }
                        window.location.replace(redirect);
                    } else {
                       alert(status.Message);

                    }

                });
            };


        })
    </script>
    <style>
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
</head>
<body ng-controller="formController">


<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal header">
            <div class="content">确认手机号</div>
        </h2>
        <form class="ui large form" ng-submit="login();">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="tel"  required maxlength="11" minlength="11" placeholder="请输入手机号" ng-model="Tel">
                    </div>
                </div>
                <div class="field">

                    <div class="ui action left icon input">
                        <i class="lock icon"></i>
                        <input type="text"  required minlength="5" maxlength="5" ng-model="Code" placeholder="请输入验证码">
                        <button type="button" ng-show="timeWait==60" ng-click="SendCode()" class="ui teal button">获取验证码</button>
                        <button type="button" ng-show="timeWait!=60" class="ui teal button">@{timeWait+'s'}@</button>
                    </div>

                </div>
                <input type="submit" class="ui fluid large teal submit button" value="开始使用">
            </div>

            <div class="ui error message"></div>

        </form>

        <div style="display: none;" class="ui message">
            New to us? <a href="#">Sign Up</a>
        </div>
    </div>
</div>

</body>
</html>