<html ng-app="addModule">
<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/resources/angular/angular.min.js"></script>
    <link href="/resources/admin/css/style.css" rel="stylesheet" type="text/css">
    <link href="/resources/umeditor/css/umeditor.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/resources/jquery/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/resources/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="/resources/angular/angular-messages.min.js"></script>
    <script type="text/javascript" src="/resources/umeditor/umeditor.config.js"></script>
    <script type="text/javascript" src="/resources/umeditor/umeditor.min.js"></script>
    <script type="text/javascript" src="/resources/umeditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        var addModule = angular.module("addModule", ["ngRoute","ngMessages"]);

        addModule.controller("addCtrl", function ($http, $scope, $routeParams) {
            $scope.article = {thumbnail:undefined};

            $("img").mousedown(function (event) {
                //alert(JSON.stringify(event));
            })

            var pid ='${pid}';

            $scope.getAC = function () {
                $http.get("category", {params: {action: "list"}}).success(function (response) {
                    $scope.articleCategorys = response.data;
                    if($scope.articleCategorys.length==0){
                        $scope.article.categoryID = -1;
                    }else{
                        $scope.article.categoryID = $scope.articleCategorys[0].id;
                    }

                });

            }
            
            $scope.getWxContent = function () {

                if($scope.wxurl==undefined || $scope.wxurl==""){
                    alert("地址不能为空");
                    return
                }
                $("#busy").css("display", "block");
                var formData = new FormData();
                formData.append("url", $scope.wxurl);
                $http({
                    method: "POST",
                    url: "getwx_content",
                    data: formData,
                    headers: {'Content-Type': undefined},
                    transformRequest: angular.identity
                })
                        .success(function (data, status, headers, config) {
                            //window.location.href = "index";

                            $("#busy").css("display", "none");

                            if(data.success){
                                $scope.article.title = data.data.title;
                                $scope.article.thumbnail = data.data.thumbnail;
                                $scope.article.fromUrl = data.data.fromUrl;
                                var um = UM.getEditor('content');
                                um.setContent(data.data.content);

                            }else{
                                alert(data.message);
                            }
                        });

            }

            $scope.getAC();

            if (pid == -1 || pid=='' || pid==undefined) {
                $scope.save = function (valid) {
                    if(valid==false){
                        alert("请完善内容在提交");
                        return;
                    }
                    var um = UM.getEditor('content');
                    $scope.article.content = um.getContent();

                    if ($scope.article.content.length > 100000000) {
                        alert("不超过1个亿的长度！已超出：" + ($scope.article.content.length - 100000000));
                        return;
                    }

                    var formData = new FormData();
                    formData.append("action", "add");
                    formData.append("json", angular.toJson($scope.article));

                    $http({
                        method: "POST",
                        url: "article",
                        data: formData,
                        headers: {'Content-Type': undefined},
                        transformRequest: angular.identity
                    })
                            .success(function (data, status, headers, config) {
                                //window.location.href = "index";
                                window.history.back();
                            });


                }
            } else {
                $scope.save = function (valid) {
                    if(valid==false){
                        alert("请完善内容在提交");
                        return;
                    }
                    var um = UM.getEditor('content');
                    $scope.article.content = um.getContent();
                    if ($scope.article.content.length > 100000) {
                        alert("不超过5000字符！已超出：" + ($scope.article.content.length - 100000));
                        return;
                    }

                    var formData = new FormData();
                    formData.append("action", "change");
                    formData.append("json", angular.toJson($scope.article));

                    $http({
                        method: "POST",
                        url: "article",
                        data: formData,
                        headers: {'Content-Type': undefined},
                        transformRequest: angular.identity
                    })
                            .success(function (data, status, headers, config) {
                                //window.location.href = "index";
                                window.history.back();
                            });
                };
                $http.get("article", {params: {action: "geta", pid: pid}}).success(function (response) {
                    $scope.article = response.data;
                    var um = UM.getEditor('content');
                    um.setContent($scope.article.content);
                });

            }

            $scope.upload = function (file, name) {
                var formData = new FormData();
                formData.append('file', file);

                $("#busy").css("display", "block");
                $http({
                    method: 'POST',
                    url: '../file/upImage',
                    data: formData,
                    headers: {'Content-Type': undefined},
                    transformRequest: angular.identity
                })
                        .success(function (data, status, headers, config) {
                            $("#busy").css("display", "none");
                            if (data.success == false) {

                                alert(data.message);
                                return;
                            }

                            switch (name) {
                                case "thumbnail":
                                    $scope.article.thumbnail = data.data.url;
                                    break;
                            }
                        }).error(function (data, status, headers, config) {
                            $("#busy").css("display", "none");
                        });
            };
        });
        addModule.directive("fileUploader", function () {
            return {
                restrict: 'E',
                transclude: true,
                //template:'<input type="file" multiple >',
                template: '<input type="file" accept="image/gif,image/jpeg,image/png"/>',
                controller: function ($scope) {
                    //alert("dfds");
                    /*$scope.notReady = true;
                     $scope.upload = function() {
                     $fileUpload.upload($scope.files);
                     };*/
                },
                link: function ($scope, $element, $attrs) {
                    //alert($element);
                    //var fileInput = $element.find('input[type="file"]');
                    var fileInput = $element.find('input');
                    fileInput.bind('change', function (e) {


                        var formData = new FormData();
                        formData.append("file", e.target.files[0]);

                        $scope.upload(e.target.files[0], $attrs.name);
                    });
                }
            }

        });
    </script>
    <style>
        #busy {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(55, 55, 55, 0.2);
            z-index: 9999;
        }
        #busy .busytxt {
            position: fixed;
            top: 30%;
            left: 30%;
            right: 30%;
            bottom: 30%;
            width: 40%;
            color: #003373;
            font-weight: bold;
            vertical-align: middle;
            line-height: 50px;
            background-color: #8ab5e0;
            text-align: center;
            border-radius: 10px;

        }
        @media screen and (max-width:640px) {

            .edui-popup .edui-popup-caret.up{
                background: none;
            }
            .edui-popup-emotion{
                width: 100%!important;
                left: 0px!important;
                right: 0px!important;
            }
            .edui-dialog-image{
                width: 100%!important;
                top: 0px!important;
                left: 0px!important;
                right: 0px!important;
                bottom: 0px!important;
                margin-left:0px!important;
            }
            .edui-dialog-image-body{
                width: 100%!important;
            }
            .edui-dialog-image .edui-image-searchBar .edui-image-searchTxt{
                width: auto!important;
            }
        }

        .edui-editor-body .edui-body-container img{
            width: 100%!important;
        }


    </style>
</head>
<body ng-controller="addCtrl">
<div id="busy" style="display:none;">
    <table class="busytxt">
        <tbody>
        <tr>
            <td>现在加载数据。。。</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <div style="border-radius: 0px;" class="panel panel-primary">
        <div style="border-radius: 0px;" class="panel-heading">
            <div class="row">
                <div class="col-xs-4" style="padding: 0px;">
                    <a style="text-decoration: none; color: #fff;" href="" onclick="javascript:window.history.length<=2?window.location.href='/admin':window.history.back();">返回</a>
                </div>
                <div class="col-xs-4" style="cursor:pointer;text-align: center;padding: 0px;" onclick="javascript:window.location.href='/admin'">
                    文章编辑器
                </div>
                <div class="col-xs-4" style="text-align: right;padding: 0px;">

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div style="color:#333;border:1px solid #ddd;background-color: #eee;padding: 10px;border-radius: 5px;" class="form-group">
                <label style="color: #333;">输入微信文章地址，自动获取文章进行转发</label>
                <small></small>
                <input type="text"  class="form-control" placeholder="输入微信文章地址" ng-model="wxurl">
                <p style="margin-top: 10px;">
                    <button class="btn btn-primary btn-block" ng-click="getWxContent();">自动获取</button>
                </p>
            </div>
            <form name="mainForm" ng-submit="save(mainForm.$valid)">
            <div class="form-group">
                <label>标题</label>
                <small></small>
                <input type="text"  required class="form-control" maxlength="255" minlength="1" placeholder="标题" name="article_title" ng-model="article.title">
                <div ng-messages="mainForm.article_title.$error" style="color:maroon" role="alert">
                    <div ng-message="required">必填字段</div>
                    <div ng-message="minlength">最小长度必须1位</div>
                    <div ng-message="maxlength">最大长度必须255位</div>
                </div>
            </div>
            <div class="form-group">
                <label>缩略图</label>
                <small></small>
                <file-uploader required name="thumbnail"></file-uploader>
                <img width="64" height="64" ng-src="../datas/file?path=@{article.thumbnail}@">
            </div>
            <div class="form-group">
                <label>所属类型</label>
                <small></small>
                <select required class="form-control" ng-model="article.categoryID" ng-select="selectArticleCategory();"
                        ng-options="o.id as o.label for o in articleCategorys">

                </select>
            </div>

            <div class="form-group">
                <label>内容</label>
                <small></small>
                <script type="text/plain" id="content" style="width:100%;height:240px;">
                <p>在这里输入文字和图片！</p>
                </script>
                <script>
                    //实例化编辑器
                    /*
                     *  ,imageUrl:URL+"jsp/imageUp.jsp"             //图片上传提交地址
                     ,imagePath:URL + "jsp/"                     //图片修正地址，引用了fixedImagePath,如有特殊需求，可自行配置
                     ,imageFieldName:"upfile"
                     * */
                    var um = UM.getEditor('content');
                    um.addListener('selectionchange',function(event){


                        var range = um.selection.getRange().getClosedNode();
                        //alert(range.tagName);
                        if(range && range.tagName=="IMG"){



                            //var llst = um.selection.getRange();
                            //llst.deleteContents();
                            ///alert(llst);
                            //um.blur();
                            //um.focus();
                            //var range = um.selection.getRange();
                           // range.select();


                            //um.selection.getRange().setCursor();


                        }

                    })

                    //UM.imageUrl = "../../file/upImage";
                    um.addListener('blur', function () {
                        //$('#focush2').html('编辑器失去焦点了')
                    });
                    um.addListener('focus', function () {
                        //$('#focush2').html('')
                    });

                </script>
            </div>


            <div class="form-group">
                <label></label>
                <small></small>
                <input type="submit" class="btn btn-primary btn-block"  value="提交">
            </div>

            </form>
        </div>
    </div>
</div>



</body>
</html>