<style>
    table.type_info{
        width: 100%;
        border: 1px solid #849082;
        background: #d1d5d2;
        border-radius: 5px;
    }
    table.type_info tr{
        display: flex;
        justify-content: space-between;
        text-align: center;

        padding: 3px 0px;
    }
    table.type_info tbody tr{
        border-top: 1px solid #849082;
    }
    table.type_info tr td{
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    #express a{
        cursor: pointer;
    }
    table.type_info tr td input{
        width: 100px!important;
        height: 30px;
        border: 1px solid #849082!important;
    }



    table.freeitems tr{
        display: flex;
        justify-content: space-between;
        text-align: center;

        padding: 3px 0px;
    }
    table.freeitems td{
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    table.freeitems input{
        width: inherit!important;
        height: 30px;
    }
    table tfoot{
        background: #eee;
    }
</style>
<div id="express" class="ui container">
    <p>
        <a class="ui red ribbon label">添加快递模板</a>
    </p>

    <form class="ui form" ng-submit="saveExpress()">
        <div class="two fields">
            <div class="field">
                <label>快递名称</label>
                <input ng-model="Template.Name" required placeholder="快递名称" type="text">
            </div>
        </div>
        <div class="inline fields">
            <label for="fruit">是否包邮：</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="fruit4" checked="true" tabindex="0" ng-model="Template.Drawee" value="BUYERS" type="radio">
                    <label>自定义运费</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="fruit4" tabindex="0" ng-model="Template.Drawee" value="BUSINESS" type="radio">
                    <label>卖家承担运费</label>
                </div>
            </div>
        </div>
        <div class="inline fields">
            <label for="fruit">计价方式：</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="fruit1" checked="true" tabindex="0" ng-model="Template.Type" value="ITEM" type="radio">
                    <label>按件数</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="fruit1" tabindex="0" ng-model="Template.Type" value="GRAM"  type="radio">
                    <label>按重量</label>
                </div>
            </div>
        </div>


        <div class="field">
            <label>运送方式：(除指定地区外，其余地区的运费采用“默认运费”)</label>
            <table class="type_info">
                <thead>
                    <tr>
                        <td style="width: 200px;"><b>默认运费</b></td>
                        <td><input required min="1" type="number" ng-model="items.Default.N">@{Template.Type=="GRAM"?'g以内':'件内'}@</td>
                        <td><input required min="1" type="number" ng-model="items.Default.M">元</td>
                        <td>每增加<input required min="1" type="number" ng-model="items.Default.AN">@{Template.Type=="GRAM"?'g':'件'}@</td>
                        <td>增加运费<input required min="1" type="number" ng-model="items.Default.ANM">元</td>
                        <td style="width: 50px;">&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in items.Items">
                        <td style="width: 200px;"><a ng-click="addArea($index)" >@{m.Areas.length<=0?'添加地区':m.Areas.join(',')}@</a></td>
                        <td><input required min="1" type="number" ng-model="m.N">@{Template.Type=="GRAM"?'g以内':'件内'}@</td>
                        <td><input required min="1" type="number" ng-model="m.M">元</td>
                        <td>每增加<input required min="1" type="number" ng-model="m.AN">@{Template.Type=="GRAM"?'g':'件'}@</td>
                        <td>增加运费<input required min="1" type="number" ng-model="m.ANM">元</td>
                        <td style="width: 50px;"><button ng-click="deleteItem($index)" class="ui mini red compact icon button"><i class="delete icon"></i></button></td>
                    </tr>
                </tbody>

            </table>
            <label><a ng-click="addItem()">添加指定地区城市设置运费</a></label>
        </div>

        <h4 class="ui dividing header">设置包邮条件</h4>
        <div class="fields">

            <table ng-if="Template.Type=='ITEM'" class="ui teal table">
                <thead>

                    <tr>
                        <th style="width: 200px;">
                            地区
                        </th>
                        <th>
                            设置包邮方式
                        </th>
                        <th>
                            设置包邮条件
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="m in FreeItems">
                            <td style="width: 200px;">
                                <a ng-click="addAreaJT($index)">@{m.Areas.length<=0?'添加地区':m.Areas.join(',')}@</a>
                            </td>
                            <td>
                                <select style="width: 150px;" ng-model="m.Type">
                                    <option value="N">件数</option>
                                    <option value="M">金额</option>
                                    <option value="NM">件数+金额</option>
                                </select>
                            </td>
                            <td>
                                <div  ng-if="m.Type=='N'">
                                    满<input style="width: 100px;" type="number" ng-model="m.N">件包邮
                                </div>
                                <div ng-if="m.Type=='M'">
                                    满<input style="width: 100px;" type="number" ng-model="m.M">元以上包邮
                                </div>
                                <div ng-if="m.Type=='NM'">
                                    <span>满<input style="width: 100px;" type="number" ng-model="m.N">件，<input style="width: 100px;" type="number" ng-model="m.M">元以上包邮</span>
                                </div>
                            </td>
                            <td>
                                <input type="button" ng-click="deleteFreeItem($index)" class="ui red button" value="删除">
                            </td>
                        </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td style="width: 200px;">
                            <a ng-click="addAreaJT(-1)">@{FreeItem.Areas.length<=0?'添加地区':FreeItem.Areas.join(',')}@</a>
                        </td>
                        <td>
                            <select style="width: 150px;" ng-model="FreeItem.Type">
                                <option value="N">件数</option>
                                <option value="M">金额</option>
                                <option value="NM">件数+金额</option>
                            </select>
                        </td>
                        <td>
                            <div ng-if="FreeItem.Type=='N'">
                                满<input style="width: 100px;" type="number" ng-model="FreeItem.N">件包邮
                            </div>
                            <div ng-if="FreeItem.Type=='M'">
                                满<input style="width: 100px;" type="number" ng-model="FreeItem.M">元以上包邮
                            </div>
                            <div ng-if="FreeItem.Type=='NM'">
                                <span>满<input style="width: 100px;" type="number" ng-model="FreeItem.N">件，<input style="width: 100px;" type="number" ng-model="FreeItem.M">元以上包邮</span>
                            </div>
                        </td>
                        <td>
                            <input type="button" ng-click="addFreeItem()" class="ui blue button" value="添加">
                        </td>
                    </tr>
                </tfoot>
            </table>

            <table ng-if="Template.Type=='GRAM'" class="ui red table">
                <thead>

                <tr>
                    <th style="width: 200px;">
                        地区
                    </th>
                    <th>
                        设置包邮方式
                    </th>
                    <th>
                        设置包邮条件
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in FreeItems">
                    <td style="width: 200px;">
                        <a ng-click="addAreaJT($index)">@{m.Areas.length<=0?'添加地区':m.Areas.join(',')}@</a>
                    </td>
                    <td>
                        <select style="width: 150px;" ng-model="m.Type">
                            <option value="N">重量</option>
                            <option value="M">金额</option>
                            <option value="NM">重量+金额</option>
                        </select>
                    </td>
                    <td>
                        <div ng-if="m.Type=='N'">
                            在<input style="width: 100px;" type="number" ng-model="m.N">g内包邮
                        </div>
                        <div ng-if="m.Type=='M'">
                            满<input style="width: 100px;" type="number" ng-model="m.M">元以上包邮
                        </div>
                        <div ng-if="m.Type=='NM'">
                            <span>在<input style="width: 100px;" type="number" ng-model="m.N">g内，<input style="width: 100px;" type="number" ng-model="m.M">元以上包邮</span>
                        </div>
                    </td>
                    <td>
                        <input type="button" ng-click="deleteFreeItem($index)" class="ui red button" value="删除">
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td style="width: 200px;">
                        <a ng-click="addAreaJT(-1)">@{FreeItem.Areas.length<=0?'添加地区':FreeItem.Areas.join(',')}@</a>
                    </td>
                    <td>
                        <select style="width: 150px;" ng-model="FreeItem.Type">
                            <option value="N">重量</option>
                            <option value="M">金额</option>
                            <option value="NM">重量+金额</option>
                        </select>
                    </td>
                    <td>
                        <div ng-if="FreeItem.Type=='N'">
                            满<input style="width: 100px;" type="number" ng-model="FreeItem.N">g包邮
                        </div>
                        <div ng-if="FreeItem.Type=='M'">
                            满<input style="width: 100px;" type="number" ng-model="FreeItem.M">元包邮
                        </div>
                        <div ng-if="FreeItem.Type=='NM'">
                            <span>在<input style="width: 100px;"  type="number" ng-model="FreeItem.N">g内，<input style="width: 100px;" type="number" ng-model="FreeItem.M">元以上包邮</span>
                        </div>
                    </td>
                    <td>
                        <input type="button" ng-click="addFreeItem()" class="ui blue button" value="添加">
                    </td>
                </tr>
                </tfoot>
            </table>

        </div>

        <button class="ui blue fluid button" type="submit">提交</button>
    </form>

</div>
<div id="area_item" class="ui modal">
    <div class="header">选择地区</div>
    <div class="content">
        <div class="ui checkbox" style="width: 25%;margin: 10px 0px;" ng-repeat="m in dq">
            <input ng-change="selectArea($index)" ng-disabled="AreaIndexList.indexOf(m)!=-1" ng-model="Area" type="checkbox">
            <label>@{m}@</label>
        </div>
    </div>
    <div class="actions">
            <button class="ui approve blue button">确定</button>
    </div>
</div>
<div id="area_tj" class="ui modal">
    <div class="header">选择地区</div>
    <div class="content">
        <div class="ui checkbox" style="width: 25%;margin: 10px 0px;" ng-repeat="m in dq">
            <input ng-change="selectAreaTJ(m)" ng-disabled="AreaTjIndexList.indexOf(m)!=-1" ng-model="Areass" type="checkbox">
            <label>@{m}@</label>
        </div>
    </div>
    <div class="actions">
        <button class="ui approve blue button">确定</button>
    </div>
</div>