<div id="score_goods_list" class="ui container">
    <p>
        <a class="ui red ribbon label">@{TargetAction.title}@</a>
    </p>

    <form class="ui actions form" ng-submit="add_score_goods()">

        <div class="field">
            <label>每单拼团人数</label>
            <input type="number" min="1" ng-model="Item.Num" required placeholder="每单拼团人数">
        </div>

        <div class="field">
            <label>立减折扣（%）</label>
            <small>如：商品价格500元，则购买价格为：@{500-(500*Item.Discount/100)}@元</small>
            <input type="number" min="0" max="100" step="1" ng-model="Item.Discount" required placeholder="折扣（%）">
        </div>
        <div class="field">
            <label>拼团总数量</label><small>销售出这个数量后，该活动自动停止</small>
            <input type="number" min="1" ng-model="Item.TotalNum" required placeholder="拼团总数量">
        </div>

        <div class="field">
            <label>选择产品<input ng-click="showGoodsList()" type="button" class="ui mini blue button" value="添加产品"></label>
            <table width="100%" class="ui small inverted orange table">
                <thead>
                <tr>
                    <th>#ID</th>
                    <th>名称</th>
                    <th style="text-align: right;"></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in GoodsList">
                        <td>@{m.ID}@</td>
                        <td>@{m.Title}@</td>
                        <td style="text-align: right;"><button ng-click="deleteTimeSellGoods(m)" type="button" class="ui mini red compact icon button"><i class="delete icon"></i></button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <th></th>
                    <th></th>
                    <th></th>
                </tfoot>
            </table>
        </div>
        <div class="field">
            <button type="submit" class="ui red button">提交</button>
            <div class="ui cancel button">取消</div>
        </div>
    </form>

</div>
<div id="goods_list" class="ui fullscreen modal">
    <div class="header">选择产品</div>
    <div class="content">
        <table width="100%" id="goods_list_table" class="ui teal table">
            <thead>
            <tr>
                <th>#ID</th>
                <th>名称</th>
                <th>总库存</th>
                <th>市场价</th>
                <th>创建时间</th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="actions">
        <button class="ui approve button">确定</button>
    </div>
</div>