<div class="ui container">
    <p>
        <a class="ui red ribbon label">管理员</a>
    </p>
    <div class="ui mini menu">
        <div class="right menu">
            <a class="item" ng-click="showAdminModal({method:'POST',url:'admin',title:'添加管理员'})" >
                <div class="ui red button">添加管理员</div>
            </a>
        </div>
    </div>
    <table width="100%" id="table_local" class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>账号</th>
            <th>最后登陆时间</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>
<div id="authorityModal" class="ui large modal">
    <div class="header">权限管理</div>
    <div class="content">
        <div class="ui form">
            <h4 class="ui dividing header"></h4>
            <div class="field">
                <div class="three fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" data-value="{'path':'login','page':'loginPage'}" name="login">
                            <label>登陆</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="three fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" data-value="{'path':'login','page':'loginPage'}" name="add_store">
                            <label>添加门店数据</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" data-value="{'path':'login','page':'loginPage'}" name="view_store">
                            <label>查看门店数据</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="three fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" data-value="{'path':'login','page':'loginPage'}" name="add_admin">
                            <label>添加管理员</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" data-value="{'path':'login','page':'loginPage'}" name="delete_admin">
                            <label>删除管理员</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="three fields">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" data-value="{'path':'login','page':'loginPage'}" name="analyse">
                            <label>账务统计</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="actions">
        <div class="ui approve red button">确定</div>
        <div class="ui cancel button">取消</div>
    </div>
</div>

<div id="adminModal" class="ui mini modal">

    <div class="header">@{TargetAction.title}@</div>
    <div class="content">
        <h3 class="ui header">@{selectGoods.Title}@</h3>
        <form class="ui form" ng-submit="saveAdmin()">
            <div class="field">
                <label>账号</label>
                <input ng-disabled="Admin.ID!=undefined" ng-model="Admin.Account" required type="text">
            </div>
            <div class="field">
                <label>密码</label>
                <input ng-model="Admin.PassWord" minlength="6" required placeholder="密码" type="password">
            </div>
            <div class="field">
                <label>确认密码</label>
                <input ng-init="PassWord=''" ng-model="PassWord" minlength="6" required placeholder="确认密码" type="password">
            </div>

            <div class="field actions">
                <div class="ui right floated buttons">
                    <button type="button" class="ui cancel button">取消</button>
                    <div class="or"></div>
                    <button type="submit" ng-disabled="Admin.PassWord!=PassWord" class="ui green button">提交</button>
                </div>
            </div>
            <div style="clear: both;" ></div>
        </form>
    </div>

</div>
