<style>
    tr td:first-child{
        min-width:75px;
        text-align: right;
        color: #8d8d8d;
    }
    tr td:last-child{

    }
</style>
<div id="add_appointment">
<form style="border:none;" ng-submit="submit();" name="form">
    <fieldset>
        <legend>设置项目<small style="color: red;font-size: 12px;">要填写的项目看起来有点多，请认真填写，这是很有必要的。</small></legend>
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>
                    <strong>项目名称</strong>
                </td>
                <td>
                    <input placeholder="请输入项目名称" type="text" maxlength="120" required ng-model="appointments.Name">
                </td>
            </tr>


            <tr>
                <td>
                    <strong style="text-decoration: line-through;">原价</strong>
                </td>
                <td>
                    <input type="number" style="width: 80px;" placeholder="原价" required min="1" ng-model="appointments.Orig">
                    <span>&nbsp;元</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>现价</strong>
                </td>
                <td>
                    <input type="number" style="width: 80px;" placeholder="现价" required min="1" max="@{appointments.Orig}@" ng-model="appointments.Price">
                    <span>&nbsp;元</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>分类</strong>
                </td>
                <td>
                    <select required ng-model="appointments.ClassifyID" ng-options="m.ID as m.Label for m in Classifys">

                    </select>
                    <input type="button" ng-click="showClassifyBox();" value="管理分类">
                    <span>&nbsp;</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>库存</strong>
                </td>
                <td>
                    <input type="number" required placeholder="库存数量" min="1" ng-model="appointments.Stock">
                </td>
            </tr>
            <tr>
                <td>
                    <strong>文字介绍</strong>
                </td>
                <td>
                    <textarea required placeholder="简短的文字介绍" min="1" ng-model="appointments.Introduction"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <strong>图片介绍</strong>
                </td>
                <td>
                    <input type="button" ng-click="showPictureBox()" value="添加图片">
                    <span>&nbsp;图片数量：@{appointments.Picture.length}@</span>
                </td>
            </tr>

            <tr>
                <td>
                    <strong>图册</strong>
                </td>
                <td>
                    <input type="button" ng-click="showGalleryBox()" value="添加图片">
                    <span>&nbsp;图片数量：@{appointments.Gallery.length}@</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>属性</strong>
                </td>
                <td>
                    <p style="word-break: break-all;word-wrap:break-word;">
                        <span ng-repeat="m in appointments.Property">(@{m.Key}@:@{m.Value}@)&nbsp;</span>
                    </p>
                    <p>
                        <input type="button" ng-click="showPropertyBox()" value="设置">
                    </p>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <strong>抽奖低消费</strong>
                </td>
                <td>
                    <p>随机金额，为“0”时，不启用</p>
                    <p>
                        <input style="width: 40%;" type="number" ng-change="appointments.Prize.End=undefined" ng-model="appointments.Prize.Begin" placeholder="最少金额">
                        -
                        <input style="width: 40%;" ng-model="appointments.Prize.End" min="@{appointments.Prize.Begin}@" placeholder="最多金额" type="number">
                        <span>&nbsp;元</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>邀请奖励</strong>
                </td>
                <td>
                    <p>设置邀请朋友参加获得奖励，元/位，为“0”时，不启用</p>
                    <p><input type="number" ng-model="appointments.Invite" min="0" placeholder="元/位"><span>&nbsp;元</span></p>
                </td>
            </tr>-->
            <tr>
                <td>
                    <strong>预定时间</strong>
                </td>
                <td>

                    <label><input type="checkbox" ng-model="appointments.UseTime.Show">显示预定时间</label>
                    <div ng-show="appointments.UseTime.Show">
                        <p>
                            <select required ng-model="appointments.UseTime.Week">
                                <option value="false">工作日（周一到周五）</option>
                                <option value="true">不限</option>
                            </select>
                        </p>
                        <p>
                            <select style="width: 70px;" required ng-model="appointments.UseTime.Begin" ng-change="appointments.UseTime.End=undefined;">
                                <option value="1">1点</option>
                                <option value="2">2点</option>
                                <option value="3">3点</option>
                                <option value="4">4点</option>
                                <option value="5">5点</option>
                                <option value="6">6点</option>
                                <option value="7">7点</option>
                                <option value="8">8点</option>
                                <option value="9">9点</option>
                                <option value="10">10点</option>
                                <option value="11">11点</option>
                                <option value="12">12点</option>
                                <option value="13">13点</option>
                                <option value="14">14点</option>
                                <option value="15">15点</option>
                                <option value="16">16点</option>
                                <option value="17">17点</option>
                                <option value="18">18点</option>
                                <option value="19">19点</option>
                                <option value="20">20点</option>
                                <option value="21">21点</option>
                                <option value="22">22点</option>
                                <option value="23">23点</option>
                                <option value="24">24点</option>
                            </select>
                            至
                            <select style="width: 70px;" required ng-model="appointments.UseTime.End">
                                <option ng-show="appointments.UseTime.Begin<1" value="1">1点</option>
                                <option ng-show="appointments.UseTime.Begin<2" value="2">2点</option>
                                <option ng-show="appointments.UseTime.Begin<3" value="3">3点</option>
                                <option ng-show="appointments.UseTime.Begin<4" value="4">4点</option>
                                <option ng-show="appointments.UseTime.Begin<5" value="5">5点</option>
                                <option ng-show="appointments.UseTime.Begin<6" value="6">6点</option>
                                <option ng-show="appointments.UseTime.Begin<7" value="7">7点</option>
                                <option ng-show="appointments.UseTime.Begin<8" value="8">8点</option>
                                <option ng-show="appointments.UseTime.Begin<9" value="9">9点</option>
                                <option ng-show="appointments.UseTime.Begin<10" value="10">10点</option>
                                <option ng-show="appointments.UseTime.Begin<11" value="11">11点</option>
                                <option ng-show="appointments.UseTime.Begin<12" value="12">12点</option>
                                <option ng-show="appointments.UseTime.Begin<13" value="13">13点</option>
                                <option ng-show="appointments.UseTime.Begin<14" value="14">14点</option>
                                <option ng-show="appointments.UseTime.Begin<15" value="15">15点</option>
                                <option ng-show="appointments.UseTime.Begin<16" value="16">16点</option>
                                <option ng-show="appointments.UseTime.Begin<17" value="17">17点</option>
                                <option ng-show="appointments.UseTime.Begin<18" value="18">18点</option>
                                <option ng-show="appointments.UseTime.Begin<19" value="19">19点</option>
                                <option ng-show="appointments.UseTime.Begin<20" value="20">20点</option>
                                <option ng-show="appointments.UseTime.Begin<21" value="21">21点</option>
                                <option ng-show="appointments.UseTime.Begin<22" value="22">22点</option>
                                <option ng-show="appointments.UseTime.Begin<23" value="23">23点</option>
                                <option ng-show="appointments.UseTime.Begin<24" value="24">24点</option>
                            </select>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>链接设置</strong>
                </td>
                <td>
                    <label><input type="checkbox" ng-model="appointments.Link.Show">显示链接</label>
                    <div ng-show="appointments.Link.Show">
                        <p>
                            <input type="text" placeholder="链接名" ng-model="appointments.Link.Name">
                        </p>
                        <p>
                            <input type="text" placeholder="地址" ng-model="appointments.Link.Url">
                        </p>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <strong>在线支付</strong>
                </td>
                <td>
                    <label><input type="checkbox" ng-change="appointments.IsPayment?'':appointments.IsPost=false" ng-model="appointments.IsPayment">在线支付</label>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>是否邮寄</strong>
                </td>
                <td>
                    <label><input type="checkbox" ng-change="appointments.IsPayment=true" ng-model="appointments.IsPost">邮寄物品</label>
                </td>
            </tr>

            </tbody>
        </table>
        <input type="submit" class="btn btn-primary btn-block" value="提交">
    </fieldset>
</form>
</div>
<style>
    .picture_view{
        height: 300px;
        overflow-y: scroll;
    }
</style>
<div class="modal" id="picture_box" tabindex="-1" role="dialog" aria-labelledby="picture_box_ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="picture_box_ModalLabel">添加介绍图片</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <button type="file" class="btn btn-success" ngf-select="uploadPictureImage('picture_progress_bar',$file,$invalidFiles)" accept="image/*" ngf-max-size="1MB">添加图片</button>
                        <span>&nbsp;点击图片可删除图片</span>
                    </p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger picture_progress_bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">

                        </div>
                    </div>

                    <div>
                        <ul class="picture_view">
                            <li ng-repeat="m in appointments.Picture" ng-click="deleteImagePicture(m)" class="img-rounded">
                                <img width="100%"  ng-src="/file/load?path=@{m}@" alt="">
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="gallery_box" tabindex="-1" role="dialog" aria-labelledby="gallery_box_ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gallery_box_ModalLabel">添加图册图片</h4>
                </div>
                <div class="modal-body">

                    <p>
                        <button type="file" class="btn btn-success" ngf-select="uploadGalleryImage('gallery_progress_bar',$file,$invalidFiles)" accept="image/*" ngf-max-size="1MB">添加图片</button>
                        <span>&nbsp;点击图片可删除图片</span>
                    </p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger gallery_progress_bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">

                        </div>
                    </div>

                    <div>
                        <ul class="images_view">
                            <li ng-repeat="m in appointments.Gallery" ng-click="deleteImageGallery(m)" class="img-rounded">
                                <img width="100%"  ng-src="/file/load?path=@{m}@" alt="">
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="property_box" tabindex="-1" role="dialog" aria-labelledby="property_box_ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="property_box_ModalLabel">自定义属性</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <input type="button" ng-click="addProperty()" value="添加一个属性">
                    </p>
                    <div>
                        <table width="100%">
                            <tbody>
                                <tr ng-repeat="m in appointments.Property">
                                    <td style="padding: 0px 5px;"><input placeholder="属性名" minlength="1" maxlength="24" style="width: 100%;margin: 3px 0px;" type="text" required ng-model="m.Key"></td>
                                    <td style="padding: 0px 5px;"><input placeholder="属性值" minlength="1" maxlength="24" style="width: 100%;margin: 3px 0px;" type="text" required ng-model="m.Value"></td>
                                    <td width="70">
                                        <div class="btn-group">
                                            <button type="button" ng-click="propertyUp(m)" class="btn btn-default btn-xs" aria-label="Left Align"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
                                            <button type="button" ng-click="propertyDown(m)" class="btn btn-default btn-xs" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                                            <button type="button" ng-click="propertyRemove(m)" class="btn btn-default btn-xs" aria-label="Justify"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="classify_box" tabindex="-1" role="dialog" aria-labelledby="classify_box_ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="classify_box_ModalLabel">分类管理</h4>
                </div>
                <div class="modal-body">

                    <form ng-submit="addClassify()">
                            <p>
                                <span>
                                    <input type="text" maxlength="12" required ng-model="Classify_Label"  placeholder="输入分类名称">
                                    <input type="submit" value="添加一个属性">
                                    <input type="reset">
                                </span>
                            </p>
                    </form>

                    <div class="row">
                        <div class="col-xs-4" ng-repeat="m in Classifys">
                            <input style="width: 100%;margin: 3px 0px;" maxlength="12" type="text" required ng-model="m.Label">
                            <div class="btn-group">
                                <button type="button" ng-click="ClassifyChange(m)" class="btn btn-success btn-xs" aria-label="Justify"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                                <button type="button" ng-click="ClassifyRemove(m)" class="btn btn-default btn-xs" aria-label="Justify"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">确定</button>
                </div>

        </div>
    </div>
</div>