
<div id="articlePage">

<style>
    .form-group input{

    }
</style>
<div style="text-align: center;">
    以下信息/功能设置后将显示在文章顶部，转发到朋友圈即可获得无限转发与传播。
</div>
<div class="alert alert-success" ng-init="checkbox(${showSeckill},${showYuyue},${showLottery});" role="alert">
    <div class="form-group">
        <label>是否在文章头部显示-限时秒杀<input type="checkbox" style="width: 20px; height: 20px;"  ng-model="shop.showSeckill"></label>
    </div>
    <div class="form-group">
        <label>是否在文章头部显示-报名/预约<input type="checkbox" style="width: 20px; height: 20px;"  ng-model="shop.showYuyue"></label>
    </div>
    <div class="form-group">
        <label>是否在文章头部显示-幸运转盘<input type="checkbox" style="width: 20px; height: 20px;"  ng-model="shop.showLottery"></label>
    </div>
    <div class="form-group">
        <small>操作好后，请点击设置按钮保存</small>
        <button class="btn btn-primary btn-block" type="button" ng-click="saveShop();" value="设置">设置</button>
    </div>

</div>

<p>
    <a href="add_article" class="btn btn-primary btn-block">抓取+编辑新文章</a>
</p>
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" ng-click="tabIndex=0;selectArticleCategory();" ng-class="{true:'active'}[tabIndex==0]"><a href="">我的热文</a></li>
    <li role="presentation" ng-click="tabIndex=1;selectArticleCategory();" ng-class="{true:'active'}[tabIndex==1]"><a href="">系统热文</a></li>
</ul>
<div ng-show="tabIndex==0" style="border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;border-right: 1px solid #ddd;">
    <select class="form-control" ng-model="articleCategoryID" ng-change="selectArticleCategory();"
            ng-options="o.id as o.label for o in articleCategorys">
        <option value="991">显示全部</option>
    </select>

    <div class="list-group">
        <div class="list-group-item" ng-repeat="m in articles">
            <h4 style="line-height: 18px;" class="list-group-item-heading"><a href="/act/articlePage/${shop.id}/@{m.id}@">@{m.title}@<span style="font-size: 9px;" class="label label-default">@{m.date|date:'yyyy-MM-dd HH:mm'}@</span></a></h4>
            <p class="list-group-item-text" style="margin-top: 20px;">
                <button ng-click="deleteArticle(m.id,m.title);" class="btn btn-danger btn-xs">删除</button>
                <a ng-href="add_article?pid=@{m.id}@" class="btn btn-primary btn-xs">编辑</a>
                <a ng-href="add_article?pid=@{m.id}@" class="btn btn-info btn-xs">查看</a>
                <a class="btn btn-danger btn-xs" data-clipboard-text="${host_url}/act/articlePage/${shop.id}/@{m.id}@">复制链接地址</a>
            </p>
        </div>
    </div>

</div>
<div ng-show="tabIndex==1" style="border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;border-right: 1px solid #ddd;">
    <select class="form-control" ng-model="articleCategoryID" ng-change="selectArticleCategory();"
            ng-options="o.id as o.label for o in articleCategorys">
        <option value="991">显示全部</option>
    </select>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="m in articles">
            <h4 class="list-group-item-heading"><a href="/act/articlePage/${shop.id}/@{m.id}@">@{m.title}@<span class="label label-default">@{m.date|date:'yyyy-MM-dd HH:mm'}@</span></a></h4>
        </div>
    </div>
</div>

</div>