<%--
  Created by IntelliJ IDEA.
  User: sixf
  Date: 3/17/2016
  Time: 2:27 PM
  To change this template use File | Settings | File Templates.
--%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<jsp:include page="common_head.jsp"/>
<body ng-controller="brokerageCtrl">
<jsp:include page="common_content_front.jsp"/>
<style>
#brokerage p{
    line-height: 32px;
}
</style>
<div id="brokerage">
    <div class="panel panel-default">
        <div class="panel-heading">我的推广</div>
        <div class="panel-body">
            <h3>推荐人</h3>
            <p>
                <c:if test="${parent!=null}">
                    ${parent.name}[电话：<a href="tel:${parent.tel}">${parent.tel}</a>]
                </c:if>
            </p>
            <h3>人脉</h3>
            <p>
                <a class="btn btn-primary btn-xs" href="downriver?level=a">一级人脉：{{${one_level_count}}}</a>
                <a class="btn btn-primary btn-xs" href="downriver?level=b">二级人脉：{{${two_level_count}}}</a>
                <a class="btn btn-primary btn-xs" href="downriver?level=c">三级人脉：{{${three_level_count}}}</a>
            </p>
            <h3>佣金统计</h3>
            <p>
                <button class="btn btn-primary btn-xs" disabled="disabled">总获利：{{${total_amount/100}|currency}}</button>
                <button class="btn btn-xs btn-success" disabled="disabled">已结算：{{${balance/100}|currency}}</button>
                <button class="btn btn-xs btn-info" disabled="disabled">未结算：{{${unbalance/100}|currency}}</button>
                <button class="btn btn-xs btn-warning" disabled="disabled">本月获利：{{${month_count/100}|currency}}</button>
            </p>

            <h3>佣金结算</h3>
            <p>
                <button class="btn btn-xs btn-primary" disabled="disabled">当前可以结算的佣金：{{${unbalance/100}|currency}}</button>
                <button type="button" ng-click="balance();" class="btn btn-primary">结算佣金并生成订单</button>
            </p>
            <c:if test="${order!=null}">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>${order.name}-${order.des}</td>
                        <td>{{${order.createDate}|date}}</td>
                        <td>{{${order.amount/100}|currency}}</td>
                        <td><a href="/account/transfers/${order.id}"><button class="btn btn-xs btn-success">提现</button></a></td>
                    </tr>
                    </tbody>
                </table>
            </c:if>
            <h3>推广方法</h3>
            <p class="text-muted"><a class="btn btn-danger" data-clipboard-text="${url}">复制链接地址</a></p>
            <p class="text-muted"><a class="btn btn-info" href="${url}">打开链接并分享给朋友</a></p>
            <p class="text-muted"><a class="btn btn-info" href="popularize_image?url=${url}">下载推广图片</a></p>


            <h3>奖励明细</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>商铺名</th>
                    <th>事件</th>
                    <th>金额</th>
                    <th>获利</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in brokerage">
                    <td>{{m[1].business_name}}</td>
                    <td>{{m[2].name}}</td>
                    <td>{{m[2].amount/100|currency}}</td>
                    <td>{{m[0].amount/100|currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<jsp:include page="common_content_after.jsp"/>
</body>
</html>