<div id="score_goods_list" class="ui container">
    <p>
        <a class="ui red ribbon label">单品销售统计</a>
    </p>



    <div class="ui top attached tabular menu">
        <a class="item" ng-class="{true:'active',false:''}[tabIndex=='OrdersGoods']" ng-click="selectTab('OrdersGoods')" data-tab="first">商品</a>
        <a class="item" ng-class="{true:'active',false:''}[tabIndex=='ScoreGoods']" ng-click="selectTab('ScoreGoods')" data-tab="first">卡卷</a>
        <a class="item" ng-class="{true:'active',false:''}[tabIndex=='Voucher']" ng-click="selectTab('Voucher')" data-tab="first">积分商品</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <form class="ui form" ng-submit="submit()">
            <div class="fields">
                <div class="field">
                    <input ng-model="StartTime" required type="date">
                </div>
                <div class="field">
                    <input ng-model="EndTime" required type="date">
                </div>
                <div class="field">
                    <button type="submit" class="ui red button">确定</button>
                </div>
            </div>
        </form>
    </div>

    <table width="100%" id="table_local" class="ui red table">
        <thead>
            <tr>
                <th>类型</th>
                <th>#ID</th>
                <th>用户ID</th>
                <th>内容</th>
                <th>总数量</th>
                <th>使用数量</th>
                <th>过期时间</th>
                <th>物流方式</th>
                <th>创建时间</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

<div id="add_score_goods" class="ui mini modal">

    <div class="header">@{TargetAction.title}@</div>

    <div class="content">
        <form class="ui actions form" ng-submit="add_score_goods()">

            <div class="field">
                <label>满足金额(单位：分)</label>
                <input type="number" min="1" ng-model="FullCut.Amount" required placeholder="满足金额">
            </div>
            <div class="field">
                <label>减免金额(单位：分)</label>
                <input type="number" min="1" ng-model="FullCut.CutAmount" required placeholder="减免金额">
            </div>

            <div class="field">
                <button type="submit" class="ui red button">提交</button>
                <div class="ui cancel button">取消</div>
            </div>
        </form>
    </div>

</div>