<%--
  Created by IntelliJ IDEA.
  User: SIX4
  Date: 2014-11-06 
  Time: 13:56
  To change this template use File | Settings | File Templates.
--%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<jsp:include page="common_head.jsp"/>
<body ng-controller="checkCtrl">
<jsp:include page="common_content_front.jsp"/>
<table style="margin:10px 5%;width: 90%; border:#333 solid 0px;">
    <tbody>
    <tr>
        <td align="center"></td>
    </tr>
    </tbody>
</table>
<style>
    .check_item_pack_usr{
        background-color: #d5d5d5;
        opacity: 0.5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
    }
    ul,li{
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
#check_item .on>label{
    background-color: #0a4cb2!important;
    color: white;
}
</style>
<div id="check_item" class="panel panel-default">
    <div class="panel-heading">
        <div>
            <span ng-show="phone!=null" class="label label-primary">手机号：{{phone}}</span>
            <span ng-hide="phone!=null" class="label label-primary">当前所有信息</span>
        </div>
        <div>
            <span>只看没有使用的：<input type="checkbox" style="display:inline-block;" ng-model="notUse"></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" style="text-align: center;">
            <div class="col-xs-4" style="padding: 0px 5px;" ng-class="{true:'on'}[selectType=='preferential']">
                <label style="display:block;width: 100%;background-color: #fff;padding: 10px 10px;cursor: pointer;border-radius: 5px;border: 1px solid #ddd;">
                    <input type="radio" ng-model="selectType" hidden value="preferential">
                    报名/预约
                </label>
            </div>
            <div class="col-xs-4" style="padding: 0px 5px;" ng-class="{true:'on'}[selectType=='seckill_ack']">
                <label style="display:block;width: 100%;background-color: #fff;padding: 10px 10px;cursor: pointer;border-radius: 5px;border: 1px solid #ddd">
                    <input type="radio" ng-model="selectType" hidden value="seckill_ack">
                    限时秒杀
                </label>
            </div>
            <div class="col-xs-4" style="padding: 0px 5px;" ng-class="{true:'on'}[selectType=='lottery_ack']">
                <label style="display:block;width: 100%;background-color: #fff;padding: 10px 10px;cursor: pointer;border-radius: 5px;border: 1px solid #ddd">
                    <input type="radio" ng-model="selectType" hidden value="lottery_ack">
                    幸运转盘
                </label>
            </div>
        </div>
        <ul>
        </ul>
        <table class="table">
            <tbody>
                <tr ng-repeat="m in acks[selectType]" ng-class="{true:'warning',false:'active'}[m.isUse==false]" ng-hide="notUse==true && m.isUse==true">
                    <td>
                        <ul>
                            <li style="font-weight: bold;">领取人：{{m.name}}</li>
                            <li style="color: #d3d3d3;">项目名称：{{m.tel}}</li>
                            <li>项目名称：{{m.title}}</li>
                            <li>项目介绍：{{m.description}}</li>
                            <li>领取日期：{{m.date|date:"yyyy-MM-dd HH:mm:ss"}}</li>
                            <li ng-show="selectType=='preferential'">预约日期：{{m.getDate|date:"yyyy-MM-dd HH:mm:ss"}}</li>
                            <li style="color: red;font-weight: bold;">金额：{{m.amount|currency}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><input type="button" class="btn btn-success" ng-click="usePack(m.id);" ng-disabled="m.isUse" value="{{m.isUse?'已使用':'使用'}}"></li>
                            <li ng-if="m.isUse">使用日期：{{m.useDate|date:"yyyy-MM-dd HH:mm:ss"}}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<jsp:include page="common_content_after.jsp"/>
</body>
</html>