<div id="score_goods_list" class="ui container">
    <p>
        <a class="ui red ribbon label">限时抢购列表</a>
    </p>
    <div class="ui mini menu">
        <div class="right menu">
            <a class="item" href="#!/add_collage">
                <div class="ui red button">添加限时抢购</div>
            </a>
        </div>
    </div>



    <table width="100%" id="table_local" class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>拼单人数</th>
            <th>折扣</th>
            <th>总数量</th>
            <th>产品ID</th>
            <th></th>
            <th>Action</th>
        </tr>
        </thead>
    </table>

</div>
