<%--
  Created by IntelliJ IDEA.
  User: SIX4
  Date: 2014-10-26
  Time: 9:10
  To change this template use File | Settings | File Templates.
--%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<jsp:include page="common_head.jsp"/>
<body ng-controller="expressCtrl">
<jsp:include page="common_content_front.jsp"/>

<h3>
</h3>
<p>
    <span><a href="${host_url}/act/entrust/${shop.id}/page" class="btn btn-success">客户寄件地址</a></span>
    <span><a href="${host_url}/act/salesman/${shop.id}/page" class="btn btn-success">业务绑定地址</a></span>
</p>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <p>
            <form>
                <span>
                    <input type="tel" ng-model="pass" maxlength="11" minlength="11" required="required" placeholder="请填写真实的手机号">
                    <input type="submit" class="btn btn-success" ng-click="addSalesman();" value="添加揽件员">
                </span>
            </form>
        </p>
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>#电话</th>
                <th>#姓名</th>
                <th>#是否绑定</th>
                <th>绑定时间</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in salesmans">
                <td>{{m.pass}}</td>
                <td><span ng-show="m.user!=undefined">{{m.user.name}}</span></td>
                <td>{{m.validate?'绑定成功':'未绑定'}}</td>
                <td>{{m.date|date:'medium'}}</td>
                <td><a href="" ng-click="delSalesman(m.id)">删除</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="list-group">
    <div ng-repeat="m in orders" class="list-group-item" style="">
        <h4 class="list-group-item-heading">发件人信息：{{m.s_region}}{{m.s_address}}/{{m.s_name}}/{{m.s_tel}}<small></small></h4>
        <hr>
        <h4 class="list-group-item-heading">收件人地址：<small>{{m.r_region}}{{m.r_address}}</small></h4>
        <h4 class="list-group-item-heading">收件人姓名：<small>{{m.r_name}}</small></h4>
        <h4 class="list-group-item-heading">收件人手机：<small>{{m.r_tel}}</small></h4>
        <h4 class="list-group-item-heading">下单时间：<small>{{m.createDate| date :'medium'}}</small></h4>
        <p class="list-group-item-text">
            <span>物品描述：{{m.des}}</span>
        </p>
        <p class="list-group-item-text">
            <span>备注：{{m.remark}}</span>
        </p>
        <p class="list-group-item-text">
            <a href="/datas/file?path={{p}}" target="_blank" ng-repeat="p in m.images">
                <img ng-show="p!=''" width="60" alt="无图片" ng-src="/datas/file?path={{p}}" >
            </a>
        </p>
        <p class="list-group-item-text" ng-show="m.orders!=undefined" style="font-weight: bold;color: red;">
            {{m.orders.name}}编号：{{m.code}}
            <p class="list-group-item-text">
                运费：{{(m.orders.amount/100)|currency}}({{(m.orders.status=="paying"||m.orders==undefined)?"未支付":"已支付"}})
            </p>
        </p>

        <p class="list-group-item-text">
            <button class="btn btn-info btn-xs" style="display: none;">修改</button>
            <button class="btn btn-info btn-xs" ng-click="showCodeAlert(m);">添加快递单号/收款</button>
            <button class="btn btn-danger btn-xs" ng-click="delExpress(m.id);">删除</button>
        </p>
        <p class="list-group-item-text" ng-show="m.selfVisit==false || m.orders==undefined" style="padding: 10px 0px;">
            <span>
                已分配时间：{{m.allocationDate|date:'medium'}}
            </span>
        </p>

        <p class="list-group-item-text" ng-show="m.selfVisit==false && m.orders==undefined" style="padding: 10px 0px;">
            <span>
                分配揽件员：
                <select ng-model="m.executor.id" ng-options="m.user.id as (m.user.name) for m in good_salesmans">

                </select>
               <button class="btn btn-primary btn-sm" ng-click="confirmSalesmans(m);">确定分配</button>
            </span>
        </p>
    </div>
    <div style="clear: both;"></div>
</div>

<jsp:include page="common_content_after.jsp"/>


<div id="code_alert" tabindex="-1" style="position: fixed;top: 0px;width: 100%;background-color: rgba(0, 0, 0, 0.75);height: 100%;display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form ng-submit="codeInput()">
                <div class="modal-header">
                    <h4 class="modal-title" id="code_alert_ModalLabel">添加快递单号/收款</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="payIndex==1">
                        <p style="text-align: center;">
                            请在30分钟内完成支付
                        </p>
                        <p>
                            <img width="100%" ng-src="/images/qrcode?content={{code_url}}">
                        </p>
                        <p id="pay_success" style="text-align: center;display: none;color: green;font-size: 24px;">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp;<span>支付成功</span>
                        </p>
                    </div>
                    <div ng-show="payIndex==0">
                        <input type="text" required maxlength="32" minlength="2" class="form-control center-block" ng-model="code" placeholder="请输入快递单号">
                        <br>
                        <input type="number" required min="0.1" max="9999" step="0.01" class="form-control center-block" ng-model="amount" placeholder="请输入金额">
                    </div>
                </div>
                <div class="modal-footer">
                    <input ng-show="payIndex==0" type="submit" style="width: 100%;" class="btn btn-primary">
                    <hr>
                    <p>
                    <input type="button" style="width: 100%;" value="关闭窗口" ng-click="hideCodeAlert()" class="btn btn-danger">
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<audio id="new_music">
    <source src="/resources/music/new_music.mp3">
</audio>
</body>
</html>