<div id="express" class="ui container">
    <p>
        <a class="ui red ribbon label">快递设置</a>
    </p>
    <div class="ui mini menu">
        <div class="right menu">
            <a href=""  class="item">
                目前只支持一个快递模板
            </a>
            <a href="#!/add_express" style="display: none;" id="add_express_btn" class="item">
                <div class="ui red button">添加模板</div>
            </a>
        </div>
    </div>

    <table width="100%" id="table_local" class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>名称</th>
            <th>运费</th>
            <th>类型</th>
            <th>包邮条件</th>
            <th></th>
        </tr>
        </thead>
    </table>

</div>