<div id="score_goods_list" class="ui container">
    <p>
        <a class="ui red ribbon label">发放卡卷管理</a>
    </p>

    <table width="100%" id="table_local" class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>满足积分</th>
            <th>卡卷#ID</th>
            <th style="width: 250px;text-align: right;" >
                <button ng-click="showAddGiveVoucher()" class="ui blue button">添加条件</button>
            </th>
        </tr>
        </thead>
    </table>
</div>

<div id="add_give_voucher" class="ui fullscreen modal">
    <div class="header">添加条件</div>
    <div class="content">
        <form class="ui form" ng-submit="saveGiveVoucher()">
            <div class="field">
                <label>满足积分</label>
                <input placeholder="满足积分" required ng-model="GiveVoucher.ScoreMaxValue" type="number">
            </div>
            <div class="field">
                <label>卡卷ID</label>
                <input readonly required ng-model="GiveVoucher.VoucherID">
            </div>
            <div class="field">
                <label>选择卡卷</label>
                <table width="100%" id="table_vouchers" class="ui teal table">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>最大成长值</th>
                        <th>名称</th>
                        <th>名称</th>
                        <th style="width: 250px;text-align: right;" >

                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div style="text-align: center;" class="field actions">
                <button class="ui red button" type="submit">确定</button>
                <button class="ui cancel button" type="reset">取消</button>
            </div>
        </form>
    </div>
</div>