<div class="ui container">
    <p>
        <a class="ui red ribbon label">产品列表</a>
    </p>
    <div class="ui mini menu">
        <div class="right menu">
            <a class="item" href="#!/add_goods">
                <div class="ui red button">添加产品</div>
            </a>
        </div>
    </div>
    <table width="100%" id="table_local" class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>名称</th>
            <th>库存</th>
            <th>创建时间</th>
            <th>系列</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>