<%--
  Created by IntelliJ IDEA.
  User: SIX4
  Date: 2014-10-26
  Time: 9:10
  To change this template use File | Settings | File Templates.
--%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<jsp:include page="common_head.jsp"/>
<body ng-controller="lotteryCtrl">
<jsp:include page="common_content_front.jsp"/>
<div class="modal" id="qrcode_alert" tabindex="-1" role="dialog" aria-labelledby="qrcode_alert_ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="qrcode_alert_ModalLabel">查看二维码</h4>
            </div>
            <div class="modal-body">
                <img width="100%" ng-src="/images/qrcode?content=${host_url}/act/lottery/{{shopID}}/{{lottery.id}}">
                <h4 align="center">扫描秒享我们优惠，加入平台年赚百万</h4>
            </div>
            <div class="modal-footer">
                <button type="button" style="width: 100%;" class="btn btn-default" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="set_preitem_alert" tabindex="-1" role="dialog" aria-labelledby="set_preitem_alert_ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="set_preitem_alert_ModalLabel">设置数量</h4>
            </div>
            <form style="border: none;" name="mainForm" ng-submit="setPreItemInfo(mainForm.$valid);">
                <div class="modal-body">
                    <p ng-show="selectItemID!=undefined">
                        <span>选择奖项(列表中没有奖项？<a href="add_products">添加</a>)</span>
                        <select ng-model="selectItemID" class="form-control" ng-change="addProduct();" ng-options="m.id as m.title for m in productsObj">

                        </select>
                    </p>
                    <div ng-show="currentItem.productID!=undefined">
                        <h4 class="list-group-item-heading" ng-show="currentItem.disable">参与奖<small></small></h4>
                        <h4 class="list-group-item-heading" ng-hide="currentItem.disable">{{products[currentItem.productID].title}}<small></small></h4>
                        <p class="list-group-item-text" ng-hide="currentItem.disable">
                            <span>折扣价：{{products[currentItem.productID].price*(currentItem.discount/10)|currency}}</span>&nbsp;&nbsp;&nbsp;<span>现价：{{products[currentItem.productID].price|currency}}</span>
                        </p>
                        <p class="list-group-item-text">
                            每天数量：{{currentItem.stock}}
                        </p>
                        <p class="list-group-item-text" style="font-weight: bold;color: red;">
                            中奖机率：{{(currentItem.stock/totalCount*100)|number:2}}%
                        </p>
                        <hr>
                        <p>
                            <span>折扣(输入0折为免费)：<input type="number" class="form-control" name="currentItem_discount" ng-disabled="currentItem.disable" required min="0" max="10" step="0.1" placeholder="请输入秒杀折扣0~10" ng-model="currentItem.discount"></span>
                            <div ng-messages="mainForm.currentItem_discount.$error" style="color:maroon" role="alert">
                                <div ng-message="required">必填项</div>
                                <div ng-message="min">最小数值必须小于等于0</div>
                                <div ng-message="max">最大数值必须小于等于10</div>
                            </div>
                        </p>
                        <p>
                            <span>每天可中奖数量(数量越多中奖机率越大)：<input type="number" class="form-control" name="currentItem_stock" required min="1" max="10000" placeholder="中奖数量1~10000" ng-model="currentItem.stock"></span>
                        <div ng-messages="mainForm.currentItem_stock.$error" style="color:maroon" role="alert">
                            <div ng-message="required">必填项</div>
                            <div ng-message="min">最小数值必须小于等于1</div>
                            <div ng-message="max">最大数值必须小于等于10000</div>
                        </div>
                        </p>
                        <p>
                            <span>将此项目改成参与奖，用户看到只是一个“谢谢您”的项目（无价格）：</span>
                            <br><input type="checkbox" ng-model="currentItem.disable">
                        </p>
                    </div>
                </div>
                <div class="modal-footer"  ng-show="currentItem.productID!=undefined">
                    <input type="submit" value="确定" class="btn btn-default">
                </div>
            </form>
        </div>
    </div>
</div>
<form style="border:none;" ng-submit="submit();" name="form">
    <div class="form-group">
        <label>用户参与条件</label>
        <small>用户在参与前，先进行积赞（默认为0，不限制条件。）</small>
        <input type="number"  required class="form-control" min="0" max="99" placeholder="输入一个数，表示积赞的个数。" ng-model="lottery.threshold">
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="提交">
</form>
<h3>选择幸运大转盘奖项</h3>
<p>
    <button class="btn btn-success" ng-click="listProduct();">选择奖项</button>
</p>
<div class="list-group">
    <div ng-repeat="m in perItems" class="list-group-item" style="">
        <h4 class="list-group-item-heading" ng-show="m.disable">参与奖<small></small></h4>
        <h4 class="list-group-item-heading" ng-hide="m.disable">{{products[m.productID].title}}<small></small></h4>
        <p class="list-group-item-text" ng-hide="m.disable">
            <span>折扣价：{{products[m.productID].price*(m.discount/10)|currency}}</span>&nbsp;&nbsp;&nbsp;<span>现价：{{products[m.productID].price|currency}}</span>
        </p>
        <p class="list-group-item-text">
            每天数量：{{m.stock}}
        </p>
        <p class="list-group-item-text" style="font-weight: bold;color: red;">
            中奖机率：{{(m.stock/totalCount*100)|number:2}}%
        </p>
        <p class="list-group-item-text">
            <button class="btn btn-info btn-xs" ng-click="setPreItem(m);">修改</button>
            <button class="btn btn-danger btn-xs" ng-show="m.id!=undefined" ng-click="delPreItem(m);">删除</button>
        </p>
    </div>
    <div style="clear: both;"></div>
</div>
<p><a class="btn btn-danger btn-block" data-clipboard-text="${host_url}/act/lottery/{{shopID}}/{{lottery.id}}">复制链接地址</a></p>
<p><a class="btn btn-info btn-block" href="/act/lottery/{{shopID}}/{{lottery.id}}">发布并分享</a></p>
<p><a class="btn btn-info btn-block" href="" data-toggle="modal" data-target="#qrcode_alert">查看二维码</a></p>



<jsp:include page="common_content_after.jsp"/>
</body>
</html>