<div class="ui container">
    <p>
        <a class="ui red ribbon label">首页</a>
    </p>


    <div>
        <div class="alert alert-warning" role="alert">还没有完善您的商铺信息，请先完善，方便我们提供更好的服务。<span></span><a href="#!/shopInfo" class="btn btn-info">设置我的商铺信息</a></div>
    </div>


    <div style="display: none;">
        <div test="${isExpire}">
            <div class="alert alert-warning" role="alert">${msg}<span></span><a href="${url}" class="btn btn-info">${label}</a></div>
        </div>
    </div>

    <div class="ui pointing menu">

        <div class="right menu">
            <a class="active item">Home </a>
            <a class="item">Messages </a>
            <a class="item">好友 </a>
        </div>
    </div>

    <div class="ui segments">

        <div class="ui segment">
            <div class="ui grid container">
                <div class="four wide column">
                    <a href="#!/seckillPage" class="link">
                        <span style="color: #c17c00;" class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <span class="glyphicon-class"></span>
                    </a>

                </div>
            </div>
        </div>
        <div class="ui secondary segment">

        </div>
    </div>
</div>