<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<jsp:include page="common_head.jsp"/>
<body ng-controller="makeCardCtrl">
<jsp:include page="common_content_front.jsp"/>
<style>
    #card_list{

    }
    #card_list table{
        width: 100%;

    }
    #card_list table .phone{

        width: 100%;
        position: relative;
        padding-top: 8px;
    }
    #card_list table .phone .topbar{

        background: url("../resources/manager/topbar_back.png") no-repeat;
        height: 50px;
    }
    #card_list table .phone .content{
        background: white;
        border-radius: 5px;
        margin: 0px 10px;
        margin-top: 32px;
        padding-top: 32px;
    }
    #card_list table .phone .logo{
        width: 100%;
        height: 64px;
        margin: 0px auto;
        position: relative;
        position: absolute;

    }
    #card_list table .phone .logo .img{
        width: 64px;
        height: 64px;
        border: 1px solid lightslategrey;
        margin: 0px auto;
        text-align: center;
        vertical-align: middle;
        line-height: 64px;
        background: white;
        cursor: pointer;
        user-select: none;
    }
    #card_list table .phone .content .head{
        text-align: center;
    }
    #card_list table .phone .content .line{

        line-height: 50px;
        border-top: 1px solid #dddddd;
        font-size: 24px;
        text-indent: 24px;
    }
    #card_list table .phone .content .line .des{
        font-size: 16px;
        line-height: 22px;
        color: #888888;
        margin: 0px 24px;
        text-indent: 0px;
    }
    #card_list table .phone .content .line .fmm{

        margin: 0px 10px;
        text-indent: 0px;
    }
    #card_list table td{
        vertical-align: top;
    }
    #card_list table td .fomt{
        background: #d4d4d4;
        border: 1px solid #aaaaaa;
        margin: 0px 20px;

    }
    #card_list table td .fomt .form_line .fcolor{
        float: left;
        padding-top: 18px;
        padding-left: 18px;
        border: 1px solid #888888;
        cursor: pointer;
        margin: 5px;
    }
    #card_list table td .fomt .form_line{
        margin: 20px 10px;
    }
    input[required]{
        background-color: #fff065;
    }
</style>

<div id="card_list">
    <table>
        <tr>

            <td align="top">
                <div class="fomt">


                    <form name="mainForm" style="border: none;" ng-submit="saveCard()">

                        <div class="form_line">
                            <label>商户名字</label>
                            <input type="text" disabled value="蒲公英营销助手">
                            <span></span>
                        </div>
                        <div class="form_line">
                            <label>商家logo</label>
                            <img ng-src="../datas/file?path={{Card.logo_url}}" width="64">
                        </div>
                        <div class="form_line">
                            <label>代金券标题</label>
                            <input disabled type="text" ng-model="Card.title" maxlength="9">
                            <span>建议填写代金券“减免金额”及自定义内容，描述卡券提供的具体优惠</span>
                        </div>
                        <div class="form_line">
                            <label>副标题(选填)</label>
                            <input type="text" disabled ng-model="Card.sub_title" maxlength="18">
                            <span></span>
                        </div>
                        <div class="form_line">
                            <label>卡卷颜色<span ng-click="mcolor='#63b359';Card.color='Color010'" style="margin-left:5px;padding-left:10px;border:1px solid #333333;background:{{mcolor}};float: none;font-size: 1px;"></span></label>

                            <div style="clear: both;"></div>
                        </div>
                        <div class="form_line">
                            <label>卡券使用提醒</label>
                            <br>
                            <input disabled ng-model="Card.notice" maxlength="16" type="text">(请出示二维码核销卡券)
                        </div>
                        <div class="form_line">
                            <label>简介(选填)</label>
                            <br>
                            <textarea disabled maxlength="1024" ng-model="Card.description" style="width: 100%;height: 150px;"></textarea>
                        </div>
                        <div class="form_line">
                            <label>卡券库存的数量</label>
                            <input disabled ng-model="sku.quantity" min="1" type="number">
                        </div>
                        <div class="form_line">
                            <label>减免金额</label>
                            <input disabled ng-model="Cash.reduce_cost" min="1" type="number">元
                        </div>
                        <div class="form_line">
                            <label>抵扣条件(选填)</label>
                            <input type="number" disabled min="0" ng-model="Cash.least_cost">分
                            <span>消费满多少分可用。如不填写则默认：消费满任意金额可用</span>
                        </div>
                        <div class="form_line">
                            <label>有效期(领取后多少天有效)</label>
                            <span>
                                <span>固定日期</span>
                                <input disabled ng-model="date_info.fixed_term" min="1" type="number">天
                            </span>
                            <span></span>
                        </div>
                        <div class="form_line">
                            <label>过期日期(选填)</label>
                            <span>
                                <span>
                                    <input disabled class="datepicker" value="{{date_info.end_timestamp|date:'yyyy/MM/dd'}}" placeholder="点击选择"
                                           data-date-format="yyyy/mm/dd">
                                </span>
                            </span>
                            <span></span>
                        </div>
                        <div class="form_line">
                            <label>可用时段</label>
                            <span>全部时段</span>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>

<jsp:include page="common_content_after.jsp"/>
</body>
</html>