{{$shop:= .session.SESSION_SHOP}}
<div id="myShop">

<style>
    #map_container {
        min-width: 100px;
        min-height: 300px;
    }
    .redbord {
        border: 1px solid red;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <p style="font-weight: bold;">{{$shop.Name}}</p>
        <p style="color: #888;">{{$shop.Introduction}}</p>
        <p ng-show="shop.vip==-1"><span class="label label-danger">免费会员</span></p>
        <p ng-show="shop.vip==1000"><span class="label label-danger">黄金会员</span></p>
        <p ng-show="shop.vip==2000"><span class="label label-danger">白金会员</span></p>
        <p ng-show="shop.vip==3000"><span class="label label-danger">钻石会员</span></p>
        <p style="font-size: 18px;">
            <span class="label label-primary">有效期：{{$shop.Expire}}</span>
            &nbsp;
            <span class="label label-success" style="color: white;"><a style="color:white;" href="expire">续费</a></span>
        </p>
    </div>
    <div class="panel-body">
        <a href="#!/shopInfo" class="btn btn-default btn-lg btn-block">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;我的商铺资料
        </a>
        <!--<a href="add_products" class="btn btn-lg btn-default btn-block">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;添加项目（产品/服务/奖项）
        </a>-->
        <!--<a href="products" class="btn btn-lg btn-default btn-block">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;&nbsp;项目列表
            <small>（产品/服务/奖项）</small>
        </a>-->
        <a href="brokeragePage" class="btn btn-default btn-lg btn-block">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&nbsp;&nbsp;我的推广
        </a>
        <a data-toggle="modal" data-target="#changeMyInfo" role="alert" class="btn btn-default btn-lg btn-block">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;修改个人账户信息
        </a>
        <!--<a href="publicNumber" class="btn btn-default btn-lg btn-block">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp;&nbsp;公众号设置/绑定自己微信
        </a>-->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="changeMyInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改个人账户信息</h4>
            </div>
            <div class="modal-body">
                <div ng-show="actionStatus.success!=undefined" class="alert"
                     ng-class="{true:'alert-success',false:'alert-danger'}[actionStatus.success]" role="alert">
                    @{actionStatus.message}@
                </div>
                <form ng-submit="save(subForm.$valid);" novalidate name="subForm">
                    <div class="form-group">
                        <label>姓名</label>
                        <small></small>
                        <input type="text" class="form-control" maxlength="32" required minlength="2" placeholder="请输入姓名"
                               ng-model="user.name">
                    </div>
                    <div class="form-group">
                        <label>手机</label>
                        <small>当前手机号：@{currentTel}@</small>
                        <input type="tel" class="form-control" maxlength="11" required minlength="11" placeholder="不修改"
                               ng-model="user.tel">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <small>请输入6位或以上密码</small>
                        <input type="password" class="form-control" maxlength="32" minlength="6" placeholder="不修改"
                               ng-model="user.password">
                    </div>
                    <div class="form-group"
                         ng-class="{true:'has-error'}[user.password!='' && user.password!=repassword]">
                        <label>确认您的密码</label>
                        <small></small>
                        <input type="password" class="form-control" maxlength="32" minlength="6" ng-model="repassword"
                               placeholder="不修改">
                    </div>
                    <div class="form-group" >
                        <label>图形验证</label>
                        <small></small>
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="tel" class="form-control" maxlength="4" minlength="4" ng-model="gcode"
                                       placeholder="输入图形验证码">
                            </div>
                            <div class="col-xs-6">
                                <img src="/images/captcha"
                                     onclick="javascript:document.getElementById('captcha').src='/images/captcha'"
                                     id="captcha" alt="..." height="34" class="img-rounded">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="(user.tel!='' && user.tel!=currentTel) ||  user.password!=''">
                        <label>短信验证</label>
                        <small></small>
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="tel" class="form-control" ng-model="tcode" placeholder="输入短信验证码">
                            </div>
                            <div class="col-xs-6">
                                <input type="button" class="btn btn-success btn-block" id="sendcode"
                                       ng-click="onSendTCode();" value="获取验证码">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="修改">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>