<%--
  Created by IntelliJ IDEA.
  User: SIX4
  Date: 2014-10-26
  Time: 9:10
  To change this template use File | Settings | File Templates.
--%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<jsp:include page="common_head.jsp"/>
<body ng-controller="oneBuyCtrl">
<jsp:include page="common_content_front.jsp"/>
<div class="modal" id="qrcode_alert" tabindex="-1" role="dialog" aria-labelledby="qrcode_alert_ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="qrcode_alert_ModalLabel">查看二维码</h4>
            </div>
            <div class="modal-body">
                <img width="100%" ng-src="/images/qrcode?content=${host_url}/act/mall/${shop.id}/one">
                <h4 align="center">扫描秒享我们优惠，加入平台年赚百万</h4>
            </div>
            <div class="modal-footer">
                <button type="button" style="width: 100%;" class="btn btn-default" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="set_onebuy_alert" tabindex="-1" role="dialog" aria-labelledby="set_preitem_alert_ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="set_preitem_alert_ModalLabel">选择项目</h4>
            </div>
            <form style="border: none;" name="mainForm" ng-submit="selectProduct();">
                <div class="modal-body">

                    <div class="list-group">
                        <p>
                            <span>全选<input ng-change="select()" ng-model="selectAll" type="checkbox"></span>
                        </p>
                        <div ng-repeat="m in productsObj" class="list-group-item" style="">
                            <h4 class="list-group-item-heading">{{m.title}}<small></small></h4>
                            <h4 class="list-group-item-heading">{{m.description}}<small></small></h4>
                            <p class="list-group-item-text" ng-hide="m.disable">
                                <span>价格：{{m.price|currency}}</span>&nbsp;&nbsp;&nbsp;<span></span>
                            </p>
                            <p class="list-group-item-text">
                                库存：{{m.stock}}
                            </p>
                            <p class="list-group-item-text">
                                <input  ng-model="m.select" type="checkbox">
                            </p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="确定" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="change_one_buy_product" tabindex="-1" role="dialog" aria-labelledby="change_one_buy_product_ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="change_one_buy_product_ModalLabel">修改信息</h4>
            </div>
            <form style="border: none;" name="mainForm" ng-submit="changeUnit();">
                <div class="modal-body">

                    <p>
                        <span>购买单位：<input type="number" ng-model="unit" step="1" min="1" max="100">（单位：元）</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="确定" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
</div>

<h3>一元购产品管理</h3>
<p>
    <button class="btn btn-success" ng-click="listProduct();">选择一元购产品</button>
</p>
<div class="list-group">
    <div ng-repeat="m in oneBuys" class="list-group-item" style="">
        <h4 class="list-group-item-heading">{{m.products.title}}<small></small></h4>
        <h4 class="list-group-item-heading">当前期号：第{{m.oneBuy.id}}期<small></small></h4>
        <p class="list-group-item-text" ng-hide="m.disable">
            <span>价格：{{m.products.price/100|currency}}</span>
        </p>
        <p class="list-group-item-text">
            购买单位：{{m.unit/100|currency}}元/次
        </p>
        <p class="list-group-item-text">
            <button class="btn btn-info btn-xs" ng-click="changeOneBuyProduct(m);">修改</button>
            <button class="btn btn-danger btn-xs" ng-show="m.id!=undefined" ng-click="delOneBuyProduct(m);">删除</button>
        </p>
    </div>
    <div style="clear: both;"></div>
</div>
<p><a class="btn btn-danger btn-block" data-clipboard-text="${host_url}/act/mall/${shop.id}/one">复制链接地址</a></p>
<p><a class="btn btn-info btn-block" href="/act/mall/${shop.id}/one">发布并分享</a></p>
<p><a class="btn btn-info btn-block" href="" data-toggle="modal" data-target="#qrcode_alert">查看二维码</a></p>



<jsp:include page="common_content_after.jsp"/>
</body>
</html>