<%--
  Created by IntelliJ IDEA.
  User: SIX4
  Date: 2014-11-07 
  Time: 12:22
  To change this template use File | Settings | File Templates.
--%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<jsp:include page="common_head.jsp"/>
<body ng-controller="packRecordCtrl">
<jsp:include page="common_content_front.jsp"/>
<div style="line-height: 24px;">
    <label style=""><input style="width: inherit;" name="re" ng-click="selectRadio(-1)" checked type="radio">全部</label>
    <label style=""><input style="width: inherit;" name="re" ng-click="selectRadio(0)" type="radio">已核销</label>
    <label style=""><input style="width: inherit;" name="re" ng-click="selectRadio(1)" type="radio">未核销</label>
</div>
<table style="width: 98%;height: 75px;border: 1px solid #333;margin: 0px auto;">
    <tbody>
    <tr style="" ng-repeat="m in ack">
        <td style="width: 50%;">
            <ul style="float: left;list-style:none;margin:0px;padding:0px;width: 50%;">
                <li>领取时间：{{m.date|date:'yyyy-MM-dd HH:mm'}}</li>
                <li>金额：{{m.amount/100}}元</li>
            </ul>
            <ul style="float:right;list-style:none;margin:0px;padding:0px;width: 50%;">
                <li>是否核销：{{m.isUse?"已核销":"未核销"}}</li>
                <li>手机：{{m.tel}}</li>
            </ul>
            <div style="clear: both;border-bottom: 1px solid #333;"/>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td><input type="button" ng-click="onPrePageAck()" value="上一页"></td>
                    <td align="center">{{pagingAck.page+1}}/{{getTotalPageAck()}}</td>
                    <td><input type="button" ng-click="nextPageAck()" value="下一页"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<jsp:include page="common_content_after.jsp"/>
</body>
</html>

