<%--
  Created by IntelliJ IDEA.
  User: sixf
  Date: 2/18/2016
  Time: 6:59 PM
  To change this template use File | Settings | File Templates.
--%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<jsp:include page="common_head.jsp"/>
<body ng-controller="productsCtrl">
<jsp:include page="common_content_front.jsp"/>
<div id="products">
    <p>
        <a class="btn btn-success btn-block" href="add_products">添加项目</a>
        <a class="btn btn-success btn-block" style="display: none;" href="seckillPage">发布秒杀</a>
        <a class="btn btn-info btn-block" style="display: none;" href="freetime">发布服务预约</a>
        <a class="btn btn-warning btn-block" style="display: none;" href="lotteryPage">幸运大转盘</a>
    </p>

    <hr>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-repeat="(key,value) in products" ng-class="{true:'active',false:''}[tabIndex==key]" ng-click="selectTab(key);"  ng-switch="key">
                <a href="" ng-switch-when="products">产品</a>
                <a href="" ng-switch-when="service">服务</a>
                <a href="" ng-switch-when="prize">奖项</a>
        </li>
    </ul>
   <div style="padding: 10px 10px;background-color: white;">
       <div class="list-group">
           <div ng-repeat="m in products[tabIndex]" class="list-group-item">
               <h4 class="list-group-item-heading">
                   <span>{{m.title}}</span>
                   <small ng-if="m.type=='products'">产品</small>
                   <small ng-if="m.type=='service'">服务</small>
                   <small ng-if="m.type=='prize'">奖项</small>
               </h4>
               <p class="list-group-item-text">
                   <span>价格：{{m.price|currency}}</span>&nbsp;&nbsp;&nbsp;<span>数量：{{m.stock}}</span>
               </p>
               <p class="list-group-item-text" style="margin: 10px 0px;">
                   参与秒杀<input type="checkbox" style="width: auto;height:auto;" ng-change="changeSeckill(m);" ng-model="m.seckill">
               </p>
               <p class="list-group-item-text" style="margin: 10px 0px;">
                   参与一元购<input type="checkbox" style="width: auto;height:auto;" ng-change="changeSeckill(m);" ng-model="m.oneBuy">
               </p>
               <p class="list-group-item-text">
                   <button class="btn btn-danger btn-xs" ng-click="del(m.id);">删除</button>
                   <a class="btn btn-primary btn-xs" href="add_products?pid={{m.id}}">修改</a>
                   <a class="btn btn-info btn-xs" href="add_products?pid={{m.id}}">查看</a>
               </p>
           </div>
       </div>
   </div>
</div>
<jsp:include page="common_content_after.jsp"/>
</body>
</html>