<%--
  Created by IntelliJ IDEA.
  User: sixf
  Date: 2016/5/7
  Time: 18:22
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<jsp:include page="common_head.jsp"/>
<body ng-controller="publicNumberController">
<jsp:include page="common_content_front.jsp"/>
<div id="public_number_controller">

    <form style="border:none;" ng-submit="submit();" name="form">
        <h3>公众号二维码</h3>
        <div class="form-group">
            <label>显示在商铺信息页面中，分享出去，用户可以通过二维码关注您的公众号<font color="#aaaaaa"></font></label>
            <file-uploader></file-uploader>
            <div style="width:100%;text-align: center;border: 1px solid #ddd;padding: 10px;">
                <img width="128" height="128" ng-src="/datas/file?path={{wxconfig.qrcode}}">
            </div>
            <div style="clear: both;"></div>
        </div>
        <h3>我的微信二维码（绑定自己微信的二维码，方便用户加你为好友）</h3>
        <div class="form-group">
            <label><font color="red">提示：打开微信,进入“我”菜单，点击头像，再点击“二维码名片”，点击右上角的“保存到手机”，然后选择刚才保存的二维码上传。</font></label>
            <image-uploader on-complete="upImageComplete"></image-uploader>
            <div style="width:100%;text-align: center;border: 1px solid #ddd;padding: 10px;">
                <img width="128" height="128" ng-src="/datas/file?path={{wxconfig.unitqrcode}}">
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="form-group">
            <label>AppID(应用ID)<font color="#aaaaaa"></font></label>
            <input class="form-control" type="text" readonly ng-model="wxconfig.appID">
        </div>
        <div class="form-group">
            <label>AppSecret(应用密钥)<font color="#aaaaaa"></font></label>
            <input class="form-control" type="text" readonly ng-model="wxconfig.appSecret">
        </div>
        <div class="form-group">
            <label>Token(令牌)<font color="#aaaaaa"></font></label>
            <input class="form-control" type="text" readonly required ng-model="wxconfig.token">
        </div>
        <div class="form-group">
            <label>商户号(mchID)<font color="#aaaaaa"></font></label>
            <input class="form-control" type="text" readonly ng-model="wxconfig.mchID">
        </div>
        <div class="form-group">
            <label>服务器地址<font color="#aaaaaa"></font></label>
            <input class="form-control" type="text" readonly value="http://nutsy.cc/wx/token?id=${shop.id}">
        </div>
       <input type="submit" class="btn btn-primary btn-block" value="提交">
    </form>
</div>
<div class="modal fade" id="progressBar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">正在上传。。。</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changeMyWx" tabindex="-1" role="dialog" aria-labelledby="myModalLabelA">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelA">绑定个人微信号</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="save(subForm.$valid);" novalidate name="subForm">


                    <div class="form-group">
                        <label></label>
                        <image-uploader on-complete="upImageComplete"></image-uploader>
                        <div style="text-align: center;padding: 10px;border: 1px solid grey;">
                            <img width="128" alt="上传个人二维码" ng-src="/datas/file?path={{unitqrcode}}">
                        </div>
                        <div style="clear: both;margin-left: 10px;color: #696969;font-size: 12px;"></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="绑定">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<jsp:include page="common_content_after.jsp"/>
</body>
</html>