<div id="score_goods_list" class="ui container">
    <p>
        <a class="ui red ribbon label">积分产品列表</a>
    </p>
    <div class="ui mini menu">
        <div class="right menu">
            <a class="item" ng-click="showModal({title:'添加积分产品',url:'score_goods',method:'POST'})">
                <div class="ui red button">添加积分产品</div>
            </a>
        </div>
    </div>

    <table width="100%" id="table_local" class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>名称</th>
            <th>积分</th>
            <th>市场价</th>
            <th></th>
        </tr>
        </thead>
    </table>

</div>

<div id="add_score_goods" class="ui mini modal">

    <div class="header">@{TargetAction.title}@</div>

    <div class="content">
        <form class="ui actions form" ng-submit="add_score_goods()">
            <div class="field">
                <label>名称</label>
                <input type="text" ng-model="ScoreGoods.Name" required placeholder="名称">
            </div>
            <div class="field">
                <label>积分</label>
                <input type="number" min="1" ng-model="ScoreGoods.Score" required placeholder="系列名称">
            </div>
            <div class="field">
                <label>市场价</label>
                <input type="number" min="1" ng-model="ScoreGoods.Price" required placeholder="市场价">
            </div>
            <div class="field">
                <label>积分产品图片</label>
                <img class="ui fluid image" style="height: 120px;object-fit: contain;" ng-src="/file/load?path=@{ScoreGoods.Image}@">
                <div class="ui bottom attached button" type="file" ngf-select="uploadImages('progress-bar',$file,$invalidFiles)" accept="image/*" ngf-max-size="1MB"><i class="image icon"></i>上传图片</div>

            </div>
            <div class="field">
                <label>介绍</label>
                <textarea ng-model="ScoreGoods.Introduce" required maxlength="255" placeholder="系列名称"></textarea>
            </div>
            <div class="field">
                <button type="submit" class="ui red button">提交</button>
                <div class="ui cancel button">取消</div>
            </div>
        </form>
    </div>

</div>