<div id="score_goods_list" class="ui container">
    <p>
        <a class="ui red ribbon label">单品销售统计</a>
    </p>


    <div class="ui top attached tabular menu">
        <a class="item" ng-class="{true:'active',false:''}[tabIndex==1]" ng-click="selectTab(1)" data-tab="first">自主核销</a>
        <a class="item" ng-class="{true:'active',false:''}[tabIndex==2]" ng-click="selectTab(2)" data-tab="first">在线充值</a>
        <a class="item" ng-class="{true:'active',false:''}[tabIndex==3]" ng-click="selectTab(3)" data-tab="first">商品核销</a>
        <a class="item" ng-class="{true:'active',false:''}[tabIndex==4]" ng-click="selectTab(4)" data-tab="first">积分商品核销</a>
        <a class="item" ng-class="{true:'active',false:''}[tabIndex==5]" ng-click="selectTab(5)" data-tab="first">福利卷核销</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <form class="ui form" ng-submit="submit()">
            <div class="fields">
                <div class="field">
                    <input ng-model="StoreID" placeholder="请输入门店ID" type="number">
                </div>
                <div class="field">
                    <input ng-model="StartTime" required type="date">
                </div>
                <div class="field">
                    <input ng-model="EndTime" required type="date">
                </div>
                <div class="field">
                    <button type="submit" class="ui red button">确定</button>
                </div>
            </div>
        </form>
    </div>


    <table width="100%" id="table_local" class="ui red table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>名称</th>
            <th>内容</th>
            <th>门店#ID</th>
            <th>类型</th>
            <th>变动金额</th>
            <th>余额</th>
            <th>创建时间</th>
        </tr>
        </thead>
    </table>

</div>

<div id="add_score_goods" class="ui mini modal">

    <div class="header">@{TargetAction.title}@</div>

    <div class="content">
        <form class="ui actions form" ng-submit="add_score_goods()">

            <div class="field">
                <label>满足金额(单位：分)</label>
                <input type="number" min="1" ng-model="FullCut.Amount" required placeholder="满足金额">
            </div>
            <div class="field">
                <label>减免金额(单位：分)</label>
                <input type="number" min="1" ng-model="FullCut.CutAmount" required placeholder="减免金额">
            </div>

            <div class="field">
                <button type="submit" class="ui red button">提交</button>
                <div class="ui cancel button">取消</div>
            </div>
        </form>
    </div>

</div>