<div class="ui container">
    <p>
        <a class="ui red ribbon label">门店列表</a>
    </p>
    <div class="ui mini menu">
        <div class="right menu">
            <a class="item" href="#!/add_store">
                <div class="ui red button">添加门店</div>
            </a>
        </div>
    </div>
    <table width="100%" id="table_local" class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th style="width: 300px;" >名称</th>
            <th>手机号</th>
            <th style="width: 300px;">地址</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>