<div id="score_goods_list" class="ui container">
    <p>
        <a class="ui red ribbon label">限时抢购列表</a>
    </p>
    <div class="ui mini menu">
        <div class="right menu">
            <a class="item" href="#!/add_timesell">
                <div class="ui red button">添加限时抢购</div>
            </a>
        </div>
    </div>

    <table width="100%" id="table_local" class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>名称</th>
            <th>金额</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>

</div>
