<div id="score_goods_list" class="ui container">



    <div class="ui teal segment">
        <p>
            <a class="ui teal ribbon label">佣金比例</a>
        </p>
        <p>
            <label>默认有6级佣金比例，将某一级比例设置为：0，将不结算这级佣金；所有分配出来去的比例总和要等于100；<span style="color: red;font-weight: bold;">当前比例总和为：@{ConfigurationKey_BrokerageLeve1+ConfigurationKey_BrokerageLeve2+ConfigurationKey_BrokerageLeve3+ConfigurationKey_BrokerageLeve4+ConfigurationKey_BrokerageLeve5+ConfigurationKey_BrokerageLeve6}@</span></label>
        </p>
        <form ng-submit="saveLeveConfiguration()" class="ui form">
            <div class="ui three column grid">
                <div class="row">
                    <div class="column">
                        <div class="field">
                            <label>1级佣金比例（%）：</label>
                            <input placeholder="比例" max="100" required ng-model="ConfigurationKey_BrokerageLeve1"
                                   min="0" type="number">
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label>2级佣金比例（%）：</label>
                            <input placeholder="比例" max="100" required ng-model="ConfigurationKey_BrokerageLeve2"
                                   min="0" type="number">
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label>3级佣金比例（%）：</label>
                            <input placeholder="比例" max="100" required ng-model="ConfigurationKey_BrokerageLeve3"
                                   min="0" type="number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                            <div class="field">
                                <label>4级佣金比例（%）：</label>
                                <input placeholder="比例" max="100" required ng-model="ConfigurationKey_BrokerageLeve4"
                                       min="0" type="number">
                            </div>
                    </div>
                    <div class="column">
                            <div class="field">
                                <label>5级佣金比例（%）：</label>
                                <input placeholder="比例" max="100" required ng-model="ConfigurationKey_BrokerageLeve5"
                                       min="0" type="number">
                            </div>
                    </div>
                    <div class="column">
                            <div class="field">
                                <label>6级佣金比例（%）：</label>
                                <input placeholder="比例" max="100" required ng-model="ConfigurationKey_BrokerageLeve6"
                                       min="0" type="number">
                            </div>

                    </div>
                </div>
            </div>
            <div class="ui column grid">
                <div class="row">
                    <div class="column">
                        <div class="field">
                            <label></label>
                            <button class="ui fluid blue button" type="submit">修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>

