<div class="ui container">
    <p>
        <a class="ui red ribbon label">销售概况</a>
    </p>


    <form style="margin-bottom: 20px;" ng-submit="submit()">
        <div class="ui mini menu">

            <div class="menu">

                <div class="item">
                    <div class="ui input">
                        <input ng-model="StartTime" required type="date">
                    </div>
                </div>
                <div class="item">
                    至
                </div>
                <div class="item">
                    <div class="ui input">
                        <input ng-model="EndTime" required type="date">
                    </div>
                </div>
                <div class="item" >
                    <button type="submit" class="ui red button">确定</button>
                </div>

            </div>
        </div>

    </form>



    <div class="ui four column grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">产品销售：@{situation.Orders.TotalCount}@</div>
                </div>
                <div class="extra content">
                    <div class="header">销售额：@{situation.Orders.TotalMoney/100|currency}@</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">卡卷：@{situation.Voucher.TotalCount}@</div>
                </div>
                <div class="extra content">
                    <div class="header">销售额：@{situation.Voucher.TotalMoney/100|currency}@</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">积分兑换：@{situation.ScoreGoods.TotalCount}@</div>
                </div>
                <div class="extra content">
                    <div class="header">总积分：@{situation.ScoreGoods.TotalScore}@</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">用户注册：@{situation.User.TotalCount}@</div>
                </div>
                <div class="extra content">
                    <div class="header">在线用户：@{situation.User.OnlineCount}@</div>
                </div>
            </div>
        </div>
    </div>
</div>