address-component{

}
image-uploader{
    display: block;
}


.BusyMessage {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:9999; /* 此处的图层要大于页面 */
    background: rgba(12,12,12,0.1);
}

.BusyMessage .content
{
    display: block;
    position: relative;
    width :200px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
    background: #000;
    filter: alpha(opacity=70); /* IE的透明度 */
    opacity: 0.7;  /* 透明度 */
    border-radius: 5px;
    text-align: center;
}

.BusyMessage .content label
{
    display: block;
    position: relative;
    top: 30px;
    color: #fff;
    line-height: 20px;
    padding: 0 15px;
}