<div id="menus">

    <p>
        <a class="ui large red ribbon label">菜单管理</a>
    </p>

    <div class="ui form">
        <div class="inline fields">
            <div class="field">
                <label>分类</label>
            </div>
            <div class="four wide field">
                <select ng-model="MContentSubTypeID" ng-change="changeContentSubTypes()" ng-options="key as value.SubType.Name for (key , value) in ContentSubTypes" required >
                    <option></option>
                </select>
            </div>
            <div class="four wide field">
                <select ng-model="MContentSubTypeChildID" ng-change="changeContentSubTypeChilds()" ng-options="key as value.Name for (key , value) in ContentSubTypes[MContentSubTypeID].SubTypeChildren" required>
                    <option></option>
                </select>
            </div>
            <div class="five wide field right aligned">
                <a href="#!/add_@{Type}@?ContentItemID=@{ContentItemID}@" class="ui green button"> <i class="add icon"></i>添加文章</a>
            </div>
        </div>
    </div>

    <table width="100%" id="table_local" class="ui teal table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>标题</th>
            <th>作者</th>
            <th>浏览量</th>
            <th>类型</th>
            <th>分类</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>
</div>