<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的海报-长按保存</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script type="text/javascript" src="/resources/jquery/jquery-3.3.1.min.js"></script>
    <style>
        html,body{
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        #posterImage{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border:none;
        }
        #tipbox{
            background: rgba(255,255,255,0.75);
            position: fixed;
            width: 100%;
            text-align: center;
            bottom: 0px;
            padding: 10px 0px;
        }
    </style>
    <script>

        function drawImage(posterImage,headImage,qrcodeImage) {

            var gw =750;
            var gh =1334;

            poster.fillStyle = 'red';
            poster.drawImage(posterImage,0,0,gw,gh);
            poster.drawImage(headImage,20,20, 60, 60);

            poster.drawImage(qrcodeImage,(gw-250)/2,700, 250, 250);

            //poster.drawImage(posterImage,0,0,1080,1920);

            /*poster.save();
            //poster.drawImage(headImage, 500, 500, 120, 120);
            poster.globalCompositeOperation="source-in";
            poster.arc(500, 500, 120,0,2*Math.PI);
            poster.fillStyle="red";
            poster.fill();
            poster.restore();*/


            poster.save();
            poster.shadowColor = '#fff';
            // 将阴影向右移动15px，向上移动10px
            poster.shadowOffsetX = 0;
            poster.shadowOffsetY = 0;
            // 轻微模糊阴影
            poster.shadowBlur = 5;

            poster.font = '30px bold';//字体大小也会影响的哦。bold italic
            poster.lineWidth = 8;
            poster.strokeStyle = "#fff";


            var text = "{{.params.User.Name}}";
            var textWidth = poster.measureText(text).width;

            var textX =100;
            var textY =(60+22)/2+20;

            poster.strokeText(text, textX, textY);
            poster.fillStyle ="#333";
            poster.fillText(text, textX, textY);


            poster.restore();


            $("#posterImage").attr("src", canvas.toDataURL("image/png"));

            $("#tipbox").text("长按图片保存到手机，分享给好友");

        }

        function onload(qrcodeUrl,posterImageUrl) {
            //alert(qrcodeUrl)
            //alert(posterImageUrl)
            var posterImage = new Image();
            posterImage.setAttribute('crossOrigin', 'anonymous');
            posterImage.onload = function() {

                var headImage = new Image();
                headImage.setAttribute('crossOrigin', 'anonymous');
                headImage.onload=function () {

                    var qrcodeImage = new Image();
                    qrcodeImage.setAttribute('crossOrigin', 'anonymous');
                    qrcodeImage.onload=function () {

                        drawImage(posterImage,headImage,qrcodeImage);
                    }
                    qrcodeImage.onerror=function (ev) {
                        alert("抱歉，获取二维码图片失败。");
                    }
                    qrcodeImage.src=qrcodeUrl;
                }
                headImage.onerror=function (ev) {
                    alert("抱歉，获取头像图片失败。");
                }
                headImage.src="/file/net/load?url="+unescape("{{.params.User.Portrait}}");
                //console.log(headImage.src)
            };
            posterImage.onerror=function (ev) {
                alert("抱歉，获取海报图片失败。");
            }
            posterImage.src=posterImageUrl;
        }

        var canvas;
        var poster;

        $(document).ready(function () {

            canvas = document.getElementById("canvas");
            poster = canvas.getContext("2d");

            $.getJSON("/images/miniprogram/qrcode?Page={{.query.Page}}&UserID={{.query.UserID}}",function(result){
                //console.log("/file/temp/load?path="+result.Data);
                $.post("/configuration/list",JSON.stringify([1002]),function(configurationResult){
                    let posterImageUrl = configurationResult.Data[1002];
                    if (posterImageUrl.length==0|| posterImageUrl==undefined||posterImageUrl==""){
                        posterImageUrl="resources/poster/images/poster.jpg";
                    }
                    onload("/file/temp/load?path="+result.Data,posterImageUrl);
                },"json");
            });

        });

    </script>
</head>
<body>
<canvas style="display: none;visibility: hidden;border:none;" width="750" height="1334" id="canvas"></canvas>
<img id="posterImage">
<div id="tipbox">图片生成中，请稍候</div>
</body>
</html>