<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.params.GoodsInfo.Goods.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script type="text/javascript" src="/resources/jquery/jquery-3.3.1.min.js"></script>
    <style>
        html,body{
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        #posterImage{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border:none;
        }
        #tipbox{
            background: rgba(255,255,255,0.75);
            position: fixed;
            width: 100%;
            text-align: center;
            bottom: 0px;
            padding: 10px 0px;
        }
    </style>
    <script>

        function drawImage(posterImage,headImage,qrcodeImage,bottomImage) {

            canvas.width=950;

            var imgw = canvas.width;          //canvas与图片的宽高比
            var imgh = (canvas.width/posterImage.width)*posterImage.height;

            canvas.height=imgh+450;

            var gw =canvas.width;
            var gh =canvas.height;

            poster.rect(0,0,gw,gh);
            poster.fillStyle="#ffffff";
            poster.fill();

            //poster.fillStyle = 'red';

            //var tw=gw;
            //var th=1050;


            //var w = posterImage.width;
            //var h = posterImage.height;

            // 裁剪图片中间部分

            console.log("--------",imgw,imgh)

            poster.drawImage(posterImage, 0, 0, posterImage.width, posterImage.height, 0, 0,imgw, imgh);

            /*if(w > tw && h > th || w < tw && h < th){
                if (dw > dh) {
                    poster.drawImage(posterImage, 0, (h - th/dw)/2, w, th/dw, 0, 0, tw, th)
                } else {
                    poster.drawImage(posterImage, (w - tw/dh)/2, 0, tw/dh, h, 0, 0, tw, th)
                }
            }
            // 拉伸图片
            else{
                if(w < tw){
                    poster.drawImage(posterImage, 0, (h - th/dw)/2, w, th/dw, 0, 0, tw, th)
                }else {
                    poster.drawImage(posterImage, (w - tw/dh)/2, 0, tw/dh, h, 0, 0, tw, th)
                }
            }*/


            poster.drawImage(headImage,20,20, 60, 60);

            //写用户名称
            poster.save();
            poster.shadowColor = '#fff';
            // 将阴影向右移动15px，向上移动10px
            poster.shadowOffsetX = 0;
            poster.shadowOffsetY = 0;
            // 轻微模糊阴影
            poster.shadowBlur = 5;

            poster.font = '30px bold';//字体大小也会影响的哦。bold italic
            poster.lineWidth = 8;
            poster.strokeStyle = "#fff";

            var text = "{{.params.User.Name}}";
            var textWidth = poster.measureText(text).width;
            var textX =100;
            var textY =(60+22)/2+20;
            poster.strokeText(text, textX, textY);
            poster.fillStyle ="#333";
            poster.fillText(text, textX, textY);
            poster.restore();


            //写商品标题
            poster.save();
            poster.shadowColor = '#fff';
            // 将阴影向右移动15px，向上移动10px
            poster.shadowOffsetX = 0;
            poster.shadowOffsetY = 0;
            // 轻微模糊阴影
            poster.shadowBlur = 5;

            poster.lineWidth = 8;
            poster.strokeStyle = "#fff";

            var lineHeight = 0;

            var maxTitleLenght = 60;
            var text = "{{.params.GoodsInfo.Goods.Title}}";

            if(text.length>36){
                //text=text.substr(0,120);
                if(text.length>maxTitleLenght){
                    text=text.substr(0,maxTitleLenght)+"...";
                }
                poster.font = '28px bold';//字体大小也会影响的哦。bold italic
                lineHeight=28+20
            }else{
                poster.font = '40px bold';//字体大小也会影响的哦。bold italic
                lineHeight=40+20
            }
            var textY =imgh+lineHeight+30;
            poster.fillStyle ="#323232";
            var lineWidth=20;
            var lineTotalWidth=gw*0.70;
            for(var i=0;i<text.length;i++){
                if(lineWidth+poster.measureText(text[i]).width>lineTotalWidth){
                    textY+=lineHeight;
                    lineWidth=20;
                }
                poster.fillText(text[i], lineWidth, textY);
                lineWidth+=poster.measureText(text[i]).width;
                console.log(text[i],lineWidth)
                if(lineWidth>lineTotalWidth){
                    textY+=lineHeight;
                    lineWidth=20;
                }
            }

            poster.restore();


            //写用价格
            poster.save();
            poster.shadowColor = '#fff';
            // 将阴影向右移动15px，向上移动10px
            poster.shadowOffsetX = 0;
            poster.shadowOffsetY = 0;
            // 轻微模糊阴影
            poster.shadowBlur = 5;

            poster.font = '28px bold';//。bold italic
            poster.lineWidth = 8;
            poster.strokeStyle = "#fff";

            var text = "价格：￥";

            var textX =20;
            textY+=100+20;
            //var textY =(60+22)/2+20;
            poster.strokeText(text, textX, textY);
            poster.fillStyle ="#323232";
            poster.fillText(text, textX, textY);


            textX+=poster.measureText(text).width;
            poster.font = '50px bold';//。bold italic

            text = parseFloat(parseFloat({{.params.GoodsInfo.Goods.Price}})/100).toFixed(2);
            poster.fillStyle ="#ff2300";
            poster.fillText(text, textX, textY);

            poster.restore();

            //poster.drawImage(qrcodeImage,(gw-250-1),750-250-1, 250, 250);
            poster.drawImage(qrcodeImage,(gw-250-10),imgh+30, 250, 250);
            poster.fillStyle ="#888";
            poster.font = '25px bold';//。bold italic
            poster.fillText("-长按或扫码购买-", (gw-250+10), imgh+30+250+40,250);


            //bottomImage
            poster.drawImage(bottomImage,0,gh-60, gw, 60);

            /*//写详细
            poster.save();
            poster.shadowColor = '#fff';
            // 将阴影向右移动15px，向上移动10px
            poster.shadowOffsetX = 0;
            poster.shadowOffsetY = 0;
            // 轻微模糊阴影
            poster.shadowBlur = 5;
            poster.font = '28px bold';//字体大小也会影响的哦。bold italic
            poster.lineWidth = 8;
            poster.strokeStyle = "#fff";

            var text = "{{.params.GoodsInfo.Goods.Introduce}}";

            if(text.length>120){
                //text=text.substr(0,120);

                text=text.substr(0,120);

                poster.font = '16px bold';//字体大小也会影响的哦。bold italic
                lineHeight=16+10
            }else{
                poster.font = '28px bold';//字体大小也会影响的哦。bold italic
                lineHeight=28+10
            }

            //text=text.substr(0,100);
            //var textY =th+40+20;
            textY+=50+20;
            poster.fillStyle ="#323232";
            var lineWidth=10;
            for(var i=0;i<text.length;i++){
                if(lineWidth+poster.measureText(text[i]).width>gw){
                    textY+=30+10;
                    lineWidth=10;
                }
                poster.fillText(text[i], lineWidth, textY);
                lineWidth+=poster.measureText(text[i]).width;
                console.log(text[i],lineWidth)
                if(lineWidth>gw){
                    textY+=30+20;
                    lineWidth=10;
                }
            }

            poster.restore();*/



            $("#posterImage").attr("src", canvas.toDataURL("image/png"));

            $("#tipbox").text("长按图片保存到手机，分享给好友");

        }

        function onload(qrcodeUrl,posterImageUrl) {
            //alert(qrcodeUrl)
            //alert(posterImageUrl)
            var posterImage = new Image();
            posterImage.setAttribute('crossOrigin', 'anonymous');
            posterImage.onload = function() {

                var headImage = new Image();
                headImage.setAttribute('crossOrigin', 'anonymous');
                headImage.onload=function () {

                    var qrcodeImage = new Image();
                    qrcodeImage.setAttribute('crossOrigin', 'anonymous');
                    qrcodeImage.onload=function () {

                        var bottomImage = new Image();
                        bottomImage.setAttribute('crossOrigin', 'anonymous');
                        bottomImage.onload=function () {

                            drawImage(posterImage,headImage,qrcodeImage,bottomImage);
                        }
                        bottomImage.onerror=function (ev) {
                            alert("抱歉，获取Bottom图片失败。");
                        }
                        bottomImage.src="/resources/poster/images/luckbuy_logo.jpg";
                    }
                    qrcodeImage.onerror=function (ev) {
                        alert("抱歉，获取二维码图片失败。");
                    }
                    qrcodeImage.src=qrcodeUrl;
                }
                headImage.onerror=function (ev) {
                    alert("抱歉，获取头像图片失败。");
                }
                headImage.src="/file/net/load?url="+unescape("{{.params.User.Portrait}}");
                //console.log(headImage.src)
            };
            posterImage.onerror=function (ev) {
                alert("抱歉，获取海报图片失败。");
            }
            posterImage.src=posterImageUrl;
        }

        var canvas;
        var poster;
        //
        $(document).ready(function () {



            canvas = document.getElementById("canvas");
            poster = canvas.getContext("2d");

            $.getJSON("/images/miniprogram/qrcode?Page={{.query.Page}}&ProductID={{.query.ProductID}}&UserID={{.query.UserID}}",function(result){
                //console.log("/file/temp/load?path="+result.Data);
                var goodsImages=JSON.parse({{.params.GoodsInfo.Goods.Images}});
                console.log(goodsImages);
                onload("/file/temp/load?path="+result.Data,goodsImages[0]);

            });

        });

    </script>
</head>
<body>
<canvas style="display: none;visibility: hidden;border:none;" id="canvas"></canvas>
<img id="posterImage">
<div id="tipbox">图片生成中，请稍候</div>
</body>
</html>