name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
        
    - name: Granting private modules access
      run: |
        git config --global url."https://${{ secrets.TOKEN }}:x-oauth-basic@github.com/nbvghost".insteadOf "https://github.com/nbvghost"

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
